<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.product.ProductSubDOMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.product.ProductSubDO">
    <id column="sub_id" jdbcType="INTEGER" property="subId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="sub_mid" jdbcType="VARCHAR" property="subMid" />
    <result column="sub_number" jdbcType="VARCHAR" property="subNumber" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    sub_id, product_id, sub_mid, sub_number, active, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product_sub
    where sub_id = #{subId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_product_sub
    where sub_id = #{subId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.product.ProductSubDO">
    insert into t_product_sub (sub_id, product_id, sub_mid,
      sub_number, active, create_time, 
      update_time)
    values (#{subId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{subMid,jdbcType=VARCHAR},
      #{subNumber,jdbcType=VARCHAR}, #{active,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.product.ProductSubDO">
    insert into t_product_sub
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subId != null">
        sub_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="subMid != null">
        sub_mid,
      </if>
      <if test="subNumber != null">
        sub_number,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subId != null">
        #{subId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="subMid != null">
        #{subMid,jdbcType=VARCHAR},
      </if>
      <if test="subNumber != null">
        #{subNumber,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.product.ProductSubDO">
    update t_product_sub
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="subMid != null">
        sub_mid = #{subMid,jdbcType=VARCHAR},
      </if>
      <if test="subNumber != null">
        sub_number = #{subNumber,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sub_id = #{subId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.product.ProductSubDO">
    update t_product_sub
    set product_id = #{productId,jdbcType=INTEGER},
      sub_mid = #{subMid,jdbcType=VARCHAR},
      sub_number = #{subNumber,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where sub_id = #{subId,jdbcType=INTEGER}
  </update>

  <select id="selectBySub" resultMap="BaseResultMap">
    select * from t_product_sub where product_id = #{subId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByProductId">
    delete from t_product_sub where product_id =#{productId,jdbcType=INTEGER}
  </delete>
</mapper>