<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.forecast.ForecastMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.forecast.Forecast">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="operation_year_month" jdbcType="VARCHAR" property="operationYearMonth" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_abbreviation" jdbcType="VARCHAR" property="customerAbbreviation" />
    <result column="forecast_type" jdbcType="VARCHAR" property="forecastType" />
    <result column="vm_number" jdbcType="VARCHAR" property="vmNumber" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="close_date" jdbcType="VARCHAR" property="closeDate" />
    <result column="delay_stock" jdbcType="VARCHAR" property="delayStock" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="amb_leader" jdbcType="VARCHAR" property="ambLeader" />
    <result column="sale_people" jdbcType="VARCHAR" property="salePeople" />
    <result column="sd_people" jdbcType="VARCHAR" property="sdPeople" />
    <result column="bu" jdbcType="VARCHAR" property="bu" />
    <result column="pdt" jdbcType="VARCHAR" property="pdt" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="product_model" jdbcType="VARCHAR" property="productModel" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="agency_status_type" jdbcType="INTEGER" property="agencyStatusType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="operation_time" jdbcType="TIMESTAMP" property="operationTime" />
    <result column="operation_user_id" jdbcType="INTEGER" property="operationUserId" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="bi_id" jdbcType="VARCHAR" property="biId" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="status_desc" jdbcType="VARCHAR" property="statusDesc" />
    <result column="operation_remark" jdbcType="VARCHAR" property="operationRemark" />
    <result column="create_time_str" jdbcType="VARCHAR" property="createTimeStr" />
    <result column="agency_abbreviation" jdbcType="VARCHAR" property="agencyAbbreviation" />
    <result column="po_price" jdbcType="VARCHAR" property="poPrice" />
    <result column="representative" jdbcType="VARCHAR" property="representative" />
  </resultMap>

  <resultMap id="fullFieldMap" type="com.crazy.portal.entity.forecast.Forecast" extends="BaseResultMap" >
    <association property="line" resultMap="com.crazy.portal.dao.forecast.ForecastLineMapper.BaseResultMap" />
  </resultMap>

  <sql id="Base_Column_List">
    id, company, operation_year_month, customer_name, customer_abbreviation, forecast_type, vm_number,
    version, close_date, delay_stock, customer_type, channel, amb_leader, sale_people, 
    sd_people, bu, pdt, product_type, platform, product_model, status, agency_status_type, 
    create_time, create_user_id, update_time, update_user_id, operation_time, operation_user_id,
    error_msg, bi_id, batch_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_forecast
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_forecast
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.forecast.Forecast">
    insert into t_forecast (id, company, operation_year_month,
      customer_name, customer_abbreviation, forecast_type, 
      vm_number, version, close_date, 
      delay_stock, customer_type, channel, 
      amb_leader, sale_people, sd_people, 
      bu, pdt, product_type, 
      platform, product_model, status, 
      agency_status_type, create_time, create_user_id, 
      update_time, update_user_id, operation_time, 
      operation_user_id)
    values (#{id,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, #{operationYearMonth,jdbcType=VARCHAR},
      #{customerName,jdbcType=VARCHAR}, #{customerAbbreviation,jdbcType=VARCHAR}, #{forecastType,jdbcType=VARCHAR}, 
      #{vmNumber,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{closeDate,jdbcType=VARCHAR}, 
      #{delayStock,jdbcType=VARCHAR}, #{customerType,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, 
      #{ambLeader,jdbcType=VARCHAR}, #{salePeople,jdbcType=VARCHAR}, #{sdPeople,jdbcType=VARCHAR}, 
      #{bu,jdbcType=VARCHAR}, #{pdt,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, 
      #{platform,jdbcType=VARCHAR}, #{productModel,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{agencyStatusType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{operationTime,jdbcType=TIMESTAMP}, 
      #{operationUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.crazy.portal.entity.forecast.Forecast">
    insert into t_forecast
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="operationYearMonth != null">
        operation_year_month,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="customerAbbreviation != null">
        customer_abbreviation,
      </if>
      <if test="forecastType != null">
        forecast_type,
      </if>
      <if test="vmNumber != null">
        vm_number,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="closeDate != null">
        close_date,
      </if>
      <if test="delayStock != null">
        delay_stock,
      </if>
      <if test="customerType != null">
        customer_type,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="ambLeader != null">
        amb_leader,
      </if>
      <if test="salePeople != null">
        sale_people,
      </if>
      <if test="sdPeople != null">
        sd_people,
      </if>
      <if test="bu != null">
        bu,
      </if>
      <if test="pdt != null">
        pdt,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="productModel != null">
        product_model,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="agencyStatusType != null">
        agency_status_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="operationTime != null">
        operation_time,
      </if>
      <if test="operationUserId != null">
        operation_user_id,
      </if>
      <if test="errorMsg != null" >
        error_msg,
      </if>
      <if test="biId != null" >
        bi_id,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="agencyAbbreviation != null" >
        agency_abbreviation,
      </if>
      <if test="operationRemark != null" >
        operation_remark,
      </if>
      <if test="representative != null" >
        representative,
      </if>
      <if test="poPrice != null" >
        po_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="operationYearMonth != null">
        #{operationYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerAbbreviation != null">
        #{customerAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="forecastType != null">
        #{forecastType,jdbcType=VARCHAR},
      </if>
      <if test="vmNumber != null">
        #{vmNumber,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="closeDate != null">
        #{closeDate,jdbcType=VARCHAR},
      </if>
      <if test="delayStock != null">
        #{delayStock,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="ambLeader != null">
        #{ambLeader,jdbcType=VARCHAR},
      </if>
      <if test="salePeople != null">
        #{salePeople,jdbcType=VARCHAR},
      </if>
      <if test="sdPeople != null">
        #{sdPeople,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        #{bu,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="agencyStatusType != null">
        #{agencyStatusType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null">
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationUserId != null">
        #{operationUserId,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="biId != null" >
        #{biId,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="agencyAbbreviation != null" >
        #{agencyAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="operationRemark != null" >
        #{operationRemark,jdbcType=VARCHAR},
      </if>
      <if test="representative != null" >
        #{representative,jdbcType=VARCHAR},
      </if>
      <if test="poPrice != null" >
        #{poPrice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.forecast.Forecast">
    update t_forecast
    <set>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="operationYearMonth != null">
        operation_year_month = #{operationYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerAbbreviation != null">
        customer_abbreviation = #{customerAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="forecastType != null">
        forecast_type = #{forecastType,jdbcType=VARCHAR},
      </if>
      <if test="vmNumber != null">
        vm_number = #{vmNumber,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="closeDate != null">
        close_date = #{closeDate,jdbcType=VARCHAR},
      </if>
      <if test="delayStock != null">
        delay_stock = #{delayStock,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="ambLeader != null">
        amb_leader = #{ambLeader,jdbcType=VARCHAR},
      </if>
      <if test="salePeople != null">
        sale_people = #{salePeople,jdbcType=VARCHAR},
      </if>
      <if test="sdPeople != null">
        sd_people = #{sdPeople,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        bu = #{bu,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        pdt = #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="agencyStatusType != null">
        agency_status_type = #{agencyStatusType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null">
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationUserId != null">
        operation_user_id = #{operationUserId,jdbcType=INTEGER},
      </if>
      <if test="operationRemark != null" >
        operation_remark = #{operationRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.forecast.Forecast">
    update t_forecast
    set company = #{company,jdbcType=VARCHAR},
      operation_year_month = #{operationYearMonth,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      customer_abbreviation = #{customerAbbreviation,jdbcType=VARCHAR},
      forecast_type = #{forecastType,jdbcType=VARCHAR},
      vm_number = #{vmNumber,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      close_date = #{closeDate,jdbcType=VARCHAR},
      delay_stock = #{delayStock,jdbcType=VARCHAR},
      customer_type = #{customerType,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      amb_leader = #{ambLeader,jdbcType=VARCHAR},
      sale_people = #{salePeople,jdbcType=VARCHAR},
      sd_people = #{sdPeople,jdbcType=VARCHAR},
      bu = #{bu,jdbcType=VARCHAR},
      pdt = #{pdt,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      product_model = #{productModel,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      agency_status_type = #{agencyStatusType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      operation_time = #{operationTime,jdbcType=TIMESTAMP},
      operation_user_id = #{operationUserId,jdbcType=INTEGER},
      error_msg = #{errorMsg}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByYearMonth" resultMap="fullFieldMap" >
    select
    a.*,b.*,date_format(a.create_time, '%Y-%m-%d %H:%i:%s') create_time_str
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where a.operation_year_month = #{yearMonth,jdbcType=VARCHAR}
    and a.create_user_id = #{userId,jdbcType=INTEGER}
    and a.status is not null and a.status = 2
  </select>

  <select id="selectErrorDataByBatch" resultMap="fullFieldMap" >
    select a.*,b.*,date_format(a.create_time, '%Y-%m-%d %H:%i:%s') create_time_str
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where a.error_msg is not null and a.error_msg != ''
    and a.batch_no = #{batchNo,jdbcType=VARCHAR} and a.create_user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectNotErrorDataByBatch" resultMap="fullFieldMap" >
    select a.*,b.*,date_format(a.create_time, '%Y-%m-%d %H:%i:%s') create_time_str
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where (a.error_msg is null or a.error_msg = '')
    and a.batch_no = #{batchNo,jdbcType=VARCHAR} and a.create_user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="countErrorDataByBatch" resultType="java.lang.Integer" >
    select count(1) from t_forecast a
    where a.error_msg is not null and a.error_msg != ''
    and a.batch_no = #{batchNo,jdbcType=VARCHAR} and a.create_user_id = #{userId,jdbcType=INTEGER}
  </select>

  <update id="updateStatus" >
    update t_forecast set status = #{status},agency_status_type = #{agencyStatusType}
    where batch_no = #{batchNo,jdbcType=VARCHAR} and create_user_id = #{userId,jdbcType=INTEGER}
  </update>

  <select id="selectPageByUser" resultMap="fullFieldMap" >
    select a.*,b.*,date_format(a.create_time, '%Y-%m-%d %H:%i:%s') create_time_str
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where a.create_user_id = #{userId,jdbcType=INTEGER}
    <choose>
      <when test="status != null" >
        and a.status is not null and a.status = #{status,jdbcType=INTEGER}
      </when>
      <when test="status == null" >
        and a.status != -1 and a.status is not null
      </when>
      <otherwise>
        and a.status = #{status,jdbcType=INTEGER}
      </otherwise>
    </choose>
    <if test="customerAbbreviation != null and customerAbbreviation != ''" >
      and a.customer_abbreviation like concat('%', #{customerAbbreviation,jdbcType=VARCHAR}, '%')
    </if>
    <if test="salePeople != null and salePeople != ''" >
      and a.sale_people like concat('%', #{salePeople,jdbcType=VARCHAR}, '%')
    </if>
    <if test="amb != null and amb != ''" >
      and a.amb_leader like concat('%', #{amb,jdbcType=VARCHAR}, '%')
    </if>
    <if test="sd != null and sd != ''" >
      and a.sd_people like concat('%', #{sd,jdbcType=VARCHAR}, '%')
    </if>
    <if test="uploadStartTime != null and uploadStartTime != '' and uploadEndTime != null and uploadEndTime != ''" >
      and a.create_time between #{uploadStartTime,jdbcType=VARCHAR} and #{uploadEndTime,jdbcType=VARCHAR}
    </if>
    <if test="uploadStartTime != null and uploadStartTime != '' and (uploadEndTime == null or uploadEndTime == '')" >
      and a.create_time >= #{uploadStartTime,jdbcType=VARCHAR}
    </if>
    <if test="(uploadStartTime == null or uploadStartTime == '') and uploadEndTime != null and uploadEndTime != ''" >
      <![CDATA[ and a.create_time <= #{uploadEndTime,jdbcType=VARCHAR} ]]>
    </if>
    order by a.create_time desc, a.batch_no asc
  </select>

  <select id="selectByLeader" resultMap="fullFieldMap" >
    select a.status statusDesc,a.*,b.*,date_format(a.create_time, '%Y-%m-%d %H:%i:%s') create_time_str
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where 1 = 1
    and a.status in (1,3,4)
    <if test="customerAbbreviation != null and customerAbbreviation != ''" >
      and a.customer_abbreviation like concat('%', #{customerAbbreviation,jdbcType=VARCHAR}, '%')
    </if>
    <if test="salePeople != null and salePeople != ''" >
      and a.sale_people like concat('%', #{salePeople,jdbcType=VARCHAR}, '%')
    </if>
    <if test="uploadStartTime != null and uploadStartTime != '' and uploadEndTime != null and uploadEndTime != ''" >
      and a.create_time between #{uploadStartTime,jdbcType=VARCHAR} and #{uploadEndTime,jdbcType=VARCHAR}
    </if>
    <if test="uploadStartTime != null and uploadStartTime != '' and (uploadEndTime == null or uploadEndTime == '')" >
      and a.create_time >= #{uploadStartTime,jdbcType=VARCHAR}
    </if>
    <if test="(uploadStartTime == null or uploadStartTime == '') and uploadEndTime != null and uploadEndTime != ''" >
      <![CDATA[ and a.create_time <= #{uploadEndTime,jdbcType=VARCHAR} ]]>
    </if>
    <if test="ambPeople != null and ambPeople != ''" >
      and a.amb_leader like concat('%', #{ambPeople,jdbcType=VARCHAR}, '%')
    </if>
    <if test="sdPeople != null and sdPeople != ''" >
      and a.sd_people like concat('%', #{sdPeople,jdbcType=VARCHAR}, '%')
    </if>
    <if test="agencyAbbreviation != null and agencyAbbreviation != ''" >
      and a.agency_abbreviation like concat('%', #{agencyAbbreviation,jdbcType=VARCHAR}, '%')
    </if>
    <if test="channel != null and channel != ''" >
      and a.channel like concat('%', #{channel,jdbcType=VARCHAR}, '%')
    </if>
    <foreach collection="userIds" item="item" index="index" open=" and a.create_user_id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
    order by a.create_time desc, a.batch_no asc
  </select>

  <select id="selectBiDataByLeader" resultMap="fullFieldMap" >
    select a.status statusDesc,a.*,b.*,date_format(a.create_time, '%Y-%m-%d %H:%i:%s') create_time_str
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where 1 = 1
    and a.status = 2
    <if test="customerAbbreviation != null and customerAbbreviation != ''" >
      and a.customer_abbreviation like concat('%', #{customerAbbreviation,jdbcType=VARCHAR}, '%')
    </if>
    <if test="salePeople != null and salePeople != ''" >
      and a.sale_people like concat('%', #{salePeople,jdbcType=VARCHAR}, '%')
    </if>
    <if test="uploadStartTime != null and uploadStartTime != '' and uploadEndTime != null and uploadEndTime != ''" >
      and a.create_time between #{uploadStartTime,jdbcType=VARCHAR} and #{uploadEndTime,jdbcType=VARCHAR}
    </if>
    <if test="uploadStartTime != null and uploadStartTime != '' and (uploadEndTime == null or uploadEndTime == '')" >
      and a.create_time >= #{uploadStartTime,jdbcType=VARCHAR}
    </if>
    <if test="(uploadStartTime == null or uploadStartTime == '') and uploadEndTime != null and uploadEndTime != ''" >
      <![CDATA[ and a.create_time <= #{uploadEndTime,jdbcType=VARCHAR} ]]>
    </if>
    <if test="agencyAbbreviation != null and agencyAbbreviation != ''" >
      and a.agency_abbreviation like concat('%', #{agencyAbbreviation,jdbcType=VARCHAR}, '%')
    </if>
    <if test="channel != null and channel != ''" >
      and a.channel like concat('%', #{channel,jdbcType=VARCHAR}, '%')
    </if>
    <foreach collection="userIds" item="item" index="index" open="and a.create_user_id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
    order by a.create_time desc, a.batch_no asc
  </select>

  <select id="selectBiDataBySales" resultMap="fullFieldMap" >
    select a.status statusDesc,a.*,b.*,date_format(a.create_time, '%Y-%m-%d %H:%i:%s') create_time_str
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where 1 = 1
    and a.status = 2
    <if test="customerAbbreviation != null and customerAbbreviation != ''" >
      and a.customer_abbreviation like concat('%', #{customerAbbreviation,jdbcType=VARCHAR}, '%')
    </if>
    <if test="salePeople != null and salePeople != ''" >
      and a.sale_people like concat('%', #{salePeople,jdbcType=VARCHAR}, '%')
    </if>
    <if test="uploadStartTime != null and uploadStartTime != '' and uploadEndTime != null and uploadEndTime != ''" >
      and a.create_time between #{uploadStartTime,jdbcType=VARCHAR} and #{uploadEndTime,jdbcType=VARCHAR}
    </if>
    <if test="uploadStartTime != null and uploadStartTime != '' and (uploadEndTime == null or uploadEndTime == '')" >
      and a.create_time >= #{uploadStartTime,jdbcType=VARCHAR}
    </if>
    <if test="(uploadStartTime == null or uploadStartTime == '') and uploadEndTime != null and uploadEndTime != ''" >
      <![CDATA[ and a.create_time <= #{uploadEndTime,jdbcType=VARCHAR} ]]>
    </if>
    <if test="agencyAbbreviation != null and agencyAbbreviation != ''" >
      and a.agency_abbreviation like concat('%', #{agencyAbbreviation,jdbcType=VARCHAR}, '%')
    </if>
    <if test="channel != null and channel != ''" >
      and a.channel like concat('%', #{channel,jdbcType=VARCHAR}, '%')
    </if>
    <foreach collection="custNameList" item="item" index="index" open=" and a.customer_abbreviation in (" separator="," close=")" >
      #{item,jdbcType=VARCHAR}
    </foreach>
    order by a.create_time desc, a.batch_no asc
  </select>

  <select id="selectCntByBatchAndId" resultType="java.lang.Integer" >
    select count(1) from t_forecast a
    where a.batch_no = #{batchNo,jdbcType=VARCHAR}
    <foreach collection="list" item="item" index="index" open="and a.id in (" separator="," close=")" >
       #{item.id,jdbcType=INTEGER}
    </foreach>
    and a.create_user_id = #{userId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByBatchNo" >
    delete from t_forecast
    where batch_no = #{batchNo,jdbcType=VARCHAR} and create_user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <select id="selectRejectDataByIds" resultMap="fullFieldMap" >
    select a.*,b.*,date_format(a.create_time, '%Y-%m-%d %H:%i:%s') create_time_str
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where a.create_user_id = #{userId,jdbcType=INTEGER}
    and a.status = -1
    <foreach collection="ids" item="item" index="index" open="and a.id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
  </select>

  <update id="updateStatusByIds" >
    update t_forecast set status = #{status},operation_remark = #{operationRemark,jdbcType=VARCHAR}
    where 1 = 1
    <foreach collection="ids" item="item" index="index" open="and id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
  </update>

  <delete id="deleteByBiIds" >
    delete from t_forecast
    where bi_id is not null
    <choose>
      <when test="ids != null">
        <foreach collection="ids" item="item" index="index" open=" and bi_id in (" separator="," close=")" >
          #{item,jdbcType=INTEGER}
        </foreach>
      </when>
      <otherwise>
        and 1 = 2
      </otherwise>
    </choose>

  </delete>

  <update id="updateErrorMsgById" >
    update t_forecast set error_msg = #{errorMsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByBatchNo" resultMap="fullFieldMap" >
    select a.*,b.*,date_format(a.create_time, '%Y-%m-%d %H:%i:%s') create_time_str
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where a.batch_no = #{batchNo,jdbcType=VARCHAR}
  </select>

  <select id="selectByIds" resultMap="fullFieldMap" >
    select a.*,b.*,date_format(a.create_time, '%Y-%m-%d %H:%i:%s') create_time_str
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where 1 = 1
    <foreach collection="ids" item="item" index="index" open=" and a.id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
  </select>

  <select id="selectByIdsAndMonth" resultMap="fullFieldMap" >
    select a.*,b.*,date_format(a.create_time, '%Y-%m-%d %H:%i:%s') create_time_str
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where a.operation_year_month = #{yearMonth,jdbcType=VARCHAR}
    <choose>
      <when test="userList != null" >
        <foreach collection="userList" item="item" index="index" open=" and a.create_user_id in (" separator="," close=")" >
          #{item,jdbcType=INTEGER}
        </foreach>
      </when>
      <otherwise>
        and 1 = 2
      </otherwise>
    </choose>
  </select>

  <update id="clearErrorMsgByBatch" >
    update t_forecast set error_msg = null where batch_no = #{batchNo,jdbcType=VARCHAR}
  </update>

  <select id="selectRelationByKey" resultMap="fullFieldMap" >
    select a.*,b.*
    from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where a.id = #{id,jdbcType=INTEGER}
  </select>

  <update id="updateBiInfoByKey" >
    update t_forecast set bi_id = #{biId,jdbcType=VARCHAR},error_msg = #{errorMsg,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateBiInfoByBiId" >
    update t_forecast set error_msg = #{errorMsg,jdbcType=VARCHAR} where bi_id = #{biId,jdbcType=VARCHAR}
  </update>

  <select id="selectBatchNoByIds" resultType="java.lang.String" >
    select batch_no from t_forecast a
    where 1 = 1
    <foreach collection="ids" item="item" index="index" open=" and a.id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
    group by batch_no
  </select>
  
  <select id="checkIdenticalMonth" resultType="java.lang.Integer" >
    select count(1) from (
    select
    a.operation_year_month,a.create_user_id
    from t_forecast a
    where 1 = 1
    <foreach collection="ids" item="item" index="index" open=" and a.id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
    group by a.operation_year_month,a.create_user_id
    ) t
  </select>

  <select id="selectMonthByIds" resultType="java.lang.String" >
    select
    a.operation_year_month
    from t_forecast a
    where 1 = 1
    <foreach collection="ids" item="item" index="index" open=" and a.id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
    group by a.operation_year_month
  </select>

  <select id="countDataNumByMonthAndUser" resultType="java.lang.Integer" >
    select
    count(1)
    from t_forecast a
    where 1 = 1
    and a.status in (1,3,4)
    <foreach collection="userList" item="item" index="index" open=" and a.create_user_id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
    and a.operation_year_month = #{operationYearMonth,jdbcType=VARCHAR}
  </select>

  <select id="countDataNumByMonthAndUserByInsert" resultType="java.lang.Integer" >
    select
    count(1)
    from t_forecast a
    where 1 = 1
    and a.status = 1
    <foreach collection="userList" item="item" index="index" open=" and a.create_user_id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
    and a.operation_year_month = #{operationYearMonth,jdbcType=VARCHAR}
  </select>

  <select id="checkAmbAdjustmentNum" resultType="java.lang.Integer" >
    select count(1) from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where 1 = 1
    <foreach collection="ids" item="item" index="" open=" and a.id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
    and (b.amb_adjustment_one is null
    or b.amb_adjustment_two is null
    or b.amb_adjustment_three is null
    or b.amb_adjustment_four is null
    or b.amb_adjustment_five is null
    or b.amb_adjustment_six is null)
  </select>

  <select id="selectOperationTypeByIds" resultType="java.lang.Integer" >
    select a.agency_status_type from t_forecast a
    where 1 = 1
    <foreach collection="ids" item="item" index="index" open=" and a.id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
    group by a.agency_status_type
  </select>

  <select id="checkRecord" parameterType="com.crazy.portal.entity.forecast.Forecast" resultType="java.lang.Integer" >
    select count(1) from t_forecast
    where operation_year_month = #{operationYearMonth,jdbcType=VARCHAR}
    and company = #{company,jdbcType=VARCHAR}
    and customer_abbreviation = #{customerAbbreviation,jdbcType=VARCHAR}
    and forecast_type = #{forecastType,jdbcType=VARCHAR}
    and platform = #{platform,jdbcType=VARCHAR}
    and product_model = #{productModel,jdbcType=VARCHAR}
    and status in (1,2,3,4)

  </select>

  <select id="selectLastValue" parameterType="com.crazy.portal.entity.forecast.Forecast" resultMap="fullFieldMap" >
    select a.*,b.* from t_forecast a
    inner join t_forecast_line b on a.id = b.f_id
    where a.operation_year_month = #{lastMonth,jdbcType=VARCHAR}
    and a.company = #{company,jdbcType=VARCHAR}
    and a.customer_abbreviation = #{customerAbbreviation,jdbcType=VARCHAR}
    and a.forecast_type = #{forecastType,jdbcType=VARCHAR}
    and a.platform = #{platform,jdbcType=VARCHAR}
    and a.product_model = #{productModel,jdbcType=VARCHAR}
    and a.status is not null and a.status != -1
    and a.create_user_id = #{createUserId,jdbcType=INTEGER}
    limit 1
  </select>

  <update id="rejectDataByIds" >
    update t_forecast t
    inner join (
    select a.create_user_id,a.operation_year_month
    from t_forecast a
    where 1 = 1
    <foreach collection="ids" item="item" index="index" open=" and a.id in (" separator="," close=")" >
      #{item,jdbcType=INTEGER}
    </foreach>
    group by a.create_user_id,a.operation_year_month) d
    on t.create_user_id = d.create_user_id and t.operation_year_month = d.operation_year_month
    set t.status = -1,t.operation_remark = #{operationRemark,jdbcType=VARCHAR}
    where t.status = 1
  </update>

  <update id="updatePoPriceById" >
    update t_forecast t set po_price = #{poPrice,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>