<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.basic.BasicSalesMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.basic.BasicSales">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="sales_organize" jdbcType="VARCHAR" property="salesOrganize" />
    <result column="distribution_channel" jdbcType="VARCHAR" property="distributionChannel" />
    <result column="product_group" jdbcType="VARCHAR" property="productGroup" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="shipping_conditions" jdbcType="VARCHAR" property="shippingConditions" />
    <result column="delivery_plant" jdbcType="VARCHAR" property="deliveryPlant" />
    <result column="max_partial_delivery" jdbcType="VARCHAR" property="maxPartialDelivery" />
    <result column="internal_customers" jdbcType="VARCHAR" property="internalCustomers" />
    <result column="account_group" jdbcType="VARCHAR" property="accountGroup" />
    <result column="cust_group" jdbcType="VARCHAR" property="custGroup" />
    <result column="tax_classification" jdbcType="VARCHAR" property="taxClassification" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cust_id, sales_organize, distribution_channel, product_group, currency, shipping_conditions, 
    delivery_plant, max_partial_delivery, internal_customers, account_group, cust_group, 
    tax_classification, active, create_user, create_time, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_basic_sales
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_basic_sales
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.crazy.portal.entity.basic.BasicSales">
    insert into t_basic_sales
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="salesOrganize != null">
        sales_organize,
      </if>
      <if test="distributionChannel != null">
        distribution_channel,
      </if>
      <if test="productGroup != null">
        product_group,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="shippingConditions != null">
        shipping_conditions,
      </if>
      <if test="deliveryPlant != null">
        delivery_plant,
      </if>
      <if test="maxPartialDelivery != null">
        max_partial_delivery,
      </if>
      <if test="internalCustomers != null">
        internal_customers,
      </if>
      <if test="accountGroup != null">
        account_group,
      </if>
      <if test="custGroup != null">
        cust_group,
      </if>
      <if test="taxClassification != null">
        tax_classification,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="salesOrganize != null">
        #{salesOrganize,jdbcType=VARCHAR},
      </if>
      <if test="distributionChannel != null">
        #{distributionChannel,jdbcType=VARCHAR},
      </if>
      <if test="productGroup != null">
        #{productGroup,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="shippingConditions != null">
        #{shippingConditions,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPlant != null">
        #{deliveryPlant,jdbcType=VARCHAR},
      </if>
      <if test="maxPartialDelivery != null">
        #{maxPartialDelivery,jdbcType=VARCHAR},
      </if>
      <if test="internalCustomers != null">
        #{internalCustomers,jdbcType=VARCHAR},
      </if>
      <if test="accountGroup != null">
        #{accountGroup,jdbcType=VARCHAR},
      </if>
      <if test="custGroup != null">
        #{custGroup,jdbcType=VARCHAR},
      </if>
      <if test="taxClassification != null">
        #{taxClassification,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.basic.BasicSales">
    update t_basic_sales
    <set>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="salesOrganize != null">
        sales_organize = #{salesOrganize,jdbcType=VARCHAR},
      </if>
      <if test="distributionChannel != null">
        distribution_channel = #{distributionChannel,jdbcType=VARCHAR},
      </if>
      <if test="productGroup != null">
        product_group = #{productGroup,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="shippingConditions != null">
        shipping_conditions = #{shippingConditions,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPlant != null">
        delivery_plant = #{deliveryPlant,jdbcType=VARCHAR},
      </if>
      <if test="maxPartialDelivery != null">
        max_partial_delivery = #{maxPartialDelivery,jdbcType=VARCHAR},
      </if>
      <if test="internalCustomers != null">
        internal_customers = #{internalCustomers,jdbcType=VARCHAR},
      </if>
      <if test="accountGroup != null">
        account_group = #{accountGroup,jdbcType=VARCHAR},
      </if>
      <if test="custGroup != null">
        cust_group = #{custGroup,jdbcType=VARCHAR},
      </if>
      <if test="taxClassification != null">
        tax_classification = #{taxClassification,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByCustId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_basic_sales
    where cust_id = #{custId,jdbcType=INTEGER} and active = 1
    order by create_time desc
  </select>

  <select id="selectIdsByCustId" resultType="java.lang.Integer">
    select
    id
    from t_basic_sales
    where cust_id = #{custId,jdbcType=INTEGER} and active = 1
  </select>

  <update id="deleteByCustId" >
    update t_basic_sales set active = 0,update_user = #{userId},update_time = now()
    where cust_id = #{custId}
  </update>

</mapper>