<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.handover.DeliverDetailMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.handover.DeliverDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="third_id" jdbcType="INTEGER" property="thirdId" />
    <result column="customer_external_number" jdbcType="VARCHAR" property="customerExternalNumber" />
    <result column="customer_full_name" jdbcType="VARCHAR" property="customerFullName" />
    <result column="sales" jdbcType="VARCHAR" property="sales" />
    <result column="category_one" jdbcType="VARCHAR" property="categoryOne" />
    <result column="category_tow" jdbcType="VARCHAR" property="categoryTow" />
    <result column="category_three" jdbcType="VARCHAR" property="categoryThree" />
    <result column="product_model" jdbcType="VARCHAR" property="productModel" />
    <result column="delivery_date" jdbcType="VARCHAR" property="deliveryDate" />
    <result column="deliver_number" jdbcType="INTEGER" property="deliverNumber" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
    <result column="po_price" jdbcType="DECIMAL" property="poPrice" />
    <result column="margin" jdbcType="DECIMAL" property="margin" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="customer_order_number" jdbcType="VARCHAR" property="customerOrderNumber" />
    <result column="delivery_type" jdbcType="VARCHAR" property="deliveryType" />
    <result column="order_month" jdbcType="VARCHAR" property="orderMonth" />
    <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="dealer_name" jdbcType="VARCHAR" property="dealerName" />
    <result column="sales_organization" jdbcType="VARCHAR" property="salesOrganization" />
  </resultMap>

  <resultMap id="errorResultMap" extends="BaseResultMap" type="com.crazy.portal.bean.handover.DeliverTemplateBean" >
    <result column="deliver_number_str" jdbcType="VARCHAR" property="deliverNumber" />
    <result column="error_id_str" jdbcType="VARCHAR" property="errorId" />
    <result column="third_error_msg" jdbcType="VARCHAR" property="thirdErrorMsg" />
  </resultMap>

  <sql id="Base_Column_List">
    id, third_id, customer_external_number, customer_full_name, sales, category_one, 
    category_tow, category_three, product_model, delivery_date, deliver_number, sale_price, 
    po_price, margin, currency, customer_order_number, delivery_type, order_month, delivery_company, 
    remark, record_id, error_msg, sales_organization
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_deliver_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_deliver_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.handover.DeliverDetail">
    insert into t_deliver_detail (id, third_id, customer_external_number, 
      customer_full_name, sales, category_one, 
      category_tow, category_three, product_model, 
      delivery_date, deliver_number, sale_price, 
      po_price, margin, currency, 
      customer_order_number, delivery_type, order_month, 
      delivery_company, remark, record_id
      )
    values (#{id,jdbcType=INTEGER}, #{thirdId,jdbcType=INTEGER}, #{customerExternalNumber,jdbcType=VARCHAR}, 
      #{customerFullName,jdbcType=VARCHAR}, #{sales,jdbcType=VARCHAR}, #{categoryOne,jdbcType=VARCHAR}, 
      #{categoryTow,jdbcType=VARCHAR}, #{categoryThree,jdbcType=VARCHAR}, #{productModel,jdbcType=VARCHAR}, 
      #{deliveryDate,jdbcType=VARCHAR}, #{deliverNumber,jdbcType=INTEGER}, #{salePrice,jdbcType=DECIMAL},
      #{poPrice,jdbcType=DECIMAL}, #{margin,jdbcType=DECIMAL}, #{currency,jdbcType=VARCHAR}, 
      #{customerOrderNumber,jdbcType=VARCHAR}, #{deliveryType,jdbcType=VARCHAR}, #{orderMonth,jdbcType=VARCHAR}, 
      #{deliveryCompany,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{recordId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.handover.DeliverDetail">
    insert into t_deliver_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="thirdId != null">
        third_id,
      </if>
      <if test="customerExternalNumber != null">
        customer_external_number,
      </if>
      <if test="customerFullName != null">
        customer_full_name,
      </if>
      <if test="sales != null">
        sales,
      </if>
      <if test="categoryOne != null">
        category_one,
      </if>
      <if test="categoryTow != null">
        category_tow,
      </if>
      <if test="categoryThree != null">
        category_three,
      </if>
      <if test="productModel != null">
        product_model,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
      <if test="deliverNumber != null">
        deliver_number,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
      <if test="poPrice != null">
        po_price,
      </if>
      <if test="margin != null">
        margin,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="customerOrderNumber != null">
        customer_order_number,
      </if>
      <if test="deliveryType != null">
        delivery_type,
      </if>
      <if test="orderMonth != null">
        order_month,
      </if>
      <if test="deliveryCompany != null">
        delivery_company,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
      <if test="errorMsg != null" >
        error_msg,
      </if>
      <if test="salesOrganization != null" >
        sales_organization,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="thirdId != null">
        #{thirdId,jdbcType=INTEGER},
      </if>
      <if test="customerExternalNumber != null">
        #{customerExternalNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerFullName != null">
        #{customerFullName,jdbcType=VARCHAR},
      </if>
      <if test="sales != null">
        #{sales,jdbcType=VARCHAR},
      </if>
      <if test="categoryOne != null">
        #{categoryOne,jdbcType=VARCHAR},
      </if>
      <if test="categoryTow != null">
        #{categoryTow,jdbcType=VARCHAR},
      </if>
      <if test="categoryThree != null">
        #{categoryThree,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate,jdbcType=VARCHAR},
      </if>
      <if test="deliverNumber != null">
        #{deliverNumber,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="poPrice != null">
        #{poPrice,jdbcType=DECIMAL},
      </if>
      <if test="margin != null">
        #{margin,jdbcType=DECIMAL},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="customerOrderNumber != null">
        #{customerOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="deliveryType != null">
        #{deliveryType,jdbcType=VARCHAR},
      </if>
      <if test="orderMonth != null">
        #{orderMonth,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCompany != null">
        #{deliveryCompany,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="salesOrganization != null" >
        #{salesOrganization},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.handover.DeliverDetail">
    update t_deliver_detail
    <set>
      <if test="thirdId != null">
        third_id = #{thirdId,jdbcType=INTEGER},
      </if>
      <if test="customerExternalNumber != null">
        customer_external_number = #{customerExternalNumber,jdbcType=VARCHAR},
      </if>
      <if test="customerFullName != null">
        customer_full_name = #{customerFullName,jdbcType=VARCHAR},
      </if>
      <if test="sales != null">
        sales = #{sales,jdbcType=VARCHAR},
      </if>
      <if test="categoryOne != null">
        category_one = #{categoryOne,jdbcType=VARCHAR},
      </if>
      <if test="categoryTow != null">
        category_tow = #{categoryTow,jdbcType=VARCHAR},
      </if>
      <if test="categoryThree != null">
        category_three = #{categoryThree,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate,jdbcType=VARCHAR},
      </if>
      <if test="deliverNumber != null">
        deliver_number = #{deliverNumber,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="poPrice != null">
        po_price = #{poPrice,jdbcType=DECIMAL},
      </if>
      <if test="margin != null">
        margin = #{margin,jdbcType=DECIMAL},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="customerOrderNumber != null">
        customer_order_number = #{customerOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="deliveryType != null">
        delivery_type = #{deliveryType,jdbcType=VARCHAR},
      </if>
      <if test="orderMonth != null">
        order_month = #{orderMonth,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCompany != null">
        delivery_company = #{deliveryCompany,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.handover.DeliverDetail">
    update t_deliver_detail
    set third_id = #{thirdId,jdbcType=INTEGER},
      customer_external_number = #{customerExternalNumber,jdbcType=VARCHAR},
      customer_full_name = #{customerFullName,jdbcType=VARCHAR},
      sales = #{sales,jdbcType=VARCHAR},
      category_one = #{categoryOne,jdbcType=VARCHAR},
      category_tow = #{categoryTow,jdbcType=VARCHAR},
      category_three = #{categoryThree,jdbcType=VARCHAR},
      product_model = #{productModel,jdbcType=VARCHAR},
      delivery_date = #{deliveryDate,jdbcType=VARCHAR},
      deliver_number = #{deliverNumber,jdbcType=INTEGER},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      po_price = #{poPrice,jdbcType=DECIMAL},
      margin = #{margin,jdbcType=DECIMAL},
      currency = #{currency,jdbcType=VARCHAR},
      customer_order_number = #{customerOrderNumber,jdbcType=VARCHAR},
      delivery_type = #{deliveryType,jdbcType=VARCHAR},
      order_month = #{orderMonth,jdbcType=VARCHAR},
      delivery_company = #{deliveryCompany,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      record_id = #{recordId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="countErrorData" resultType="java.lang.Integer" >
    select count(1) from t_deliver_detail
    where record_id = #{recordId} and error_msg is not null
  </select>

  <select id="selectByRecordId" resultMap="BaseResultMap" >
    select d.dealer_name,t.* from t_deliver_detail t
    inner join t_deliver_receive_record d on t.record_id = d.id
    where t.record_id = #{recordId}
  </select>

  <select id="selectErrorDataByRecord" resultMap="errorResultMap" >
    select customer_external_number, customer_full_name, sales, category_one,
    category_tow, category_three, product_model, delivery_date, deliver_number as deliver_number_str, sale_price,
    po_price, margin, currency, customer_order_number, delivery_type, order_month, delivery_company,
    remark,id as error_id_str,error_msg as third_error_msg
    from t_deliver_detail
    where record_id = #{recordId} and error_msg is not null
  </select>

  <delete id="deleteByRecordId" >
    delete from t_deliver_detail where record_id = #{recordId}
  </delete>

  <select id="selectByDealerId" resultMap="BaseResultMap" >
    select b.* from t_deliver_receive_record a
    inner join t_deliver_detail b on a.id = b.record_id
    where a.dealer_id = #{dealerId}
    <if test="uploadStartTime != null and uploadStartTime != '' and uploadEndTime != null and uploadEndTime != ''" >
      and a.upload_time between #{uploadStartTime} and #{uploadEndTime}
    </if>
    <if test="uploadStartTime != null and uploadStartTime != '' and (uploadEndTime == null or uploadEndTime == '')" >
      and a.upload_time >= #{uploadStartTime}
    </if>
    <if test="(uploadStartTime == null or uploadStartTime == '') and uploadEndTime != null and uploadEndTime != ''" >
      <![CDATA[ and a.upload_time <= #{uploadEndTime} ]]>
    </if>
    <!-- 配送时间条件 -->
    <if test="handoverStartTime != null and handoverStartTime != '' and handoverEndTime != null and handoverEndTime != ''" >
      and b.delivery_date between #{handoverStartTime} and #{handoverEndTime}
    </if>
    <if test="handoverStartTime != null and handoverStartTime != '' and (handoverEndTime == null or handoverEndTime == '')" >
      and b.delivery_date >= #{handoverStartTime}
    </if>
    <if test="(handoverStartTime == null or handoverStartTime == '') and handoverEndTime != null and handoverEndTime != ''" >
      <![CDATA[ and b.delivery_date <= #{handoverEndTime} ]]>
    </if>
    <if test="customerFullName != null and customerFullName != ''" >
      and b.customer_full_name like concat('%', #{customerFullName}, '%')
    </if>
    <if test="productModel != null and productModel != ''" >
      and b.product_model like concat('%', #{productModel}, '%')
    </if>
    <if test="deliveryType != null and deliveryType != ''" >
      and b.delivery_type like concat('%', #{deliveryType}, '%')
    </if>
    <if test="orderMonth != null and orderMonth != ''" >
      and b.order_month like concat('%', #{orderMonth}, '%')
    </if>
    <if test="customerOrderNumber != null and customerOrderNumber != ''" >
      and b.customer_order_number like concat('%', #{customerOrderNumber}, '%')
    </if>
    order by a.create_time desc
  </select>

  <delete id="batchDeleteByIds" >
    delete from t_deliver_detail
    where 1 = 1
    <foreach collection="ids" item="item" index="index" open="id in (" separator="," close=")" >
      #{item}
    </foreach>
  </delete>

  <select id="selectByIds" resultMap="BaseResultMap" >
    select * from t_deliver_detail
    where 1 = 1
    <foreach collection="ids" item="item" index="index" open="id in (" separator="," close=")" >
      #{item}
    </foreach>
  </select>

  <select id="selectByThirdId" resultMap="BaseResultMap" >
    select * from t_deliver_detail
    where third_id = #{thirdId}
    limit 1
  </select>

</mapper>