<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.handover.DeliverReceiveRecordMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.handover.DeliverReceiveRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dealer_id" jdbcType="INTEGER" property="dealerId" />
    <result column="dealer_name" jdbcType="VARCHAR" property="dealerName" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="approval_user_id" jdbcType="INTEGER" property="approvalUserId" />
    <result column="approval_time" jdbcType="TIMESTAMP" property="approvalTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="status_desc" jdbcType="VARCHAR" property="statusDesc" />
    <result column="upload_time_str" jdbcType="VARCHAR" property="uploadTimeStr" />
    <result column="approval_time_str" jdbcType="VARCHAR" property="approvalTimeStr" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dealer_id, dealer_name, type, upload_time, status, create_time, approval_user_id, 
    approval_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_deliver_receive_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_deliver_receive_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.handover.DeliverReceiveRecord">
    insert into t_deliver_receive_record (id, dealer_id, dealer_name, 
      type, upload_time, status, 
      create_time, approval_user_id, approval_time
      )
    values (#{id,jdbcType=INTEGER}, #{dealerId,jdbcType=INTEGER}, #{dealerName,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{uploadTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{approvalUserId,jdbcType=INTEGER}, #{approvalTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.crazy.portal.entity.handover.DeliverReceiveRecord">
    insert into t_deliver_receive_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dealerId != null">
        dealer_id,
      </if>
      <if test="dealerName != null">
        dealer_name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="approvalUserId != null">
        approval_user_id,
      </if>
      <if test="approvalTime != null">
        approval_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dealerId != null">
        #{dealerId,jdbcType=INTEGER},
      </if>
      <if test="dealerName != null">
        #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalUserId != null">
        #{approvalUserId,jdbcType=INTEGER},
      </if>
      <if test="approvalTime != null">
        #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.handover.DeliverReceiveRecord">
    update t_deliver_receive_record
    <set>
      <if test="dealerId != null">
        dealer_id = #{dealerId,jdbcType=INTEGER},
      </if>
      <if test="dealerName != null">
        dealer_name = #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalUserId != null">
        approval_user_id = #{approvalUserId,jdbcType=INTEGER},
      </if>
      <if test="approvalTime != null">
        approval_time = #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.handover.DeliverReceiveRecord">
    update t_deliver_receive_record
    set dealer_id = #{dealerId,jdbcType=INTEGER},
      dealer_name = #{dealerName,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      approval_user_id = #{approvalUserId,jdbcType=INTEGER},
      approval_time = #{approvalTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectPageInfo" resultMap="BaseResultMap" >
    select *,
    case when type = 1 then '出货'
    when type = 2 then '收货' else '未知' end type_desc,
    case when status = -1 then '待确认'
    when status = 1 then '已确认'
    when status = 2 then '已提交'
    when status = 3 then '已驳回' else '未知' end status_desc,
    DATE_FORMAT(upload_time,'%Y-%m-%d %H:%i:%s') upload_time_str,
    DATE_FORMAT(approval_time,'%Y-%m-%d %H:%i:%s') approval_time_str
    from t_deliver_receive_record
    where 1 = 1
    and status != 0
    <if test="uploadStartTime != null and uploadStartTime != '' and uploadEndTime != null and uploadEndTime != ''" >
      and upload_time between #{uploadStartTime} and #{uploadEndTime}
    </if>
    <if test="uploadStartTime != null and uploadStartTime != '' and (uploadEndTime == null or uploadEndTime == '')" >
      and upload_time >= #{uploadStartTime}
    </if>
    <if test="(uploadStartTime == null or uploadStartTime == '') and uploadEndTime != null and uploadEndTime != ''" >
      <![CDATA[ and upload_time <= #{uploadEndTime} ]]>
    </if>
    <if test="dealerName != null and dealerName != ''" >
      and dealer_name like concat('%',#{dealerName},'%')
    </if>
    <if test="status != null" >
      and status = #{status}
    </if>
    <if test="dealerId != null" >
      and dealer_id = #{dealerId}
    </if>
    <if test="type != null" >
      and type = #{type}
    </if>
    order by create_time desc
  </select>

  <update id="updateStatusById" >
    update t_deliver_receive_record set status = #{status}
    where 1 = 1
    <foreach collection="ids" item="item" index="index" open=" and id in (" separator="," close=")" >
      #{item}
    </foreach>
  </update>

  <select id="selectStatusByIds" resultType="java.lang.Integer" >
    select t.status from t_deliver_receive_record t
    where 1 = 1
    <foreach collection="ids" item="item" index="index" open=" and t.id in (" separator="," close="" >
      #{item}
    </foreach>
    group by t.status
  </select>

</mapper>