<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.business.rebate.BusinessAccountDetailMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.business.rebate.BusinessAccountDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rebate_id" jdbcType="INTEGER" property="rebateId" />
    <result column="dealer_abbr" jdbcType="VARCHAR" property="dealerAbbr" />
    <result column="dealer_full_name" jdbcType="VARCHAR" property="dealerFullName" />
    <result column="customer_abbr" jdbcType="VARCHAR" property="customerAbbr" />
    <result column="customer_out_code" jdbcType="VARCHAR" property="customerOutCode" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="amb_captain" jdbcType="VARCHAR" property="ambCaptain" />
    <result column="amb_department" jdbcType="VARCHAR" property="ambDepartment" />
    <result column="bu" jdbcType="VARCHAR" property="bu" />
    <result column="product_model" jdbcType="VARCHAR" property="productModel" />
    <result column="shipment_type" jdbcType="VARCHAR" property="shipmentType" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="sales_price" jdbcType="DECIMAL" property="salesPrice" />
    <result column="po_price" jdbcType="DECIMAL" property="poPrice" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="rebate_amount" jdbcType="DECIMAL" property="rebateAmount" />
    <result column="account_years" jdbcType="VARCHAR" property="accountYears" />
    <result column="shipment_years" jdbcType="VARCHAR" property="shipmentYears" />
    <result column="shipment_date" jdbcType="VARCHAR" property="shipmentDate" />
    <result column="order_years" jdbcType="VARCHAR" property="orderYears" />
    <result column="order_serial_number" jdbcType="VARCHAR" property="orderSerialNumber" />
    <result column="price_strategy_number" jdbcType="VARCHAR" property="priceStrategyNumber" />
    <result column="shipment_company" jdbcType="VARCHAR" property="shipmentCompany" />
    <result column="rebate_account_type" jdbcType="VARCHAR" property="rebateAccountType" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rebate_id, dealer_abbr, dealer_full_name, customer_abbr, customer_out_code, customer_type,
    amb_captain, amb_department, bu, product_model, shipment_type, number, sales_price,
    po_price, actual_price, rebate_amount, account_years, shipment_years, shipment_date,
    order_years, order_serial_number, price_strategy_number, shipment_company, rebate_account_type,
    active, create_id, create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_account_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_business_account_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.crazy.portal.entity.business.rebate.BusinessAccountDetail">
    insert into t_business_account_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rebateId != null">
        rebate_id,
      </if>
      <if test="dealerAbbr != null">
        dealer_abbr,
      </if>
      <if test="dealerFullName != null">
        dealer_full_name,
      </if>
      <if test="customerAbbr != null">
        customer_abbr,
      </if>
      <if test="customerOutCode != null">
        customer_out_code,
      </if>
      <if test="customerType != null">
        customer_type,
      </if>
      <if test="ambCaptain != null">
        amb_captain,
      </if>
      <if test="ambDepartment != null">
        amb_department,
      </if>
      <if test="bu != null">
        bu,
      </if>
      <if test="productModel != null">
        product_model,
      </if>
      <if test="shipmentType != null">
        shipment_type,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="salesPrice != null">
        sales_price,
      </if>
      <if test="poPrice != null">
        po_price,
      </if>
      <if test="actualPrice != null">
        actual_price,
      </if>
      <if test="rebateAmount != null">
        rebate_amount,
      </if>
      <if test="accountYears != null">
        account_years,
      </if>
      <if test="shipmentYears != null">
        shipment_years,
      </if>
      <if test="shipmentDate != null">
        shipment_date,
      </if>
      <if test="orderYears != null">
        order_years,
      </if>
      <if test="orderSerialNumber != null">
        order_serial_number,
      </if>
      <if test="priceStrategyNumber != null">
        price_strategy_number,
      </if>
      <if test="shipmentCompany != null">
        shipment_company,
      </if>
      <if test="rebateAccountType != null">
        rebate_account_type,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rebateId != null">
        #{rebateId,jdbcType=INTEGER},
      </if>
      <if test="dealerAbbr != null">
        #{dealerAbbr,jdbcType=VARCHAR},
      </if>
      <if test="dealerFullName != null">
        #{dealerFullName,jdbcType=VARCHAR},
      </if>
      <if test="customerAbbr != null">
        #{customerAbbr,jdbcType=VARCHAR},
      </if>
      <if test="customerOutCode != null">
        #{customerOutCode,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="ambCaptain != null">
        #{ambCaptain,jdbcType=VARCHAR},
      </if>
      <if test="ambDepartment != null">
        #{ambDepartment,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        #{bu,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="shipmentType != null">
        #{shipmentType,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="salesPrice != null">
        #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="poPrice != null">
        #{poPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="rebateAmount != null">
        #{rebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="accountYears != null">
        #{accountYears,jdbcType=VARCHAR},
      </if>
      <if test="shipmentYears != null">
        #{shipmentYears,jdbcType=VARCHAR},
      </if>
      <if test="shipmentDate != null">
        #{shipmentDate,jdbcType=VARCHAR},
      </if>
      <if test="orderYears != null">
        #{orderYears,jdbcType=VARCHAR},
      </if>
      <if test="orderSerialNumber != null">
        #{orderSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="priceStrategyNumber != null">
        #{priceStrategyNumber,jdbcType=VARCHAR},
      </if>
      <if test="shipmentCompany != null">
        #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="rebateAccountType != null">
        #{rebateAccountType,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.business.rebate.BusinessAccountDetail">
    update t_business_account_detail
    <set>
      <if test="rebateId != null">
        rebate_id = #{rebateId,jdbcType=INTEGER},
      </if>
      <if test="dealerAbbr != null">
        dealer_abbr = #{dealerAbbr,jdbcType=VARCHAR},
      </if>
      <if test="dealerFullName != null">
        dealer_full_name = #{dealerFullName,jdbcType=VARCHAR},
      </if>
      <if test="customerAbbr != null">
        customer_abbr = #{customerAbbr,jdbcType=VARCHAR},
      </if>
      <if test="customerOutCode != null">
        customer_out_code = #{customerOutCode,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="ambCaptain != null">
        amb_captain = #{ambCaptain,jdbcType=VARCHAR},
      </if>
      <if test="ambDepartment != null">
        amb_department = #{ambDepartment,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        bu = #{bu,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="shipmentType != null">
        shipment_type = #{shipmentType,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="salesPrice != null">
        sales_price = #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="poPrice != null">
        po_price = #{poPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        actual_price = #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="rebateAmount != null">
        rebate_amount = #{rebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="accountYears != null">
        account_years = #{accountYears,jdbcType=VARCHAR},
      </if>
      <if test="shipmentYears != null">
        shipment_years = #{shipmentYears,jdbcType=VARCHAR},
      </if>
      <if test="shipmentDate != null">
        shipment_date = #{shipmentDate,jdbcType=VARCHAR},
      </if>
      <if test="orderYears != null">
        order_years = #{orderYears,jdbcType=VARCHAR},
      </if>
      <if test="orderSerialNumber != null">
        order_serial_number = #{orderSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="priceStrategyNumber != null">
        price_strategy_number = #{priceStrategyNumber,jdbcType=VARCHAR},
      </if>
      <if test="shipmentCompany != null">
        shipment_company = #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="rebateAccountType != null">
        rebate_account_type = #{rebateAccountType,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByRebateId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_account_detail
    where rebate_id = #{rebateId,jdbcType=INTEGER}
  </select>

</mapper>