<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.business.rebate.BusinessRebateItemMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.business.rebate.BusinessRebateItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rebate_id" jdbcType="INTEGER" property="rebateId" />
    <result column="customer_short_name" jdbcType="VARCHAR" property="customerShortName" />
    <result column="sales_name" jdbcType="VARCHAR" property="salesName" />
    <result column="ameba_header" jdbcType="VARCHAR" property="amebaHeader" />
    <result column="ameba_department" jdbcType="VARCHAR" property="amebaDepartment" />
    <result column="shipment_company" jdbcType="VARCHAR" property="shipmentCompany" />
    <result column="rebate_amount" jdbcType="DECIMAL" property="rebateAmount" />
    <result column="executor" jdbcType="VARCHAR" property="executor"/>
    <result column="execute_style" jdbcType="VARCHAR" property="executeStyle" />
    <result column="zr_execute_date" jdbcType="TIMESTAMP" property="zrExecuteDate" />
    <result column="dl_execute_date" jdbcType="TIMESTAMP" property="dlExecuteDate" />
    <result column="zr_file_id" jdbcType="INTEGER" property="zrFileId"/>
    <result column="dl_file_id" jdbcType="INTEGER" property="dlFileId"/>
    <result column="notice_date" jdbcType="TIMESTAMP" property="noticeDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rebate_id, customer_short_name, sales_name, ameba_header, ameba_department,
    shipment_company,
    rebate_amount, executor, execute_style, zr_execute_date, dl_execute_date,
    zr_file_id, dl_file_id, notice_date, remark,
    status, active, create_id, create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_business_rebate_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_business_rebate_item
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.crazy.portal.entity.business.rebate.BusinessRebateItem">
    insert into t_business_rebate_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rebateId != null">
        rebate_id,
      </if>
      <if test="customerShortName != null">
        customer_short_name,
      </if>
      <if test="salesName != null">
        sales_name,
      </if>
      <if test="amebaHeader != null">
        ameba_header,
      </if>
      <if test="amebaDepartment != null">
        ameba_department,
      </if>
      <if test="shipmentCompany != null">
        shipment_company,
      </if>
      <if test="rebateAmount != null">
        rebate_amount,
      </if>
      <if test="executor != null">
        executor,
      </if>
      <if test="executeStyle != null">
        execute_style,
      </if>
      <if test="zrExecuteDate != null">
        zr_execute_date,
      </if>
      <if test="dlExecuteDate != null">
        dl_execute_date,
      </if>
      <if test="zrFileId != null">
        zr_file_id,
      </if>
      <if test="dlFileId != null">
        dl_file_id,
      </if>
      <if test="noticeDate != null">
        notice_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rebateId != null">
        #{rebateId,jdbcType=INTEGER},
      </if>
      <if test="customerShortName != null">
        #{customerShortName,jdbcType=VARCHAR},
      </if>
      <if test="salesName != null">
        #{salesName,jdbcType=VARCHAR},
      </if>
      <if test="amebaHeader != null">
        #{amebaHeader,jdbcType=VARCHAR},
      </if>
      <if test="amebaDepartment != null">
        #{amebaDepartment,jdbcType=VARCHAR},
      </if>
      <if test="shipmentCompany != null">
        #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="rebateAmount != null">
        #{rebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="executor != null">
        #{executor,jdbcType=VARCHAR},
      </if>
      <if test="executeStyle != null">
        #{executeStyle,jdbcType=VARCHAR},
      </if>
      <if test="zrExecuteDate != null">
        #{zrExecuteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dlExecuteDate != null">
        #{dlExecuteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="zrFileId != null">
        #{zrFileId,jdbcType=INTEGER},
      </if>
      <if test="dlFileId != null">
        #{dlFileId,jdbcType=INTEGER},
      </if>
      <if test="noticeDate != null">
        #{noticeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.business.rebate.BusinessRebateItem">
    update t_business_rebate_item
    <set>
      <if test="rebateId != null">
        rebate_id = #{rebateId,jdbcType=INTEGER},
      </if>
      <if test="customerShortName != null">
        customer_short_name = #{customerShortName,jdbcType=VARCHAR},
      </if>
      <if test="salesName != null">
        sales_name = #{salesName,jdbcType=VARCHAR},
      </if>
      <if test="amebaHeader != null">
        ameba_header = #{amebaHeader,jdbcType=VARCHAR},
      </if>
      <if test="amebaDepartment != null">
        ameba_department = #{amebaDepartment,jdbcType=VARCHAR},
      </if>
      <if test="shipmentCompany != null">
        shipment_company = #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="rebateAmount != null">
        rebate_amount = #{rebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="executor != null">
        executor = #{executor,jdbcType=VARCHAR},
      </if>
      <if test="executeStyle != null">
        execute_style = #{executeStyle,jdbcType=VARCHAR},
      </if>
      <if test="zrExecuteDate != null">
        zr_execute_date = #{zrExecuteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dlExecuteDate != null">
        dl_execute_date = #{dlExecuteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="zrFileId != null">
        zr_file_id = #{zrFileId,jdbcType=INTEGER},
      </if>
      <if test="dlFileId != null">
        dl_file_id = #{dlFileId,jdbcType=INTEGER},
      </if>
      <if test="noticeDate != null">
        notice_date = #{noticeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByRebateId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_rebate_item
    where rebate_id = #{rebateId,jdbcType=INTEGER} and active = 1
    order by create_time desc
  </select>

  <select id="selectByPage" parameterType="com.crazy.portal.bean.business.rebate.RebateQueryBean" resultMap="BaseResultMap">
    select
    notice_date,
    shipment_company,
    executor,
    customer_short_name,
    sales_name,
    ameba_header,
    ameba_department,
    sum(rebate_amount) as rebate_amount,
    status,
    execute_style,
    zr_execute_date,
    dl_execute_date,
    remark,
    zr_file_id,
    dl_file_id
    from t_business_rebate_item
    where active = 1
    <if test="dealerId != null and userType != 'internal' and userType != 'sales'">
      and executor = (
        select cust_name from t_customer_info where id = #{dealerId,jdbcType=INTEGER}
      )
    </if>
    <if test="userType == 'sales' and customerInfos != null">
      <foreach collection="customerInfos" item="item" index="index" open="and executor in (" separator="," close=")">
        #{item.custName,jdbcType=VARCHAR}
      </foreach>
    </if>
    <if test="customerName != null and customerName != ''">
      and customer_short_name like concat('%',#{customerName,jdbcType=VARCHAR},'%')
    </if>
    <if test="status != null">
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="executor != null and executor != ''">
      and executor = #{executor,jdbcType=VARCHAR}
    </if>
    <if test="executeStyle != null and executeStyle != ''">
      and execute_style = #{executeStyle,jdbcType=VARCHAR}
    </if>
    <if test="noticeBeginDate != null and noticeBeginDate != ''">
      and notice_date >= str_to_date(#{noticeBeginDate,jdbcType=VARCHAR}, '%Y-%m-%d')
    </if>
    <if test="noticeEndDate != null and noticeEndDate != ''">
      and notice_date &lt;= str_to_date(#{noticeEndDate,jdbcType=VARCHAR}, '%Y-%m-%d')
    </if>
    group by
    notice_date,
    shipment_company,
    executor,
    customer_short_name,
    sales_name,
    ameba_header,
    ameba_department,
    status,
    execute_style,
    zr_execute_date,
    dl_execute_date,
    remark,
    zr_file_id,
    dl_file_id
    order by notice_date desc
  </select>
  
  <select id="selectByParam" parameterType="com.crazy.portal.bean.business.rebate.RebateUploadBean" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_rebate_item
    where active = 1
    and date_format(notice_date, '%Y-%m-%d %H:%i:%s') = date_format(#{noticeDate,jdbcType=TIMESTAMP}, '%Y-%m-%d %H:%i:%s')
    <if test="shipmentCompany != null and shipmentCompany != ''">
      and shipment_company = #{shipmentCompany,jdbcType=VARCHAR}
    </if>
    <if test="executor != null and executor != ''">
      and executor = #{executor,jdbcType=VARCHAR}
    </if>
    <if test="customerShortName != null and customerShortName != ''">
      and customer_short_name = #{customerShortName,jdbcType=VARCHAR}
    </if>
    <if test="salesName != null and salesName != ''">
      and sales_name = #{salesName,jdbcType=VARCHAR}
    </if>
    <if test="amebaHeader != null and amebaHeader != ''">
      and ameba_header = #{amebaHeader,jdbcType=VARCHAR}
    </if>
    <if test="amebaDepartment != null and amebaDepartment != ''">
      and ameba_department = #{amebaDepartment,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>