<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.business.rebate.BusinessStrategyMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.business.rebate.BusinessStrategy">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rebate_id" jdbcType="INTEGER" property="rebateId" />
    <result column="customer_out_code" jdbcType="VARCHAR" property="customerOutCode" />
    <result column="customer_full_name" jdbcType="VARCHAR" property="customerFullName" />
    <result column="customer_in_code" jdbcType="VARCHAR" property="customerInCode" />
    <result column="customer_abbr" jdbcType="VARCHAR" property="customerAbbr" />
    <result column="product_mode" jdbcType="VARCHAR" property="productMode" />
    <result column="valid_start_date" jdbcType="TIMESTAMP" property="validStartDate" />
    <result column="valid_end_date" jdbcType="TIMESTAMP" property="validEndDate" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="sales_lower_limit" jdbcType="DECIMAL" property="salesLowerLimit" />
    <result column="sales_upper_limit" jdbcType="DECIMAL" property="salesUpperLimit" />
    <result column="account_type" jdbcType="VARCHAR" property="accountType" />
    <result column="rebate_execute_style" jdbcType="VARCHAR" property="rebateExecuteStyle" />
    <result column="price_applicant" jdbcType="VARCHAR" property="priceApplicant" />
    <result column="shipment_type" jdbcType="VARCHAR" property="shipmentType" />
    <result column="company_external_code" jdbcType="VARCHAR" property="companyExternalCode" />
    <result column="company_full_name" jdbcType="VARCHAR" property="companyFullName" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="price_strategy_number" jdbcType="VARCHAR" property="priceStrategyNumber" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rebate_id, customer_out_code, customer_full_name, customer_in_code, customer_abbr,
    product_mode, valid_start_date, valid_end_date, actual_price, sales_lower_limit,
    sales_upper_limit, account_type, rebate_execute_style, price_applicant, shipment_type,
    company_external_code, company_full_name, product, price_strategy_number, active,
    create_id, create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_strategy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_business_strategy
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.crazy.portal.entity.business.rebate.BusinessStrategy">
    insert into t_business_strategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rebateId != null">
        rebate_id,
      </if>
      <if test="customerOutCode != null">
        customer_out_code,
      </if>
      <if test="customerFullName != null">
        customer_full_name,
      </if>
      <if test="customerInCode != null">
        customer_in_code,
      </if>
      <if test="customerAbbr != null">
        customer_abbr,
      </if>
      <if test="productMode != null">
        product_mode,
      </if>
      <if test="validStartDate != null">
        valid_start_date,
      </if>
      <if test="validEndDate != null">
        valid_end_date,
      </if>
      <if test="actualPrice != null">
        actual_price,
      </if>
      <if test="salesLowerLimit != null">
        sales_lower_limit,
      </if>
      <if test="salesUpperLimit != null">
        sales_upper_limit,
      </if>
      <if test="accountType != null">
        account_type,
      </if>
      <if test="rebateExecuteStyle != null">
        rebate_execute_style,
      </if>
      <if test="priceApplicant != null">
        price_applicant,
      </if>
      <if test="shipmentType != null">
        shipment_type,
      </if>
      <if test="companyExternalCode != null">
        company_external_code,
      </if>
      <if test="companyFullName != null">
        company_full_name,
      </if>
      <if test="product != null">
        product,
      </if>
      <if test="priceStrategyNumber != null">
        price_strategy_number,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rebateId != null">
        #{rebateId,jdbcType=INTEGER},
      </if>
      <if test="customerOutCode != null">
        #{customerOutCode,jdbcType=VARCHAR},
      </if>
      <if test="customerFullName != null">
        #{customerFullName,jdbcType=VARCHAR},
      </if>
      <if test="customerInCode != null">
        #{customerInCode,jdbcType=VARCHAR},
      </if>
      <if test="customerAbbr != null">
        #{customerAbbr,jdbcType=VARCHAR},
      </if>
      <if test="productMode != null">
        #{productMode,jdbcType=VARCHAR},
      </if>
      <if test="validStartDate != null">
        #{validStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validEndDate != null">
        #{validEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualPrice != null">
        #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="salesLowerLimit != null">
        #{salesLowerLimit,jdbcType=DECIMAL},
      </if>
      <if test="salesUpperLimit != null">
        #{salesUpperLimit,jdbcType=DECIMAL},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="rebateExecuteStyle != null">
        #{rebateExecuteStyle,jdbcType=VARCHAR},
      </if>
      <if test="priceApplicant != null">
        #{priceApplicant,jdbcType=VARCHAR},
      </if>
      <if test="shipmentType != null">
        #{shipmentType,jdbcType=VARCHAR},
      </if>
      <if test="companyExternalCode != null">
        #{companyExternalCode,jdbcType=VARCHAR},
      </if>
      <if test="companyFullName != null">
        #{companyFullName,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="priceStrategyNumber != null">
        #{priceStrategyNumber,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.business.rebate.BusinessStrategy">
    update t_business_strategy
    <set>
      <if test="rebateId != null">
        rebate_id = #{rebateId,jdbcType=INTEGER},
      </if>
      <if test="customerOutCode != null">
        customer_out_code = #{customerOutCode,jdbcType=VARCHAR},
      </if>
      <if test="customerFullName != null">
        customer_full_name = #{customerFullName,jdbcType=VARCHAR},
      </if>
      <if test="customerInCode != null">
        customer_in_code = #{customerInCode,jdbcType=VARCHAR},
      </if>
      <if test="customerAbbr != null">
        customer_abbr = #{customerAbbr,jdbcType=VARCHAR},
      </if>
      <if test="productMode != null">
        product_mode = #{productMode,jdbcType=VARCHAR},
      </if>
      <if test="validStartDate != null">
        valid_start_date = #{validStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validEndDate != null">
        valid_end_date = #{validEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualPrice != null">
        actual_price = #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="salesLowerLimit != null">
        sales_lower_limit = #{salesLowerLimit,jdbcType=DECIMAL},
      </if>
      <if test="salesUpperLimit != null">
        sales_upper_limit = #{salesUpperLimit,jdbcType=DECIMAL},
      </if>
      <if test="accountType != null">
        account_type = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="rebateExecuteStyle != null">
        rebate_execute_style = #{rebateExecuteStyle,jdbcType=VARCHAR},
      </if>
      <if test="priceApplicant != null">
        price_applicant = #{priceApplicant,jdbcType=VARCHAR},
      </if>
      <if test="shipmentType != null">
        shipment_type = #{shipmentType,jdbcType=VARCHAR},
      </if>
      <if test="companyExternalCode != null">
        company_external_code = #{companyExternalCode,jdbcType=VARCHAR},
      </if>
      <if test="companyFullName != null">
        company_full_name = #{companyFullName,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="priceStrategyNumber != null">
        price_strategy_number = #{priceStrategyNumber,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByRebateId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_strategy
    where rebate_id = #{rebateId,jdbcType=INTEGER}
  </select>

</mapper>