<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.business.rebate.BusinessRebateMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.business.rebate.BusinessRebate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="agency_name" jdbcType="VARCHAR" property="agencyName" />
    <result column="customer_short_name" jdbcType="VARCHAR" property="customerShortName" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="sales_name" jdbcType="VARCHAR" property="salesName" />
    <result column="ameba_header" jdbcType="VARCHAR" property="amebaHeader" />
    <result column="ameba_department" jdbcType="VARCHAR" property="amebaDepartment" />
    <result column="shipment_company" jdbcType="VARCHAR" property="shipmentCompany" />
    <result column="account_year_month" jdbcType="VARCHAR" property="accountYearMonth" />
    <result column="order_month" jdbcType="VARCHAR" property="orderMonth" />
    <result column="shipment_year_month" jdbcType="VARCHAR" property="shipmentYearMonth" />
    <result column="bu" jdbcType="VARCHAR" property="bu" />
    <result column="pdt" jdbcType="VARCHAR" property="pdt" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="sales_price" jdbcType="DECIMAL" property="salesPrice" />
    <result column="po_price" jdbcType="DECIMAL" property="poPrice" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="rebate_amount" jdbcType="DECIMAL" property="rebateAmount" />
    <result column="release_amount" jdbcType="DECIMAL" property="releaseAmount" />
    <result column="surplus_rebate_amount" jdbcType="DECIMAL" property="surplusRebateAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="dealer_code" jdbcType="VARCHAR" property="dealerCode" />
    <result column="customer_code" jdbcType="VARCHAR" property="customerCode" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <collection property="itemList" ofType="com.crazy.portal.entity.business.rebate.BusinessRebateItem">
      <id column="item_id" jdbcType="INTEGER" property="id" />
      <result column="item_customer_short_name" jdbcType="VARCHAR" property="customerShortName" />
      <result column="item_sales_name" jdbcType="VARCHAR" property="salesName" />
      <result column="item_ameba_header" jdbcType="VARCHAR" property="amebaHeader" />
      <result column="item_ameba_department" jdbcType="VARCHAR" property="amebaDepartment" />
      <result column="item_shipment_company" jdbcType="VARCHAR" property="shipmentCompany" />
      <result column="item_rebate_amount" jdbcType="DECIMAL" property="rebateAmount" />
      <result column="item_executor" jdbcType="VARCHAR" property="executor"/>
      <result column="item_execute_style" jdbcType="VARCHAR" property="executeStyle" />
      <result column="item_remark" jdbcType="VARCHAR" property="remark" />
      <result column="item_status" jdbcType="INTEGER" property="status" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, agency_name, customer_short_name, customer_type, sales_name, ameba_header, ameba_department,
    shipment_company, account_year_month, order_month, shipment_year_month, bu, pdt,
    product, qty, sales_price, po_price, actual_price, platform, rebate_amount, release_amount,
    surplus_rebate_amount, status, dealer_code, customer_code,
    active, create_id, create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_rebate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_business_rebate
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.crazy.portal.entity.business.rebate.BusinessRebate">
    insert into t_business_rebate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="agencyName != null">
        agency_name,
      </if>
      <if test="customerShortName != null">
        customer_short_name,
      </if>
      <if test="customerType != null">
        customer_type,
      </if>
      <if test="salesName != null">
        sales_name,
      </if>
      <if test="amebaHeader != null">
        ameba_header,
      </if>
      <if test="amebaDepartment != null">
        ameba_department,
      </if>
      <if test="shipmentCompany != null">
        shipment_company,
      </if>
      <if test="accountYearMonth != null">
        account_year_month,
      </if>
      <if test="orderMonth != null">
        order_month,
      </if>
      <if test="shipmentYearMonth != null">
        shipment_year_month,
      </if>
      <if test="bu != null">
        bu,
      </if>
      <if test="pdt != null">
        pdt,
      </if>
      <if test="product != null">
        product,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="salesPrice != null">
        sales_price,
      </if>
      <if test="poPrice != null">
        po_price,
      </if>
      <if test="actualPrice != null">
        actual_price,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="rebateAmount != null">
        rebate_amount,
      </if>
      <if test="releaseAmount != null">
        release_amount,
      </if>
      <if test="surplusRebateAmount != null">
        surplus_rebate_amount,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="dealerCode != null">
        dealer_code,
      </if>
      <if test="customerCode != null">
        customer_code,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="agencyName != null">
        #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="customerShortName != null">
        #{customerShortName,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="salesName != null">
        #{salesName,jdbcType=VARCHAR},
      </if>
      <if test="amebaHeader != null">
        #{amebaHeader,jdbcType=VARCHAR},
      </if>
      <if test="amebaDepartment != null">
        #{amebaDepartment,jdbcType=VARCHAR},
      </if>
      <if test="shipmentCompany != null">
        #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="accountYearMonth != null">
        #{accountYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="orderMonth != null">
        #{orderMonth,jdbcType=VARCHAR},
      </if>
      <if test="shipmentYearMonth != null">
        #{shipmentYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        #{bu,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="salesPrice != null">
        #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="poPrice != null">
        #{poPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="rebateAmount != null">
        #{rebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="releaseAmount != null">
        #{releaseAmount,jdbcType=DECIMAL},
      </if>
      <if test="surplusRebateAmount != null">
        #{surplusRebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="dealerCode != null">
        #{dealerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null">
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.business.rebate.BusinessRebate">
    update t_business_rebate
    <set>
      <if test="agencyName != null">
        agency_name = #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="customerShortName != null">
        customer_short_name = #{customerShortName,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="salesName != null">
        sales_name = #{salesName,jdbcType=VARCHAR},
      </if>
      <if test="amebaHeader != null">
        ameba_header = #{amebaHeader,jdbcType=VARCHAR},
      </if>
      <if test="amebaDepartment != null">
        ameba_department = #{amebaDepartment,jdbcType=VARCHAR},
      </if>
      <if test="shipmentCompany != null">
        shipment_company = #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="accountYearMonth != null">
        account_year_month = #{accountYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="orderMonth != null">
        order_month = #{orderMonth,jdbcType=VARCHAR},
      </if>
      <if test="shipmentYearMonth != null">
        shipment_year_month = #{shipmentYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        bu = #{bu,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        pdt = #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="salesPrice != null">
        sales_price = #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="poPrice != null">
        po_price = #{poPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        actual_price = #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="rebateAmount != null">
        rebate_amount = #{rebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="releaseAmount != null">
        release_amount = #{releaseAmount,jdbcType=DECIMAL},
      </if>
      <if test="surplusRebateAmount != null">
        surplus_rebate_amount = #{surplusRebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="dealerCode != null">
        dealer_code = #{dealerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null">
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPage" parameterType="com.crazy.portal.bean.business.rebate.RebateQueryBean" resultMap="BaseResultMap">
    select
    a.*
    from t_business_rebate a
    where a.active = 1
    <if test="dealerName != null and dealerName != ''">
      and a.agency_name like concat('%',#{dealerName},'%')
    </if>
    <if test="customerName != null and customerName != ''">
      and a.customer_short_name like concat('%',#{customerName},'%')
    </if>
    <if test="status != null">
      and a.status = #{status}
    </if>
    order by a.create_time desc
  </select>

  <select id="selectRebateIdByGroupParam" resultType="java.lang.Integer" parameterType="com.crazy.portal.bean.business.rebate.RebateGroupParam">
    select id from t_business_rebate
    where active = 1
    and agency_name = #{agencyName}
    and customer_short_name = #{customerShortName}
    and customer_type = #{customerType}
    and sales_name = #{salesName}
    and ameba_header = #{amebaHeader}
    and ameba_department = #{amebaDepartment}
    and shipment_company = #{shipmentCompany}
    and account_year_month = #{accountYearMonth}
    and order_month = #{orderMonth}
    and shipment_year_month = #{shipmentYearMonth}
    and bu = #{bu}
    and pdt = #{pdt}
    and product = #{product}
    and qty = #{qty}
    and sales_price = #{salesPrice}
    and po_price = #{poPrice}
    and actual_price = #{actualPrice}
    and platform = #{platform}
  </select>



</mapper>