<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.business.rebate.BusinessSalesDetailMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.business.rebate.BusinessSalesDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rebate_id" jdbcType="INTEGER" property="rebateId" />
    <result column="agency_short_name" jdbcType="VARCHAR" property="agencyShortName" />
    <result column="agency_name" jdbcType="VARCHAR" property="agencyName" />
    <result column="customer_short_name" jdbcType="VARCHAR" property="customerShortName" />
    <result column="customer_code" jdbcType="VARCHAR" property="customerCode" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="ameba_header" jdbcType="VARCHAR" property="amebaHeader" />
    <result column="ameba_department" jdbcType="VARCHAR" property="amebaDepartment" />
    <result column="bu" jdbcType="VARCHAR" property="bu" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="shipment_type" jdbcType="VARCHAR" property="shipmentType" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="sales_price" jdbcType="DECIMAL" property="salesPrice" />
    <result column="po_price" jdbcType="DECIMAL" property="poPrice" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="rebate_amount" jdbcType="DECIMAL" property="rebateAmount" />
    <result column="account_year_month" jdbcType="VARCHAR" property="accountYearMonth" />
    <result column="shipment_year_month" jdbcType="VARCHAR" property="shipmentYearMonth" />
    <result column="shipment_date" jdbcType="VARCHAR" property="shipmentDate" />
    <result column="order_month" jdbcType="VARCHAR" property="orderMonth" />
    <result column="sales_report_id" jdbcType="VARCHAR" property="salesReportId" />
    <result column="price_role_id" jdbcType="VARCHAR" property="priceRoleId" />
    <result column="price_strategy_number" jdbcType="VARCHAR" property="priceStrategyNumber" />
    <result column="shipment_company" jdbcType="VARCHAR" property="shipmentCompany" />
    <result column="rebate_type" jdbcType="VARCHAR" property="rebateType" />
    <result column="class3" jdbcType="VARCHAR" property="class3" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rebate_id, agency_short_name, agency_name, customer_short_name, customer_code,
    customer_type, ameba_header, ameba_department, bu, product, shipment_type, qty, sales_price,
    po_price, actual_price, rebate_amount, account_year_month, shipment_year_month, shipment_date,
    order_month, sales_report_id, price_role_id, price_strategy_number, shipment_company,
    rebate_type, class3, active, create_id, create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_sales_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_business_sales_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.business.rebate.BusinessSalesDetail">
    insert into t_business_sales_detail (id, rebate_id, agency_short_name,
      agency_name, customer_short_name, customer_code,
      customer_type, ameba_header, ameba_department,
      bu, product, shipment_type,
      qty, sales_price, po_price,
      actual_price, rebate_amount, account_year_month,
      shipment_year_month, shipment_date, order_month,
      sales_report_id, price_role_id, price_strategy_number,
      shipment_company, rebate_type, class3,
      active, create_id, create_time,
      update_id, update_time)
    values (#{id,jdbcType=INTEGER}, #{rebateId,jdbcType=INTEGER}, #{agencyShortName,jdbcType=VARCHAR},
      #{agencyName,jdbcType=VARCHAR}, #{customerShortName,jdbcType=VARCHAR}, #{customerCode,jdbcType=VARCHAR},
      #{customerType,jdbcType=VARCHAR}, #{amebaHeader,jdbcType=VARCHAR}, #{amebaDepartment,jdbcType=VARCHAR},
      #{bu,jdbcType=VARCHAR}, #{product,jdbcType=VARCHAR}, #{shipmentType,jdbcType=VARCHAR},
      #{qty,jdbcType=INTEGER}, #{salesPrice,jdbcType=DECIMAL}, #{poPrice,jdbcType=DECIMAL},
      #{actualPrice,jdbcType=DECIMAL}, #{rebateAmount,jdbcType=DECIMAL}, #{accountYearMonth,jdbcType=VARCHAR},
      #{shipmentYearMonth,jdbcType=VARCHAR}, #{shipmentDate,jdbcType=VARCHAR}, #{orderMonth,jdbcType=VARCHAR},
      #{salesReportId,jdbcType=VARCHAR}, #{priceRoleId,jdbcType=VARCHAR}, #{priceStrategyNumber,jdbcType=VARCHAR},
      #{shipmentCompany,jdbcType=VARCHAR}, #{rebateType,jdbcType=VARCHAR}, #{class3,jdbcType=VARCHAR},
      #{active,jdbcType=INTEGER}, #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.business.rebate.BusinessSalesDetail">
    insert into t_business_sales_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rebateId != null">
        rebate_id,
      </if>
      <if test="agencyShortName != null">
        agency_short_name,
      </if>
      <if test="agencyName != null">
        agency_name,
      </if>
      <if test="customerShortName != null">
        customer_short_name,
      </if>
      <if test="customerCode != null">
        customer_code,
      </if>
      <if test="customerType != null">
        customer_type,
      </if>
      <if test="amebaHeader != null">
        ameba_header,
      </if>
      <if test="amebaDepartment != null">
        ameba_department,
      </if>
      <if test="bu != null">
        bu,
      </if>
      <if test="product != null">
        product,
      </if>
      <if test="shipmentType != null">
        shipment_type,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="salesPrice != null">
        sales_price,
      </if>
      <if test="poPrice != null">
        po_price,
      </if>
      <if test="actualPrice != null">
        actual_price,
      </if>
      <if test="rebateAmount != null">
        rebate_amount,
      </if>
      <if test="accountYearMonth != null">
        account_year_month,
      </if>
      <if test="shipmentYearMonth != null">
        shipment_year_month,
      </if>
      <if test="shipmentDate != null">
        shipment_date,
      </if>
      <if test="orderMonth != null">
        order_month,
      </if>
      <if test="salesReportId != null">
        sales_report_id,
      </if>
      <if test="priceRoleId != null">
        price_role_id,
      </if>
      <if test="priceStrategyNumber != null">
        price_strategy_number,
      </if>
      <if test="shipmentCompany != null">
        shipment_company,
      </if>
      <if test="rebateType != null">
        rebate_type,
      </if>
      <if test="class3 != null">
        class3,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rebateId != null">
        #{rebateId,jdbcType=INTEGER},
      </if>
      <if test="agencyShortName != null">
        #{agencyShortName,jdbcType=VARCHAR},
      </if>
      <if test="agencyName != null">
        #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="customerShortName != null">
        #{customerShortName,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null">
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="amebaHeader != null">
        #{amebaHeader,jdbcType=VARCHAR},
      </if>
      <if test="amebaDepartment != null">
        #{amebaDepartment,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        #{bu,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="shipmentType != null">
        #{shipmentType,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="salesPrice != null">
        #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="poPrice != null">
        #{poPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="rebateAmount != null">
        #{rebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="accountYearMonth != null">
        #{accountYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="shipmentYearMonth != null">
        #{shipmentYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="shipmentDate != null">
        #{shipmentDate,jdbcType=VARCHAR},
      </if>
      <if test="orderMonth != null">
        #{orderMonth,jdbcType=VARCHAR},
      </if>
      <if test="salesReportId != null">
        #{salesReportId,jdbcType=VARCHAR},
      </if>
      <if test="priceRoleId != null">
        #{priceRoleId,jdbcType=VARCHAR},
      </if>
      <if test="priceStrategyNumber != null">
        #{priceStrategyNumber,jdbcType=VARCHAR},
      </if>
      <if test="shipmentCompany != null">
        #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="rebateType != null">
        #{rebateType,jdbcType=VARCHAR},
      </if>
      <if test="class3 != null">
        #{class3,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.business.rebate.BusinessSalesDetail">
    update t_business_sales_detail
    <set>
      <if test="rebateId != null">
        rebate_id = #{rebateId,jdbcType=INTEGER},
      </if>
      <if test="agencyShortName != null">
        agency_short_name = #{agencyShortName,jdbcType=VARCHAR},
      </if>
      <if test="agencyName != null">
        agency_name = #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="customerShortName != null">
        customer_short_name = #{customerShortName,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null">
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="amebaHeader != null">
        ameba_header = #{amebaHeader,jdbcType=VARCHAR},
      </if>
      <if test="amebaDepartment != null">
        ameba_department = #{amebaDepartment,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        bu = #{bu,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="shipmentType != null">
        shipment_type = #{shipmentType,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="salesPrice != null">
        sales_price = #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="poPrice != null">
        po_price = #{poPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        actual_price = #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="rebateAmount != null">
        rebate_amount = #{rebateAmount,jdbcType=DECIMAL},
      </if>
      <if test="accountYearMonth != null">
        account_year_month = #{accountYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="shipmentYearMonth != null">
        shipment_year_month = #{shipmentYearMonth,jdbcType=VARCHAR},
      </if>
      <if test="shipmentDate != null">
        shipment_date = #{shipmentDate,jdbcType=VARCHAR},
      </if>
      <if test="orderMonth != null">
        order_month = #{orderMonth,jdbcType=VARCHAR},
      </if>
      <if test="salesReportId != null">
        sales_report_id = #{salesReportId,jdbcType=VARCHAR},
      </if>
      <if test="priceRoleId != null">
        price_role_id = #{priceRoleId,jdbcType=VARCHAR},
      </if>
      <if test="priceStrategyNumber != null">
        price_strategy_number = #{priceStrategyNumber,jdbcType=VARCHAR},
      </if>
      <if test="shipmentCompany != null">
        shipment_company = #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="rebateType != null">
        rebate_type = #{rebateType,jdbcType=VARCHAR},
      </if>
      <if test="class3 != null">
        class3 = #{class3,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.business.rebate.BusinessSalesDetail">
    update t_business_sales_detail
    set rebate_id = #{rebateId,jdbcType=INTEGER},
      agency_short_name = #{agencyShortName,jdbcType=VARCHAR},
      agency_name = #{agencyName,jdbcType=VARCHAR},
      customer_short_name = #{customerShortName,jdbcType=VARCHAR},
      customer_code = #{customerCode,jdbcType=VARCHAR},
      customer_type = #{customerType,jdbcType=VARCHAR},
      ameba_header = #{amebaHeader,jdbcType=VARCHAR},
      ameba_department = #{amebaDepartment,jdbcType=VARCHAR},
      bu = #{bu,jdbcType=VARCHAR},
      product = #{product,jdbcType=VARCHAR},
      shipment_type = #{shipmentType,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER},
      sales_price = #{salesPrice,jdbcType=DECIMAL},
      po_price = #{poPrice,jdbcType=DECIMAL},
      actual_price = #{actualPrice,jdbcType=DECIMAL},
      rebate_amount = #{rebateAmount,jdbcType=DECIMAL},
      account_year_month = #{accountYearMonth,jdbcType=VARCHAR},
      shipment_year_month = #{shipmentYearMonth,jdbcType=VARCHAR},
      shipment_date = #{shipmentDate,jdbcType=VARCHAR},
      order_month = #{orderMonth,jdbcType=VARCHAR},
      sales_report_id = #{salesReportId,jdbcType=VARCHAR},
      price_role_id = #{priceRoleId,jdbcType=VARCHAR},
      price_strategy_number = #{priceStrategyNumber,jdbcType=VARCHAR},
      shipment_company = #{shipmentCompany,jdbcType=VARCHAR},
      rebate_type = #{rebateType,jdbcType=VARCHAR},
      class3 = #{class3,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByRebateId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_sales_detail
    where rebate_id = #{rebateId,jdbcType=INTEGER}
  </select>
</mapper>