<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/main/assets/css/view.css"/>
    <title>Portal</title>
    <style>
        td{
            padding:5px;
        }
        a{
            cursor: pointer;
            color:#0055DB;
        }
    </style>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-form-mid">标题:</div>
                            <div class="layui-input-inline" style="width: 150px;">
                                <input type="text" autocomplete="off" class="layui-input" id="title">
                            </div>
                            <div class="layui-form-mid">发布日期:</div>
                            <div class="layui-input-inline" style="width: 150px;">
                                <input type="text" class="layui-input" id="time1" placeholder="yyyy-mm-dd" id="releaseStartTime">
                            </div>
                            <button class="layui-btn layui-btn-blue" onclick="loadTable()">查询</button>
                        </div>
                    </div>
                    <table id="table" lay-filter="table-filter"></table>
                    <script type="text/html" id="toolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="create">创建公告</button>
                        </div>
                    </script>
                    <script type="text/html" id="tableOprate">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="preview">预览</a>
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="cancel">撤销</a>
                    </script>
                    <div id="addDiv" style="width:550px;height:300px;display: none;">
                        <form id="editForm" class="layui-form" action="" lay-filter="editForm">
                            <input type="hidden" name="id" />
                            <table border="0" style="width:100%;height:100%;">
                                <tr>
                                    <td style="width:60px;height:60px;text-align: right;">标题：</td>
                                    <td style="width:220px;"><input type="text" autocomplete="off" name="title" class="layui-input" placeholder="请输入标题"></td>
                                    <td >
                                        <input type="checkbox" name="topmost" lay-skin="primary" title="置顶" value="1" checked="">
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="height:100px;text-align: right;vertical-align: top;">内容：</td>
                                    <td colspan="4"><textarea placeholder="请输入内容" class="layui-textarea" name="content"></textarea></td>
                                </tr>
                                <tr>
                                    <td style="height:50px;text-align: right;">附件：</td>
                                    <td colspan="4">
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="file">选择文件</button>
                                            &nbsp;&nbsp;
                                            <a id="editFormSelectFileName">

                                            </a>
                                            <input type="hidden" name="fileList[0].id"/>
                                            <input type="hidden" name="fileList[0].fileName"/>
                                            <input type="hidden" name="fileList[0].fileStoragePath"/>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div id="previewDiv" style="width:580px;height:330px;display: none;padding:10px;">
                        <div id="previewTitle" style="width:100%;height:36px;text-align: center;font-size: 20px;">
                        </div>
                        <div id="previewContent" style="border: 1px solid #ccc;width:100%;height:200px;padding:5px;overflow-y: auto;">
                        </div>
                        <div style="border: 1px solid #ccc;width:100%;height:50px;margin-top:10px;padding:5px;">
                            <div style="height:100%;width: 50%;float: left;vertical-align: middle;line-height: 50px;">
                                附件：<a id="previewFilename" href="#"></a>
                            </div>
                            <div style="height:100%;width:48%;float:left;text-align: right;line-height: 50px;">
                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">预览</button>
                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">下载</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../../static/jquery/jquery-2.1.4.min.js'></script>
<script type="text/javascript"  src="../../static/util/util.js"></script>
<script src="../../static/layui/layui.all.js"></script>
<script type="text/javascript"  src="../../static/main/assets/js/su.js"></script>
<script>
    var element = layui.element;
    var table = layui.table;
    var form = layui.form;
    var laydate = layui.laydate;
    var upload = layui.upload;
    $(function() {
        loadTable();
        laydate.render({
            elem: '#time1'
        });
        //文件上传
        var uploadInst = upload.render({
            elem: '#file'
            , accept: 'file'
            ,url: '/announcement/file'
            ,field:'files'
            ,multiple:true
            ,before: function(obj){

            }
            ,done: function(res){
                if(res.code === 1) {
                    $('#editFormSelectFileName').html(res.data[0].fileName);
                    $('input[name="fileList[0].id"]').val(res.data[0].id);
                    $('input[name="fileList[0].fileName"]').val(res.data[0].fileName);
                    $('input[name="fileList[0].fileStoragePath"]').val(res.data[0].fileStoragePath);
                }else{
                    alert(res.msg);
                }
            }
            ,error: function(){

            }
        });
    });
    function loadTable() {
        //展示已知数据
        table.render({
            elem: '#table'
            , url: '/announcement/list'
            , method: 'get'
            , request: {pageName: 'pageNum', limitName: 'pageSize'}
            , where: {title: $('#title').val(), releaseStartTime: $('#releaseStartTime').val()}
            , parseData: function(res){
                console.log(res.data.total);
                return {
                    "code": res.code == 1 ? 0 : res.code,
                    "msg": res.msg,
                    "count": res.data.total,
                    "data": res.data.list
                };
            }
            , skin: 'line' //表格风格
            , even: true
            , page: true
            , limits: [10, 20, 30]
            , limit: 10
            , toolbar: '#toolbar'
            , text: {
                none: '无数据'
            }
            , cols: [[
                  {field: 'id', title: 'ID', minWidth: 30, hide:true}
                , {field: 'title', title: '标题', minWidth: 30, unresize:true}
                , {field: 'content', title: '内容', minWidth: 80, unresize:true}
                , {field: 'createTimeStr', title: '创建时间', sort: true, minWidth: 80, unresize:true}
                , {field: 'releaseTimeStr', title: '发布时间', sort: true, minWidth: 80, unresize:true}
                , {field: 'createUserName', title: "发布人", minWidth: 80, unresize:true}
                , {field: 'status', title: '状态', minWidth: 80, unresize:true, templet: function(e){
                    if(e.status == 0){
                        return "未发布";
                    }else if(e.status == 1){
                        return "已发布";
                    }else{
                        return "已撤销";
                    }
                }}
                , {field: 'oprate', title: '操作', minWidth: 80, toolbar: '#tableOprate', unresize:true}
            ]]
            ,done: function () {
//                $("[data-field='id']").css('display','none');
            }
        });
        //头工具栏事件
        table.on('toolbar(table-filter)', function(obj){
            if(obj.event === 'create'){
                showEditDialog();
            }
        });
        //监听行工具事件
        table.on('tool(table-filter)', function(obj){
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'preview'){
                showPreviewDialog();
                toPreview(data.id);
            } else if(layEvent === 'edit'){
                showEditDialog();
                toEdit(data.id);
            } else if(layEvent === 'cancel'){
                sureCancel(data.id);
            }
        });
    }

    function showEditDialog(){
        layer.open({
            title: '公告编辑',
            type: 1,
            area: ['600px', '400px'],
            content: $("#addDiv"),
            btn : [ '发布', '取消' ],
            btnAlign: 'c',
            success : function(layero, index) {
                $("#editForm")[0].reset();
            },
            yes : function(index, layero) {
                submitEditForm();
            },
            btn2 : function(index, layero) {
                layer.closeAll();
                $("#addDiv").hide();
            },
            cancel: function(index, layero){
                $("#addDiv").hide();
            }
        });
    }
    function showPreviewDialog(){
        layer.open({
            title: '预览',
            type: 1,
            area: ['610px', '400px'],
            content: $("#previewDiv"),
            btnAlign: 'c',
            success : function(layero, index) {

            },
            cancel: function(index, layero){
                $("#previewDiv").hide();
            }
        });
    }

    function toEdit(id){
        $.getJson("/announcement/preview/"+ id, function(data){
                    form.val("editForm", data)
                    console.log(data);
                    $('#editFormSelectFileName').html(data.fileList[0].fileName);
                    $('input[name="fileList[0].id"]').val(data.fileList[0].id);
                    $('input[name="fileList[0].fileName"]').val(data.fileList[0].fileName);
                    $('input[name="fileList[0].fileStoragePath"]').val(data.fileList[0].fileStoragePath);
            }
        );
    }
    function toPreview(id){
        $.getJson("/announcement/preview/"+ id, function(data){
                    $('#previewTitle').html(data.title);
                    $('#previewContent').html(data.content);
                    $('#previewFilename').html(data.fileList[0].fileName);
                    $('#previewFilename').attr("href", data.fileList[0].fileStoragePath);
            }
        );
    }
    function sureCancel(id){
        layer.confirm('确定撤销吗', function(index){
            $.getJson("/announcement/revoke/"+ id, function(){
                        loadTable();
                        layer.close(index);
                }
            );
        });
    }
    function submitEditForm(){
        var json = $("#editForm").serializeJson();
        json['topmost'] = json['topmost'] || 0;
        $.postJson("/announcement/info", json, function(data){
            release(data);
        });
    }
    function release(id){
        $.getJson("/announcement/release/" + id, function() {
                    layer.closeAll();
                    $("#addDiv").hide();
                    loadTable();
                    layer.msg(res.msg);
            }
        );
    }
</script>
</body>

</html>