<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/main/assets/css/view.css"/>
    <title>Portal</title>

    <style>
        td{
            padding:5px;
        }
    </style>
</head>
<body class="layui-view-body">

<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-form-mid">角色:</div>
                            <div class="layui-input-inline" style="width: 150px;">
                                <input type="text" autocomplete="off" class="layui-input">
                            </div>
                            <button class="layui-btn layui-btn-blue">查询</button>
                        </div>
                    </div>
                    <table id="table" lay-filter="table-filter"></table>
                    <script type="text/html" id="toolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="create">创建角色</button>
                        </div>
                    </script>
                    <script type="text/html" id="tableOprate">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
                    </script>
                    <div  id="addDiv" style="width:700px;height:500px;display: none;">
                        <form id="roleEditForm" class="layui-form" action="" lay-filter="roleEditForm">
                            <input type="hidden" name="id" />
                            <table border="0" style="width:100%;height:100%;">
                                <tr>
                                    <td style="width:100px;height:60px;text-align: right;">角色：</td>
                                    <td ><input type="text" autocomplete="off" class="layui-input" name="roleName"></td>
                                    <td rowspan="3" style="width: 260px;vertical-align: top;">
                                        <div style="border:1px solid #ccc;height:100%;overflow-y:auto;">
                                            <div id="tree1" class="demo-tree demo-tree-box"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:100px;text-align: right;vertical-align: top;">职位描述：</td>
                                    <td><textarea placeholder="请输入内容" class="layui-textarea" name="roleDesc"></textarea></td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../../static/jquery/jquery-2.1.4.min.js'></script>
<script src="../../static/util/util.js" type="text/javascript" ></script>
<script src="../../static/layui/layui.all.js"></script>
<script src="../../static/main/assets/js/su.js" type="text/javascript"></script>
<script>
    $(function() {
        loadTable();
    });
    var element = layui.element;
    var table = layui.table;
    var form = layui.form;
    layui.use(['tree', 'util'], function() {
        var tree = layui.tree
            , layer = layui.layer
            , util = layui.util;

        tree.render({
            elem: '#tree1'
            , showCheckbox:true
            , id:'tree1'
            , isJump: true
            , data:
                [{
                    title:"网站",
                    id:3,
                    checked:true,
                    spread:true,
                    children:[
                        {
                            title:"网站2",
                            id:2
                        }
                    ]
                }]
            ,click: function(obj){
                var data = obj.data;  //获取当前点击的节点数据
                layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(data));
            }
        });
    });

    function loadTable() {
        //展示已知数据
        table.render({
            elem: '#table'
            , url: '/permission/roleInfo'
            , method: 'get'
            , request: {pageName: 'pageNum', limitName: 'pageSize'}
            , where: {title: $('#title').val(), releaseStartTime: $('#releaseStartTime').val()}
            , parseData: function(res){
                console.log(res);
                return {
                    "code": res.code == 1 ? 0 : res.code,
                    "msg": res.msg,
                    "count": res.data.total,
                    "data": res.data.list
                };
            }
            , skin: 'line' //表格风格
            , even: true
            , page: true
            , limits: [10, 20, 30]
            , limit: 10
            , toolbar: '#toolbar'
            , text: {
                none: '无数据'
            }
            , cols: [[ //标题栏
                {field: 'id', title: 'ID', minWidth: 30, hide:true}
                , {field: 'roleName', title: '角色', minWidth: 30, display:true}
                , {field: 'roleDesc', title: '职位描述', minWidth: 80,hidden:true}
                , {field: 'oprate', title: '操作', minWidth: 80, toolbar: '#tableOprate'}
            ]]
            ,done: function () {
//                $("[data-field='registId']").css('display','none');
//                $("[data-field='customerId']").css('display','none');
            }

        });
        //头工具栏事件
        table.on('toolbar(table-filter)', function(obj){
            if(obj.event === 'create'){
                showAddDialog();
            }
        });
        //监听行工具事件
        table.on('tool(table-filter)', function(obj){
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'edit'){
                showAddDialog();
                toEdit(data.id);
            }
        });
    }
    function showAddDialog(){
        layer.open({
            title: '权限配置',
            type: 1,
            area: ['700px', '600px'], //宽高
            content: $("#addDiv"),
            btn : [ '保存', '取消' ],
            btnAlign: 'c',
            success : function(layero, index) {
                $("#roleEditForm")[0].reset();
                $("#roleEditForm").find("input[name='id']").val("");
            },
            yes : function(index, layero) {
                saveRole();
                layer.closeAll();
            },
            btn2 : function(index, layero) {
                layer.closeAll();
                $("#addDiv").hide();
            },
            cancel: function(index, layero){
                $("#addDiv").hide();
            }
        });
    }
    function saveRole(){
        var json = $("#roleEditForm").serializeJson();
        var url = '/permission/saveRole';
        if(json.id){
            url = '/permission/updateRole';
        }
        $.postJson(url, json, function(data){
            loadTable();
            layer.msg(data.msg);
        });
    }
    function toEdit(id){
        $.getJson("/permission/findRole/"+ id, function(data){
                form.val("roleEditForm", data);
                console.log(data);
            }
        );
    }
</script>

</body>

</html>