<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.price.CatalogPriceMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.price.CatalogPrice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="bu" jdbcType="VARCHAR" property="bu" />
    <result column="pdt" jdbcType="VARCHAR" property="pdt" />
    <result column="sap_code" jdbcType="VARCHAR" property="sapCode" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="product_model" jdbcType="VARCHAR" property="productModel" />
    <result column="price_type" jdbcType="VARCHAR" property="priceType" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="catalog_price" jdbcType="DECIMAL" property="catalogPrice" />
    <result column="in_customer" jdbcType="VARCHAR" property="inCustomer" />
    <result column="effect_time" jdbcType="VARCHAR" property="effectTime" />
    <result column="dead_time" jdbcType="TIMESTAMP" property="deadTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="boms" property="boms" typeHandler="com.crazy.portal.config.mybatis.handler.ArrayJsonHandler" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, status, bu, pdt, sap_code, platform, product_model,price_type, product_type,catalog_price, in_customer,
    effect_time, dead_time, modify_time, boms,remark, create_time
  </sql>

  <select id="selectBySapCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_catalog_price
    where sap_code = #{sapCode,jdbcType=VARCHAR}
  </select>

  <select id="findCatalogPrices" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_catalog_price
    where product_model = #{productModel,jdbcType=VARCHAR}
    and bu = #{bu,jdbcType=VARCHAR}
  </select>

  <select id="findSingleCatalogPrice" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_catalog_price
    where product_model = #{productModel,jdbcType=VARCHAR}
    and bu = #{bu,jdbcType=VARCHAR}
    and in_customer = #{inCustomer,jdbcType=VARCHAR}
  </select>

  <select id="getPriceByProduct" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_catalog_price
    where product_model = #{productModel,jdbcType=VARCHAR}
    and platform = #{platform,jdbcType=VARCHAR}
  </select>

  <select id="selectByParamsWithPage" parameterType="com.crazy.portal.bean.price.CatalogPriceVO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_catalog_price
    where 1=1
    <if test="userType != 'internal'">
    and (
      <!--物料号被当前登录人下过订单-->
      sap_code in (
        select distinct product_id from t_order_line where create_id = #{createId,jdbcType=INTEGER}
      )
      <!--物料号被当前登录人报过预测-->
      or sap_code in (
        select distinct vm_number from t_forecast where create_user_id = #{createId,jdbcType=INTEGER}
      )
    )
    <!--内部客户为当前登录的代理商-->
    and in_customer in (
      select cust_abbreviation from t_customer_info
      where id in (
        select cust_id from t_cust_corporate_relationship where corporate_type='Z004-1'
        and corporate_id = (select in_code from t_customer_info where id = #{dealerId,jdbcType=INTEGER})
      )
    )
    <!--或者当前登录人申请过此物料号-->
    or sap_code in (
      select distinct sap_code from t_enquiry_price where proposer = #{proposer,jdbcType=VARCHAR}
    )
    </if>
    <if test="bu != null and bu != ''">
      and bu = #{bu,jdbcType=VARCHAR}
    </if>
    <if test="pdt != null and pdt != ''">
      and pdt = #{pdt,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status != ''">
      and status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="platform != null and platform != '' ">
      and platform = #{platform,jdbcType=VARCHAR}
    </if>
    <if test="productModel != null and productModel != '' ">
      and product_model = #{productModel,jdbcType=VARCHAR}
    </if>
    <if test="priceType != null and priceType != '' ">
      and price_type = #{priceType,jdbcType=VARCHAR}
    </if>
    <if test="inCustomer != null and inCustomer != '' ">
      and in_customer = #{inCustomer,jdbcType=VARCHAR}
    </if>
    <if test="effectBeginTime != null and effectBeginTime != ''">
      and effect_time &gt;= #{effectBeginTime,jdbcType=VARCHAR}
    </if>
    <if test="effectEndTime != null and effectEndTime != ''">
      and effect_time &lt;= #{effectEndTime,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_catalog_price
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.crazy.portal.entity.price.CatalogPrice">
    insert into t_catalog_price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="bu != null">
        bu,
      </if>
      <if test="pdt != null">
        pdt,
      </if>
      <if test="sapCode != null">
        sap_code,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="productModel != null">
        product_model,
      </if>
      <if test="priceType != null">
        price_type,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="catalogPrice != null">
        catalog_price,
      </if>
      <if test="inCustomer != null">
        in_customer,
      </if>
      <if test="effectTime != null">
        effect_time,
      </if>
      <if test="deadTime != null">
        dead_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="boms != null">
        boms,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        #{bu,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="sapCode != null">
        #{sapCode,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="priceType != null">
        #{priceType,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="catalogPrice != null">
        #{catalogPrice,jdbcType=DECIMAL},
      </if>
      <if test="inCustomer != null">
        #{inCustomer,jdbcType=VARCHAR},
      </if>
      <if test="effectTime != null">
        #{effectTime,jdbcType=VARCHAR},
      </if>
      <if test="deadTime != null">
        #{deadTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="boms != null">
        #{boms,jdbcType=OTHER,typeHandler=com.crazy.portal.config.mybatis.handler.ArrayJsonHandler},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.price.CatalogPrice">
    update t_catalog_price
    <set>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        bu = #{bu,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        pdt = #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="sapCode != null">
        sap_code = #{sapCode,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="priceType != null">
        price_type = #{priceType,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="catalogPrice != null">
        catalog_price = #{catalogPrice,jdbcType=DECIMAL},
      </if>
      <if test="inCustomer != null">
        in_customer = #{inCustomer,jdbcType=VARCHAR},
      </if>
      <if test="effectTime != null">
        effect_time = #{effectTime,jdbcType=VARCHAR},
      </if>
      <if test="deadTime != null">
        dead_time = #{deadTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="boms != null">
        boms = #{boms,jdbcType=OTHER,typeHandler=com.crazy.portal.config.mybatis.handler.ArrayJsonHandler},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>