<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.price.CatalogPriceMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.price.CatalogPrice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="bu" jdbcType="VARCHAR" property="bu" />
    <result column="pdt" jdbcType="VARCHAR" property="pdt" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="product_model" jdbcType="VARCHAR" property="productModel" />
    <result column="catalog_price" jdbcType="DECIMAL" property="catalogPrice" />
    <result column="inside_customer" jdbcType="VARCHAR" property="insideCustomer" />
    <result column="effective_time" jdbcType="TIMESTAMP" property="effectiveTime" />
    <result column="dead_time" jdbcType="TIMESTAMP" property="deadTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, status, bu, pdt, product_type, platform, product_model, catalog_price, inside_customer, 
    effective_time, dead_time, modify_time, remark, create_time
  </sql>

  <sql id="Base_Where_List">
    <where>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        bu = #{bu,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        pdt = #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="catalogPrice != null">
        catalog_price = #{catalogPrice,jdbcType=DECIMAL},
      </if>
      <if test="insideCustomer != null">
        inside_customer = #{insideCustomer,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTime != null">
        effective_time = #{effectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectBeginTime != null">
        effective_time &gt;= #{effectBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectEndTime != null">
        effective_time &lt;= #{effectEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadTime != null">
        dead_time = #{deadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </where>

  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_catalog_price
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByParams" parameterType="com.crazy.portal.bean.price.CatalogPriceVO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_catalog_price
    <include refid="Base_Where_List" />
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_catalog_price
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.crazy.portal.entity.price.CatalogPrice">
    insert into t_catalog_price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="bu != null">
        bu,
      </if>
      <if test="pdt != null">
        pdt,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="productModel != null">
        product_model,
      </if>
      <if test="catalogPrice != null">
        catalog_price,
      </if>
      <if test="insideCustomer != null">
        inside_customer,
      </if>
      <if test="effectiveTime != null">
        effective_time,
      </if>
      <if test="deadTime != null">
        dead_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        #{bu,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="catalogPrice != null">
        #{catalogPrice,jdbcType=DECIMAL},
      </if>
      <if test="insideCustomer != null">
        #{insideCustomer,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTime != null">
        #{effectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadTime != null">
        #{deadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.price.CatalogPrice">
    update t_catalog_price
    <set>
        <include refid="Base_Where_List" />
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>