<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.price.PriceStrategyMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.price.PriceStrategy">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="bu" jdbcType="VARCHAR" property="bu" />
    <result column="pdt" jdbcType="VARCHAR" property="pdt" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="product_model" jdbcType="VARCHAR" property="productModel" />
    <result column="upper_number" jdbcType="INTEGER" property="upperNumber" />
    <result column="lower_number" jdbcType="INTEGER" property="lowerNumber" />
    <result column="catalog_price" jdbcType="DECIMAL" property="catalogPrice" />
    <result column="permission_price" jdbcType="DECIMAL" property="permissionPrice" />
    <result column="bottom_line_price" jdbcType="DECIMAL" property="bottomLinePrice" />
    <result column="standard_cost" jdbcType="DECIMAL" property="standardCost" />
    <result column="depreciation_cost" jdbcType="DECIMAL" property="depreciationCost" />
    <result column="in_customer" jdbcType="VARCHAR" property="inCustomer" />
    <result column="effect_time" jdbcType="TIMESTAMP" property="effectTime" />
    <result column="dead_time" jdbcType="TIMESTAMP" property="deadTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="product_status" jdbcType="VARCHAR" property="productStatus" />
    <result column="product_belong_to" jdbcType="VARCHAR" property="productBelongTo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, status, bu, pdt, product_type, platform, product_model, upper_number, lower_number, 
    catalog_price, permission_price, bottom_line_price, standard_cost,depreciation_cost, in_customer,
    effect_time, dead_time, modify_time, product_status, product_belong_to, remark, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_price_strategy
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByParamsWithPage" parameterType="com.crazy.portal.bean.price.PriceStrategyVO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_price_strategy
    <where>
      1=1
      <if test="bu != null and bu != ''">
        and bu = #{bu,jdbcType=VARCHAR}
      </if>
      <if test="pdt != null and pdt != ''">
        and pdt = #{pdt,jdbcType=VARCHAR}
      </if>
      <if test="productType != null and productType != ''">
        and productType = #{productType,jdbcType=VARCHAR}
      </if>
      <if test="productModel != null and productModel != '' ">
        and product_model = #{productModel,jdbcType=VARCHAR}
      </if>
      <if test="productStatus != null and productStatus != ''">
        and product_status = #{productStatus,jdbcType=VARCHAR}
      </if>
      <if test="platform != null and platform != ''">
        and platform = #{platform,jdbcType=VARCHAR}
      </if>
      <if test="effectBeginTime != null">
        and effect_time &gt;= #{effectBeginTime,jdbcType=TIMESTAMP}
      </if>
      <if test="effectEndTime != null">
        and effect_time &lt;= #{effectEndTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_price_strategy
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.crazy.portal.entity.price.PriceStrategy">
    insert into t_price_strategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="bu != null">
        bu,
      </if>
      <if test="pdt != null">
        pdt,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="productModel != null">
        product_model,
      </if>
      <if test="upperNumber != null">
        upper_number,
      </if>
      <if test="lowerNumber != null">
        lower_number,
      </if>
      <if test="catalogPrice != null">
        catalog_price,
      </if>
      <if test="permissionPrice != null">
        permission_price,
      </if>
      <if test="bottomLinePrice != null">
        bottom_line_price,
      </if>
      <if test="standardCost != null">
        standard_cost,
      </if>
      <if test="depreciationCost != null">
        depreciation_cost,
      </if>
      <if test="inCustomer != null">
        in_customer,
      </if>
      <if test="effectTime != null">
        effect_time,
      </if>
      <if test="deadTime != null">
        dead_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="productStatus != null">
        product_status,
      </if>
      <if test="productBelongTo != null">
        product_belong_to,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        #{bu,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="upperNumber != null">
        #{upperNumber,jdbcType=INTEGER},
      </if>
      <if test="lowerNumber != null">
        #{lowerNumber,jdbcType=INTEGER},
      </if>
      <if test="catalogPrice != null">
        #{catalogPrice,jdbcType=DECIMAL},
      </if>
      <if test="permissionPrice != null">
        #{permissionPrice,jdbcType=DECIMAL},
      </if>
      <if test="bottomLinePrice != null">
        #{bottomLinePrice,jdbcType=DECIMAL},
      </if>
      <if test="standardCost != null">
        #{standardCost,jdbcType=DECIMAL},
      </if>
      <if test="depreciationCost != null">
        #{depreciationCost,jdbcType=DECIMAL},
      </if>
      <if test="inCustomer != null">
        #{inCustomer,jdbcType=VARCHAR},
      </if>
      <if test="effectTime != null">
        #{effectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadTime != null">
        #{deadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productStatus != null">
        #{productStatus,jdbcType=VARCHAR},
      </if>
      <if test="productBelongTo != null">
        #{productBelongTo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.price.PriceStrategy">
    update t_price_strategy
    <set>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        bu = #{bu,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        pdt = #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="upperNumber != null">
        upper_number = #{upperNumber,jdbcType=INTEGER},
      </if>
      <if test="lowerNumber != null">
        lower_number = #{lowerNumber,jdbcType=INTEGER},
      </if>
      <if test="catalogPrice != null">
        catalog_price = #{catalogPrice,jdbcType=DECIMAL},
      </if>
      <if test="permissionPrice != null">
        permission_price = #{permissionPrice,jdbcType=DECIMAL},
      </if>
      <if test="bottomLinePrice != null">
        bottom_line_price = #{bottomLinePrice,jdbcType=DECIMAL},
      </if>
      <if test="standardCost != null">
        standard_cost = #{standardCost,jdbcType=DECIMAL},
      </if>
      <if test="depreciationCost != null">
        depreciation_cost = #{depreciationCost,jdbcType=DECIMAL},
      </if>
      <if test="inCustomer != null">
        in_customer = #{inCustomer,jdbcType=VARCHAR},
      </if>
      <if test="effectTime != null">
        effect_time = #{effectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadTime != null">
        dead_time = #{deadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productStatus != null">
        product_status = #{productStatus,jdbcType=VARCHAR},
      </if>
      <if test="productBelongTo != null">
        product_belong_to = #{productBelongTo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>