<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.business.idr.BusinessReturnsInfoMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.business.idr.BusinessReturnsInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="idr_info_id" jdbcType="INTEGER" property="idrInfoId" />
    <result column="shipment_company" jdbcType="VARCHAR" property="shipmentCompany" />
    <result column="agency_name" jdbcType="VARCHAR" property="agencyName" />
    <result column="take_goods_date" jdbcType="VARCHAR" property="takeGoodsDate" />
    <result column="return_product_line" jdbcType="VARCHAR" property="returnProductLine" />
    <result column="return_bu" jdbcType="VARCHAR" property="returnBu" />
    <result column="return_pdt" jdbcType="VARCHAR" property="returnPdt" />
    <result column="return_platform" jdbcType="VARCHAR" property="returnPlatform" />
    <result column="return_product_model" jdbcType="VARCHAR" property="returnProductModel" />
    <result column="return_num" jdbcType="INTEGER" property="returnNum" />
    <result column="return_currency" jdbcType="VARCHAR" property="returnCurrency" />
    <result column="return_price" jdbcType="DECIMAL" property="returnPrice" />
    <result column="return_customer_attribute" jdbcType="VARCHAR" property="returnCustomerAttribute" />
    <result column="return_agency_rate" jdbcType="VARCHAR" property="returnAgencyRate" />
    <result column="return_amount" jdbcType="DECIMAL" property="returnAmount" />
    <result column="return_rate_amount" jdbcType="DECIMAL" property="returnRateAmount"/>
    <result column="exchange_product_line" jdbcType="VARCHAR" property="exchangeProductLine" />
    <result column="exchange_bu" jdbcType="VARCHAR" property="exchangeBu" />
    <result column="exchange_pdt" jdbcType="VARCHAR" property="exchangePdt" />
    <result column="exchange_platform" jdbcType="VARCHAR" property="exchangePlatform" />
    <result column="exchange_product_model" jdbcType="VARCHAR" property="exchangeProductModel" />
    <result column="exchange_num" jdbcType="INTEGER" property="exchangeNum" />
    <result column="exchange_currency" jdbcType="VARCHAR" property="exchangeCurrency" />
    <result column="exchange_price" jdbcType="DECIMAL" property="exchangePrice" />
    <result column="exchange_amount" jdbcType="DECIMAL" property="exchangeAmount" />
    <result column="exchange_date" jdbcType="VARCHAR" property="exchangeDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, idr_info_id, shipment_company, agency_name, take_goods_date, return_product_line,
    return_bu, return_pdt, return_platform, return_product_model, return_num, return_currency,
    return_price, return_customer_attribute, return_agency_rate, return_amount, return_rate_amount, exchange_product_line,
    exchange_bu, exchange_pdt, exchange_platform, exchange_product_model, exchange_num,
    exchange_currency, exchange_price, exchange_amount, exchange_date, remark, create_id,
    create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_business_returns_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_business_returns_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.crazy.portal.entity.business.idr.BusinessReturnsInfo">
    insert into t_business_returns_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="idrInfoId != null">
        idr_info_id,
      </if>
      <if test="shipmentCompany != null">
        shipment_company,
      </if>
      <if test="agencyName != null">
        agency_name,
      </if>
      <if test="takeGoodsDate != null">
        take_goods_date,
      </if>
      <if test="returnProductLine != null">
        return_product_line,
      </if>
      <if test="returnBu != null">
        return_bu,
      </if>
      <if test="returnPdt != null">
        return_pdt,
      </if>
      <if test="returnPlatform != null">
        return_platform,
      </if>
      <if test="returnProductModel != null">
        return_product_model,
      </if>
      <if test="returnNum != null">
        return_num,
      </if>
      <if test="returnCurrency != null">
        return_currency,
      </if>
      <if test="returnPrice != null">
        return_price,
      </if>
      <if test="returnCustomerAttribute != null">
        return_customer_attribute,
      </if>
      <if test="returnAgencyRate != null">
        return_agency_rate,
      </if>
      <if test="returnAmount != null">
        return_amount,
      </if>
      <if test="returnRateAmount != null">
        return_rate_amount,
      </if>
      <if test="exchangeProductLine != null">
        exchange_product_line,
      </if>
      <if test="exchangeBu != null">
        exchange_bu,
      </if>
      <if test="exchangePdt != null">
        exchange_pdt,
      </if>
      <if test="exchangePlatform != null">
        exchange_platform,
      </if>
      <if test="exchangeProductModel != null">
        exchange_product_model,
      </if>
      <if test="exchangeNum != null">
        exchange_num,
      </if>
      <if test="exchangeCurrency != null">
        exchange_currency,
      </if>
      <if test="exchangePrice != null">
        exchange_price,
      </if>
      <if test="exchangeAmount != null">
        exchange_amount,
      </if>
      <if test="exchangeDate != null">
        exchange_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="idrInfoId != null">
        #{idrInfoId,jdbcType=INTEGER},
      </if>
      <if test="shipmentCompany != null">
        #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="agencyName != null">
        #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="takeGoodsDate != null">
        #{takeGoodsDate,jdbcType=VARCHAR},
      </if>
      <if test="returnProductLine != null">
        #{returnProductLine,jdbcType=VARCHAR},
      </if>
      <if test="returnBu != null">
        #{returnBu,jdbcType=VARCHAR},
      </if>
      <if test="returnPdt != null">
        #{returnPdt,jdbcType=VARCHAR},
      </if>
      <if test="returnPlatform != null">
        #{returnPlatform,jdbcType=VARCHAR},
      </if>
      <if test="returnProductModel != null">
        #{returnProductModel,jdbcType=VARCHAR},
      </if>
      <if test="returnNum != null">
        #{returnNum,jdbcType=INTEGER},
      </if>
      <if test="returnCurrency != null">
        #{returnCurrency,jdbcType=VARCHAR},
      </if>
      <if test="returnPrice != null">
        #{returnPrice,jdbcType=DECIMAL},
      </if>
      <if test="returnCustomerAttribute != null">
        #{returnCustomerAttribute,jdbcType=VARCHAR},
      </if>
      <if test="returnAgencyRate != null">
        #{returnAgencyRate,jdbcType=VARCHAR},
      </if>
      <if test="returnAmount != null">
        #{returnAmount,jdbcType=DECIMAL},
      </if>
      <if test="returnRateAmount != null">
        #{returnRateAmount,jdbcType=DECIMAL},
      </if>
      <if test="exchangeProductLine != null">
        #{exchangeProductLine,jdbcType=VARCHAR},
      </if>
      <if test="exchangeBu != null">
        #{exchangeBu,jdbcType=VARCHAR},
      </if>
      <if test="exchangePdt != null">
        #{exchangePdt,jdbcType=VARCHAR},
      </if>
      <if test="exchangePlatform != null">
        #{exchangePlatform,jdbcType=VARCHAR},
      </if>
      <if test="exchangeProductModel != null">
        #{exchangeProductModel,jdbcType=VARCHAR},
      </if>
      <if test="exchangeNum != null">
        #{exchangeNum,jdbcType=INTEGER},
      </if>
      <if test="exchangeCurrency != null">
        #{exchangeCurrency,jdbcType=VARCHAR},
      </if>
      <if test="exchangePrice != null">
        #{exchangePrice,jdbcType=DECIMAL},
      </if>
      <if test="exchangeAmount != null">
        #{exchangeAmount,jdbcType=DECIMAL},
      </if>
      <if test="exchangeDate != null">
        #{exchangeDate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.business.idr.BusinessReturnsInfo">
    update t_business_returns_info
    <set>
      <if test="idrInfoId != null">
        idr_info_id = #{idrInfoId,jdbcType=INTEGER},
      </if>
      <if test="shipmentCompany != null">
        shipment_company = #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="agencyName != null">
        agency_name = #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="takeGoodsDate != null">
        take_goods_date = #{takeGoodsDate,jdbcType=VARCHAR},
      </if>
      <if test="returnProductLine != null">
        return_product_line = #{returnProductLine,jdbcType=VARCHAR},
      </if>
      <if test="returnBu != null">
        return_bu = #{returnBu,jdbcType=VARCHAR},
      </if>
      <if test="returnPdt != null">
        return_pdt = #{returnPdt,jdbcType=VARCHAR},
      </if>
      <if test="returnPlatform != null">
        return_platform = #{returnPlatform,jdbcType=VARCHAR},
      </if>
      <if test="returnProductModel != null">
        return_product_model = #{returnProductModel,jdbcType=VARCHAR},
      </if>
      <if test="returnNum != null">
        return_num = #{returnNum,jdbcType=INTEGER},
      </if>
      <if test="returnCurrency != null">
        return_currency = #{returnCurrency,jdbcType=VARCHAR},
      </if>
      <if test="returnPrice != null">
        return_price = #{returnPrice,jdbcType=DECIMAL},
      </if>
      <if test="returnCustomerAttribute != null">
        return_customer_attribute = #{returnCustomerAttribute,jdbcType=VARCHAR},
      </if>
      <if test="returnAgencyRate != null">
        return_agency_rate = #{returnAgencyRate,jdbcType=VARCHAR},
      </if>
      <if test="returnAmount != null">
        return_amount = #{returnAmount,jdbcType=DECIMAL},
      </if>
      <if test="returnRateAmount != null">
        return_rate_amount = #{returnRateAmount,jdbcType=DECIMAL},
      </if>
      <if test="exchangeProductLine != null">
        exchange_product_line = #{exchangeProductLine,jdbcType=VARCHAR},
      </if>
      <if test="exchangeBu != null">
        exchange_bu = #{exchangeBu,jdbcType=VARCHAR},
      </if>
      <if test="exchangePdt != null">
        exchange_pdt = #{exchangePdt,jdbcType=VARCHAR},
      </if>
      <if test="exchangePlatform != null">
        exchange_platform = #{exchangePlatform,jdbcType=VARCHAR},
      </if>
      <if test="exchangeProductModel != null">
        exchange_product_model = #{exchangeProductModel,jdbcType=VARCHAR},
      </if>
      <if test="exchangeNum != null">
        exchange_num = #{exchangeNum,jdbcType=INTEGER},
      </if>
      <if test="exchangeCurrency != null">
        exchange_currency = #{exchangeCurrency,jdbcType=VARCHAR},
      </if>
      <if test="exchangePrice != null">
        exchange_price = #{exchangePrice,jdbcType=DECIMAL},
      </if>
      <if test="exchangeAmount != null">
        exchange_amount = #{exchangeAmount,jdbcType=DECIMAL},
      </if>
      <if test="exchangeDate != null">
        exchange_date = #{exchangeDate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByIdrInfoId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_returns_info
    where idr_info_id = #{idrInfoId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByIdrInfoId">
    delete from t_business_returns_info
    where idr_info_id = #{idrInfoId,jdbcType=INTEGER}
  </delete>

</mapper>