<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.business.idr.BusinessDiffPriceInfoMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.business.idr.BusinessDiffPriceInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="idr_info_id" jdbcType="INTEGER" property="idrInfoId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="difference_amount" jdbcType="DECIMAL" property="differenceAmount" />
    <result column="agency_rate" jdbcType="VARCHAR" property="agencyRate" />
    <result column="agent_price" jdbcType="DECIMAL" property="agentPrice" />
    <result column="customer_price" jdbcType="DECIMAL" property="customerPrice" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="shipment_date" jdbcType="VARCHAR" property="shipmentDate" />
    <result column="product_model" jdbcType="VARCHAR" property="productModel" />
    <result column="platfom" jdbcType="VARCHAR" property="platfom" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="pdt" jdbcType="VARCHAR" property="pdt" />
    <result column="bu" jdbcType="VARCHAR" property="bu" />
    <result column="customer_attribute" jdbcType="VARCHAR" property="customerAttribute" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="shipment_company" jdbcType="VARCHAR" property="shipmentCompany" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, idr_info_id, remark, difference_amount, agency_rate, agent_price, customer_price,
    num, shipment_date, product_model, platfom, product_type, pdt, bu, customer_attribute,
    customer_name, shipment_company, create_id, create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_diff_price_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_business_diff_price_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.crazy.portal.entity.business.idr.BusinessDiffPriceInfo">
    insert into t_business_diff_price_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="idrInfoId != null">
        idr_info_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="differenceAmount != null">
        difference_amount,
      </if>
      <if test="agencyRate != null">
        agency_rate,
      </if>
      <if test="agentPrice != null">
        agent_price,
      </if>
      <if test="customerPrice != null">
        customer_price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="shipmentDate != null">
        shipment_date,
      </if>
      <if test="productModel != null">
        product_model,
      </if>
      <if test="platfom != null">
        platfom,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="pdt != null">
        pdt,
      </if>
      <if test="bu != null">
        bu,
      </if>
      <if test="customerAttribute != null">
        customer_attribute,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="shipmentCompany != null">
        shipment_company,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="idrInfoId != null">
        #{idrInfoId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="differenceAmount != null">
        #{differenceAmount,jdbcType=DECIMAL},
      </if>
      <if test="agencyRate != null">
        #{agencyRate,jdbcType=VARCHAR},
      </if>
      <if test="agentPrice != null">
        #{agentPrice,jdbcType=DECIMAL},
      </if>
      <if test="customerPrice != null">
        #{customerPrice,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="shipmentDate != null">
        #{shipmentDate,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="platfom != null">
        #{platfom,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        #{bu,jdbcType=VARCHAR},
      </if>
      <if test="customerAttribute != null">
        #{customerAttribute,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="shipmentCompany != null">
        #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.business.idr.BusinessDiffPriceInfo">
    update t_business_diff_price_info
    <set>
      <if test="idrInfoId != null">
        idr_info_id = #{idrInfoId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="differenceAmount != null">
        difference_amount = #{differenceAmount,jdbcType=DECIMAL},
      </if>
      <if test="agencyRate != null">
        agency_rate = #{agencyRate,jdbcType=VARCHAR},
      </if>
      <if test="agentPrice != null">
        agent_price = #{agentPrice,jdbcType=DECIMAL},
      </if>
      <if test="customerPrice != null">
        customer_price = #{customerPrice,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="shipmentDate != null">
        shipment_date = #{shipmentDate,jdbcType=VARCHAR},
      </if>
      <if test="productModel != null">
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="platfom != null">
        platfom = #{platfom,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="pdt != null">
        pdt = #{pdt,jdbcType=VARCHAR},
      </if>
      <if test="bu != null">
        bu = #{bu,jdbcType=VARCHAR},
      </if>
      <if test="customerAttribute != null">
        customer_attribute = #{customerAttribute,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="shipmentCompany != null">
        shipment_company = #{shipmentCompany,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByIdrInfoId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_business_diff_price_info
    where idr_info_id = #{idrInfoId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByIdrInfoId">
    delete from t_business_diff_price_info
    where idr_info_id = #{idrInfoId,jdbcType=INTEGER}
  </delete>
</mapper>