<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/main/assets/css/view.css"/>
    <title>Portal</title>
    <style>
        .right{
            text-align: right;
        }
        td{
            padding:5px;
        }
    </style>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <table style="width:100%;">
                            <tr>
                                <td class="right">客户名称:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" autocomplete="off" class="layui-input" id="title">
                                    </div>
                                </td>
                                <td class="right">英文名称:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" >
                                    </div>
                                </td>
                                <td class="right">客户号:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="right">代理商:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" autocomplete="off" class="layui-input" >
                                    </div>
                                </td>
                                <td class="right">客户类别:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <select>
                                            <option selected>
                                                Account Market
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td class="right">销售:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="right">报备状态:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" >
                                    </div>
                                </td>
                                <td class="right">报备时间:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" placeholder="yyyy-mm-dd">
                                    </div>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <button class="layui-btn layui-btn-blue" onclick="loadTable()">查询</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table id="table" lay-filter="table-filter"></table>
                    <script type="text/html" id="toolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="export">修改</button>
                        </div>
                    </script>
                    <script type="text/html" id="tableOprate">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="preview">预览</a>
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="cancel">撤销</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../../static/jquery/jquery-2.1.4.min.js'></script>
<script type="text/javascript"  src="../../static/util/util.js"></script>
<script src="../../static/layui/layui.all.js"></script>
<script type="text/javascript"  src="../../static/main/assets/js/su.js"></script>
<script>
    var element = layui.element;
    var table = layui.table;
    var form = layui.form;
    var laydate = layui.laydate;
    var upload = layui.upload;
    $(function() {
        loadTable();
        laydate.render({
            elem: '#time1'
        });
    });
    function loadTable() {
        //展示已知数据
        table.render({
            elem: '#table'
//            , url: '/announcement/list'
//            , method: 'get'
//            , request: {pageName: 'pageNum', limitName: 'pageSize'}
//            , where: {title: $('#title').val(), releaseStartTime: $('#releaseStartTime').val()}
//            , parseData: function(res){
//                console.log(res.data.total);
//                return {
//                    "code": res.code == 1 ? 0 : res.code,
//                    "msg": res.msg,
//                    "count": res.data.total,
//                    "data": res.data.list
//                };
//            }
            , data:[]
            , skin: 'line' //表格风格
            , even: true
            , page: true
            , limits: [10, 20, 30]
            , limit: 10
            , toolbar: '#toolbar'
            , text: {
                none: '无数据'
            }
            , cols: [[
                {field: 'id', title: 'ID', minWidth: 30, hide:true}
                , {field: 'title', title: '客户中文名', minWidth: 30, unresize:true}
                , {field: 'content', title: '客户英文名', minWidth: 80, unresize:true}
                , {field: 'createTimeStr', title: '客户号',  minWidth: 80, unresize:true}
                , {field: 'releaseTimeStr', title: '代理商', minWidth: 80, unresize:true}
                , {field: 'createUserName', title: "客户类别", minWidth: 80, unresize:true}
                , {field: 'createUserName2', title: "客户状态", minWidth: 80, unresize:true}
            ]]
            ,done: function () {
//                $("[data-field='id']").css('display','none');
            }
        });
        //头工具栏事件
        table.on('toolbar(table-filter)', function(obj){
            if(obj.event === 'detail'){
                window.location.href = '/view/customer/customerDetail.html';
            }
        });
        //监听行工具事件
        table.on('tool(table-filter)', function(obj){
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'preview'){
                showPreviewDialog();
                toPreview(data.id);
            } else if(layEvent === 'edit'){
                showEditDialog();
                toEdit(data.id);
            } else if(layEvent === 'cancel'){
                sureCancel(data.id);
            }
        });
    }
</script>
</body>

</html>