<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.customer.CustomerReportMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.cusotmer.CustomerReport">
    <id column="rep_id" jdbcType="INTEGER" property="repId" />
    <result column="report_dealer" jdbcType="INTEGER" property="reportDealer" />
    <result column="report_sales" jdbcType="INTEGER" property="reportSales" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="report_status" jdbcType="INTEGER" property="reportStatus" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="approve_user" jdbcType="INTEGER" property="approveUser" />
    <result column="approve_remark" jdbcType="VARCHAR" property="approveRemark" />
    <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
    <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
    <result column="invalid_time" jdbcType="TIMESTAMP" property="invalidTime" />
    <result column="active" jdbcType="INTEGER" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    rep_id, report_dealer,report_sales , customer_id, report_status, report_time, approve_user, approve_remark,
    approve_time, valid_time, invalid_time, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_customer_report
    where rep_id = #{repId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_customer_report
    where rep_id = #{repId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.cusotmer.CustomerReport">
    insert into t_customer_report (rep_id, report_dealer, report_sales, customer_id,
      report_status, report_time, approve_user, 
      approve_remark, approve_time, valid_time, 
      invalid_time, active)
    values (#{repId,jdbcType=INTEGER}, #{reportDealer,jdbcType=INTEGER},#{reportSales,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER},
      #{reportStatus,jdbcType=INTEGER}, #{reportTime,jdbcType=TIMESTAMP}, #{approveUser,jdbcType=INTEGER}, 
      #{approveRemark,jdbcType=VARCHAR}, #{approveTime,jdbcType=TIMESTAMP}, #{validTime,jdbcType=TIMESTAMP}, 
      #{invalidTime,jdbcType=TIMESTAMP}, #{active,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.cusotmer.CustomerReport" useGeneratedKeys="true" keyProperty="repId">
    insert into t_customer_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="repId != null">
        rep_id,
      </if>
      <if test="reportDealer != null">
        report_dealer,
      </if>
      <if test="reportSales != null">
        report_sales,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="reportStatus != null">
        report_status,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="approveUser != null">
        approve_user,
      </if>
      <if test="approveRemark != null">
        approve_remark,
      </if>
      <if test="approveTime != null">
        approve_time,
      </if>
      <if test="validTime != null">
        valid_time,
      </if>
      <if test="invalidTime != null">
        invalid_time,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="repId != null">
        #{rep_id,jdbcType=INTEGER},
      </if>
      <if test="reportDealer != null">
        #{reportDealer,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="reportStatus != null">
        #{reportStatus,jdbcType=INTEGER},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveUser != null">
        #{approveUser,jdbcType=INTEGER},
      </if>
      <if test="approveRemark != null">
        #{approveRemark,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null">
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validTime != null">
        #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.cusotmer.CustomerReport">
    update t_customer_report
    <set>
      <if test="reportDealer != null">
        report_dealer = #{reportDealer,jdbcType=INTEGER},
      </if>
      <if test="reportSales != null">
        report_sales = #{reportSales,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="reportStatus != null">
        report_status = #{reportStatus,jdbcType=INTEGER},
      </if>
      <if test="reportTime != null">
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveUser != null">
        approve_user = #{approveUser,jdbcType=INTEGER},
      </if>
      <if test="approveRemark != null">
        approve_remark = #{approveRemark,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null">
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validTime != null">
        valid_time = #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
    </set>
    where rep_id = #{repId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.cusotmer.CustomerReport">
    update t_customer_report
    set report_dealer = #{reportDealer,jdbcType=INTEGER},
    report_sales = #{reportSales,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      report_status = #{reportStatus,jdbcType=INTEGER},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      approve_user = #{approveUser,jdbcType=INTEGER},
      approve_remark = #{approveRemark,jdbcType=VARCHAR},
      approve_time = #{approveTime,jdbcType=TIMESTAMP},
      valid_time = #{validTime,jdbcType=TIMESTAMP},
      invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      active = #{active,jdbcType=INTEGER}
    where rep_id = #{repId,jdbcType=INTEGER}
  </update>

  <select id="selectReject" resultMap="BaseResultMap">
    select * from t_customer_report
    where rep_id != #{reportId} and customer_id =#{custId}
  </select>

  <select id="selectUserReport" resultMap="BaseResultMap">
    select * from t_customer_report
    where
    active =1
    and customer_id = #{custId}
    <if test="reportDealer != null">
      and report_dealer = #{reportDealer}
    </if>
    <if test="reportSales != null">
      and report_sales = #{reportSales}
    </if>
  </select>
</mapper>