<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.customer.TCustomerContactsMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.customer.TCustomerContacts">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="region_id" jdbcType="INTEGER" property="regionId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="emial" jdbcType="VARCHAR" property="emial" />
    <result column="event_mobile" jdbcType="VARCHAR" property="eventMobile" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_usr_id" jdbcType="INTEGER" property="updateUsrId" />
    <result column="active" jdbcType="SMALLINT" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    id, region_id, position, real_name, mobile, phone, emial, event_mobile, remark, create_time, 
    create_user_id, update_time, update_usr_id, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_customer_contacts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_customer_contacts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.customer.TCustomerContacts">
    insert into t_customer_contacts (id, region_id, position, 
      real_name, mobile, phone, 
      emial, event_mobile, remark, 
      create_time, create_user_id, update_time, 
      update_usr_id, active)
    values (#{id,jdbcType=INTEGER}, #{regionId,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{emial,jdbcType=VARCHAR}, #{eventMobile,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUsrId,jdbcType=INTEGER}, #{active,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.customer.TCustomerContacts">
    insert into t_customer_contacts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="emial != null">
        emial,
      </if>
      <if test="eventMobile != null">
        event_mobile,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUsrId != null">
        update_usr_id,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="emial != null">
        #{emial,jdbcType=VARCHAR},
      </if>
      <if test="eventMobile != null">
        #{eventMobile,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUsrId != null">
        #{updateUsrId,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        #{active,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.customer.TCustomerContacts">
    update t_customer_contacts
    <set>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="emial != null">
        emial = #{emial,jdbcType=VARCHAR},
      </if>
      <if test="eventMobile != null">
        event_mobile = #{eventMobile,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUsrId != null">
        update_usr_id = #{updateUsrId,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.customer.TCustomerContacts">
    update t_customer_contacts
    set region_id = #{regionId,jdbcType=INTEGER},
      position = #{position,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      emial = #{emial,jdbcType=VARCHAR},
      event_mobile = #{eventMobile,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_usr_id = #{updateUsrId,jdbcType=INTEGER},
      active = #{active,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>