<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.customer.TCustomerInfoMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.customer.TCustomerInfo">
    <id column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="customer_code" jdbcType="VARCHAR" property="customerCode" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="product_line" jdbcType="VARCHAR" property="productLine" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="tax_code" jdbcType="VARCHAR" property="taxCode" />
    <result column="parent_customer" jdbcType="INTEGER" property="parentCustomer" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="active" jdbcType="SMALLINT" property="active" />

    <result column="regist_status" jdbcType="INTEGER" property="registStatus" />
    <result column="regist_id" jdbcType="INTEGER" property="registId" />
  </resultMap>

  <resultMap id="CustomerInfoMap" type="com.crazy.portal.entity.customer.TCustomerInfo" extends="BaseResultMap" >
    <association property="address" resultMap="com.crazy.portal.dao.customer.TCustomerAddressMapper.BaseResultMap" />
    <association property="contacts" resultMap="com.crazy.portal.dao.customer.TCustomerContactsMapper.BaseResultMap" />
    <association property="project" resultMap="com.crazy.portal.dao.customer.TCustomerProjectMapper.BaseResultMap" />
  </resultMap>

  <sql id="Base_Column_List">
    customer_id, customer_code, customer_name, product_line, region, tax_code, parent_customer, 
    create_time, create_user_id, update_time, update_user_id, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_customer_info
    where customer_id = #{customerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_customer_info
    where customer_id = #{customerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.customer.TCustomerInfo">
    insert into t_customer_info (customer_id, customer_code, customer_name, 
      product_line, region, tax_code, 
      parent_customer, create_time, create_user_id, 
      update_time, update_user_id, active
      )
    values (#{customerId,jdbcType=INTEGER}, #{customerCode,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, 
      #{productLine,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{taxCode,jdbcType=VARCHAR}, 
      #{parentCustomer,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{active,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.customer.TCustomerInfo" keyProperty="customerId" useGeneratedKeys="true">
    insert into t_customer_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerCode != null">
        customer_code,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="productLine != null">
        product_line,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="taxCode != null">
        tax_code,
      </if>
      <if test="parentCustomer != null">
        parent_customer,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerCode != null">
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="productLine != null">
        #{productLine,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="taxCode != null">
        #{taxCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCustomer != null">
        #{parentCustomer,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        #{active,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.customer.TCustomerInfo">
    update t_customer_info
    <set>
      <if test="customerCode != null">
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="productLine != null">
        product_line = #{productLine,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="taxCode != null">
        tax_code = #{taxCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCustomer != null">
        parent_customer = #{parentCustomer,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=SMALLINT},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.customer.TCustomerInfo">
    update t_customer_info
    set customer_code = #{customerCode,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      product_line = #{productLine,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      tax_code = #{taxCode,jdbcType=VARCHAR},
      parent_customer = #{parentCustomer,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      active = #{active,jdbcType=SMALLINT}
    where customer_id = #{customerId,jdbcType=INTEGER}
  </update>

  <select id="selectByName" resultMap="BaseResultMap">
      select * from t_customer_info where customer_name =#{customerName} and active =1
  </select>
  
  <select id="selectByRegistId" resultMap="CustomerInfoMap">
    select b.*,
    c.id, c.province,c.city,c.address,c.is_default,
    d.id, d.position,d.real_name,d.mobile,d.phone,d.emial,d.event_mobile,
    e.id, e.project_name, e.competitor,e.material_name,e.competitor_material_name,
    e.expected_volume,e.estimated_production_time
    from `t_customer_region` a
    inner join `t_customer_info` b on a.customer_id = b.customer_id
    left join `t_customer_address` c on c.region_id = a.id
    left join `t_customer_contacts` d on d.region_id = a.id
    left join `t_customer_project` e on e.region_id = a.id
    where a.id = #{registId}
  </select>

  <select id="selectAllCustomer" resultMap="BaseResultMap">
      select a.customer_id,a.customer_code,a.customer_name,a.product_line,b.region,a.tax_code,a.parent_customer,b.regist_status,b.id as regist_id
      from `t_customer_info` a
      inner join t_customer_region b on a.customer_id = b.customer_id
  </select>

  <select id="approvalList" resultMap="BaseResultMap">
    select a.customer_id,a.customer_code,a.customer_name,a.product_line,b.region,a.tax_code,a.parent_customer,b.regist_status,b.id as regist_id
    from `t_customer_info` a
    inner join t_customer_region b on a.customer_id = b.customer_id
    where b.regist_status!=1
  </select>
</mapper>