<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.customer.VisitRecordMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.customer.VisitRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="visit_date" jdbcType="TIMESTAMP" property="visitDate" />
    <result column="customer_location" jdbcType="VARCHAR" property="customerLocation" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="visit_number" jdbcType="INTEGER" property="visitNumber" />
    <result column="visit_purpose" jdbcType="VARCHAR" property="visitPurpose" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_status" jdbcType="VARCHAR" property="projectStatus" />
    <result column="project_department" jdbcType="VARCHAR" property="projectDepartment" />
    <result column="talk_content" jdbcType="VARCHAR" property="talkContent" />
    <result column="follow_plan" jdbcType="VARCHAR" property="followPlan" />
    <result column="claim_description" jdbcType="VARCHAR" property="claimDescription" />
    <result column="participants_zr" jdbcType="VARCHAR" property="participantsZr" />
    <result column="participants_ct" jdbcType="VARCHAR" property="participantsCt" />
    <result column="participants_dl" jdbcType="VARCHAR" property="participantsDl" />
    <result column="error_message" jdbcType="VARCHAR" property="errorMessage" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cust_id, visit_date, customer_location, customer_name, visit_number, visit_purpose, 
    project_name, project_status, project_department, talk_content, follow_plan, claim_description, 
    participants_zr, participants_ct, participants_dl, error_message, active, create_user_id, 
    create_time, update_user_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_visit_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_visit_record
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.crazy.portal.entity.customer.VisitRecord">
    insert into t_visit_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="visitDate != null">
        visit_date,
      </if>
      <if test="customerLocation != null">
        customer_location,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="visitNumber != null">
        visit_number,
      </if>
      <if test="visitPurpose != null">
        visit_purpose,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="projectStatus != null">
        project_status,
      </if>
      <if test="projectDepartment != null">
        project_department,
      </if>
      <if test="talkContent != null">
        talk_content,
      </if>
      <if test="followPlan != null">
        follow_plan,
      </if>
      <if test="claimDescription != null">
        claim_description,
      </if>
      <if test="participantsZr != null">
        participants_zr,
      </if>
      <if test="participantsCt != null">
        participants_ct,
      </if>
      <if test="participantsDl != null">
        participants_dl,
      </if>
      <if test="errorMessage != null">
        error_message,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="visitDate != null">
        #{visitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="customerLocation != null">
        #{customerLocation,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="visitNumber != null">
        #{visitNumber,jdbcType=INTEGER},
      </if>
      <if test="visitPurpose != null">
        #{visitPurpose,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null">
        #{projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="projectDepartment != null">
        #{projectDepartment,jdbcType=VARCHAR},
      </if>
      <if test="talkContent != null">
        #{talkContent,jdbcType=VARCHAR},
      </if>
      <if test="followPlan != null">
        #{followPlan,jdbcType=VARCHAR},
      </if>
      <if test="claimDescription != null">
        #{claimDescription,jdbcType=VARCHAR},
      </if>
      <if test="participantsZr != null">
        #{participantsZr,jdbcType=VARCHAR},
      </if>
      <if test="participantsCt != null">
        #{participantsCt,jdbcType=VARCHAR},
      </if>
      <if test="participantsDl != null">
        #{participantsDl,jdbcType=VARCHAR},
      </if>
      <if test="errorMessage != null">
        #{errorMessage,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.customer.VisitRecord">
    update t_visit_record
    <set>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="visitDate != null">
        visit_date = #{visitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="customerLocation != null">
        customer_location = #{customerLocation,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="visitNumber != null">
        visit_number = #{visitNumber,jdbcType=INTEGER},
      </if>
      <if test="visitPurpose != null">
        visit_purpose = #{visitPurpose,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null">
        project_status = #{projectStatus,jdbcType=VARCHAR},
      </if>
      <if test="projectDepartment != null">
        project_department = #{projectDepartment,jdbcType=VARCHAR},
      </if>
      <if test="talkContent != null">
        talk_content = #{talkContent,jdbcType=VARCHAR},
      </if>
      <if test="followPlan != null">
        follow_plan = #{followPlan,jdbcType=VARCHAR},
      </if>
      <if test="claimDescription != null">
        claim_description = #{claimDescription,jdbcType=VARCHAR},
      </if>
      <if test="participantsZr != null">
        participants_zr = #{participantsZr,jdbcType=VARCHAR},
      </if>
      <if test="participantsCt != null">
        participants_ct = #{participantsCt,jdbcType=VARCHAR},
      </if>
      <if test="participantsDl != null">
        participants_dl = #{participantsDl,jdbcType=VARCHAR},
      </if>
      <if test="errorMessage != null">
        error_message = #{errorMessage,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPage" parameterType="com.crazy.portal.bean.customer.visitRecord.VisitRecordQueryBean" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_visit_record
    where create_user_id = #{userId,jdbcType=INTEGER} and active = 1
    <if test="customerName != null">
      and customer_name like concat('%', #{customerName}, '%')
    </if>
    <if test="projectName != null">
      and project_name like concat('%', #{projectName}, '%')
    </if>
    <if test="visitPurpose != null">
      and visit_purpose like concat('%', #{visitPurpose}, '%')
    </if>
    <if test="visitStartDate != null and visitEndDate != null">
      and visit_date BETWEEN  str_to_date(#{visitStartDate}, '%m-%d-%Y %h:%i:%s') and str_to_date(#{visitEndDate}, '%m-%d-%Y %h:%i:%s')
    </if>
    order by create_time desc
  </select>
</mapper>