<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.order.OrderLineMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.order.OrderLine">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="expected_delivery_month" jdbcType="VARCHAR" property="expectedDeliveryMonth" />
    <result column="expected_delivery_date" jdbcType="VARCHAR" property="expectedDeliveryDate" />
    <result column="r_sap_order_id" jdbcType="VARCHAR" property="rSapOrderId" />
    <result column="r_sequence_no" jdbcType="VARCHAR" property="rSequenceNo" />
    <result column="r_item_no" jdbcType="VARCHAR" property="rItemNo" />
    <result column="r_product_id" jdbcType="VARCHAR" property="rProductId" />
    <result column="r_price" jdbcType="DECIMAL" property="rPrice" />
    <result column="r_net_price" jdbcType="DECIMAL" property="rNetPrice" />
    <result column="r_sap_qty" jdbcType="INTEGER" property="rSapQty" />
    <result column="r_cond_unit" jdbcType="VARCHAR" property="rCondUnit" />
    <result column="r_currency" jdbcType="VARCHAR" property="rCurrency" />
    <result column="r_item_category" jdbcType="VARCHAR" property="rItemCategory" />
    <result column="r_ref_item_no" jdbcType="VARCHAR" property="rRefItemNo" />
    <result column="r_ref_item_product_id" jdbcType="VARCHAR" property="rRefItemProductId" />
    <result column="r_platform" jdbcType="VARCHAR" property="rPlatform" />
    <result column="actice" jdbcType="INTEGER" property="actice" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, product_id, unit, num, platform, expected_delivery_month, expected_delivery_date, 
    r_sap_order_id, r_sequence_no, r_item_no, r_product_id, r_price, r_net_price, r_sap_qty, 
    r_cond_unit, r_currency,r_item_category, r_ref_item_no, r_ref_item_product_id, r_platform, actice,
    create_id, create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_line
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_order_line
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.crazy.portal.entity.order.OrderLine">
    insert into t_order_line
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="expectedDeliveryMonth != null">
        expected_delivery_month,
      </if>
      <if test="expectedDeliveryDate != null">
        expected_delivery_date,
      </if>
      <if test="rSapOrderId != null">
        r_sap_order_id,
      </if>
      <if test="rSequenceNo != null">
        r_sequence_no,
      </if>
      <if test="rItemNo != null">
        r_item_no,
      </if>
      <if test="rProductId != null">
        r_product_id,
      </if>
      <if test="rPrice != null">
        r_price,
      </if>
      <if test="rNetPrice != null">
        r_net_price,
      </if>
      <if test="rSapQty != null">
        r_sap_qty,
      </if>
      <if test="rCondUnit != null">
        r_cond_unit,
      </if>
      <if test="rCurrency != null">
        r_currency,
      </if>
      <if test="rItemCategory != null">
        r_item_category,
      </if>
      <if test="rRefItemNo != null">
        r_ref_item_no,
      </if>
      <if test="rRefItemProductId != null">
        r_ref_item_product_id,
      </if>
      <if test="rPlatform != null">
        r_platform,
      </if>
      <if test="actice != null">
        actice,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="expectedDeliveryMonth != null">
        #{expectedDeliveryMonth,jdbcType=VARCHAR},
      </if>
      <if test="expectedDeliveryDate != null">
        #{expectedDeliveryDate,jdbcType=VARCHAR},
      </if>
      <if test="rSapOrderId != null">
        #{rSapOrderId,jdbcType=VARCHAR},
      </if>
      <if test="rSequenceNo != null">
        #{rSequenceNo,jdbcType=VARCHAR},
      </if>
      <if test="rItemNo != null">
        #{rItemNo,jdbcType=VARCHAR},
      </if>
      <if test="rProductId != null">
        #{rProductId,jdbcType=VARCHAR},
      </if>
      <if test="rPrice != null">
        #{rPrice,jdbcType=DECIMAL},
      </if>
      <if test="rNetPrice != null">
        #{rNetPrice,jdbcType=DECIMAL},
      </if>
      <if test="rSapQty != null">
        #{rSapQty,jdbcType=INTEGER},
      </if>
      <if test="rCondUnit != null">
        #{rCondUnit,jdbcType=VARCHAR},
      </if>
      <if test="rCurrency != null">
        #{rCurrency,jdbcType=VARCHAR},
      </if>
      <if test="rItemCategory != null">
        #{rItemCategory,jdbcType=VARCHAR},
      </if>
      <if test="rRefItemNo != null">
        #{rRefItemNo,jdbcType=VARCHAR},
      </if>
      <if test="rRefItemProductId != null">
        #{rRefItemProductId,jdbcType=VARCHAR},
      </if>
      <if test="rPlatform != null">
        #{rPlatform,jdbcType=VARCHAR},
      </if>
      <if test="actice != null">
        #{actice,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.order.OrderLine">
    update t_order_line
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="expectedDeliveryMonth != null">
        expected_delivery_month = #{expectedDeliveryMonth,jdbcType=VARCHAR},
      </if>
      <if test="expectedDeliveryDate != null">
        expected_delivery_date = #{expectedDeliveryDate,jdbcType=VARCHAR},
      </if>
      <if test="rSapOrderId != null">
        r_sap_order_id = #{rSapOrderId,jdbcType=VARCHAR},
      </if>
      <if test="rSequenceNo != null">
        r_sequence_no = #{rSequenceNo,jdbcType=VARCHAR},
      </if>
      <if test="rItemNo != null">
        r_item_no = #{rItemNo,jdbcType=VARCHAR},
      </if>
      <if test="rProductId != null">
        r_product_id = #{rProductId,jdbcType=VARCHAR},
      </if>
      <if test="rPrice != null">
        r_price = #{rPrice,jdbcType=DECIMAL},
      </if>
      <if test="rNetPrice != null">
        r_net_price = #{rNetPrice,jdbcType=DECIMAL},
      </if>
      <if test="rSapQty != null">
        r_sap_qty = #{rSapQty,jdbcType=INTEGER},
      </if>
      <if test="rCondUnit != null">
        r_cond_unit = #{rCondUnit,jdbcType=VARCHAR},
      </if>
      <if test="rCurrency != null">
        r_currency = #{rCurrency,jdbcType=VARCHAR},
      </if>
      <if test="rItemCategory != null">
        r_item_category = #{rItemCategory,jdbcType=VARCHAR},
      </if>
      <if test="rRefItemNo != null">
        r_ref_item_no = #{rRefItemNo,jdbcType=VARCHAR},
      </if>
      <if test="rRefItemProductId != null">
        r_ref_item_product_id = #{rRefItemProductId,jdbcType=VARCHAR},
      </if>
      <if test="rPlatform != null">
        r_platform = #{rPlatform,jdbcType=VARCHAR},
      </if>
      <if test="actice != null">
        actice = #{actice,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>