<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.system.UserCustomerMappingMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.system.UserCustomerMapping">
    <id column="mapping_id" jdbcType="INTEGER" property="mappingId" />
    <result column="mapping_model" jdbcType="INTEGER" property="mappingModel" />
    <result column="cd_user_id" jdbcType="INTEGER" property="cdUserId" />
    <result column="dealer_user_id" jdbcType="INTEGER" property="dealerUserId" />
    <result column="cust_id" jdbcType="VARCHAR" property="custId" />
    <result column="insert_user_id" jdbcType="INTEGER" property="insertUserId" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="active" jdbcType="INTEGER" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    mapping_id, mapping_model, cd_user_id, dealer_user_id, cust_id, insert_user_id, insert_time, 
    update_user_id, update_time, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_customer_mapping
    where mapping_id = #{mappingId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_customer_mapping
    where mapping_id = #{mappingId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.system.UserCustomerMapping">
    insert into t_user_customer_mapping (mapping_id, mapping_model, cd_user_id, 
      dealer_user_id, cust_id, insert_user_id, 
      insert_time, update_user_id, update_time, 
      active)
    values (#{mappingId,jdbcType=INTEGER}, #{mappingModel,jdbcType=INTEGER}, #{cdUserId,jdbcType=INTEGER}, 
      #{dealerUserId,jdbcType=INTEGER}, #{custId,jdbcType=VARCHAR}, #{insertUserId,jdbcType=INTEGER}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{active,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.system.UserCustomerMapping">
    insert into t_user_customer_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mappingId != null">
        mapping_id,
      </if>
      <if test="mappingModel != null">
        mapping_model,
      </if>
      <if test="cdUserId != null">
        cd_user_id,
      </if>
      <if test="dealerUserId != null">
        dealer_user_id,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="insertUserId != null">
        insert_user_id,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mappingId != null">
        #{mappingId,jdbcType=INTEGER},
      </if>
      <if test="mappingModel != null">
        #{mappingModel,jdbcType=INTEGER},
      </if>
      <if test="cdUserId != null">
        #{cdUserId,jdbcType=INTEGER},
      </if>
      <if test="dealerUserId != null">
        #{dealerUserId,jdbcType=INTEGER},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="insertUserId != null">
        #{insertUserId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.system.UserCustomerMapping">
    update t_user_customer_mapping
    <set>
      <if test="mappingModel != null">
        mapping_model = #{mappingModel,jdbcType=INTEGER},
      </if>
      <if test="cdUserId != null">
        cd_user_id = #{cdUserId,jdbcType=INTEGER},
      </if>
      <if test="dealerUserId != null">
        dealer_user_id = #{dealerUserId,jdbcType=INTEGER},
      </if>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="insertUserId != null">
        insert_user_id = #{insertUserId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
    </set>
    where mapping_id = #{mappingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.system.UserCustomerMapping">
    update t_user_customer_mapping
    set mapping_model = #{mappingModel,jdbcType=INTEGER},
      cd_user_id = #{cdUserId,jdbcType=INTEGER},
      dealer_user_id = #{dealerUserId,jdbcType=INTEGER},
      cust_id = #{custId,jdbcType=VARCHAR},
      insert_user_id = #{insertUserId,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      active = #{active,jdbcType=INTEGER}
    where mapping_id = #{mappingId,jdbcType=INTEGER}
  </update>

  <select id="selectByPage" parameterType="com.crazy.portal.bean.system.UserCustomerMappingBean" resultMap="BaseResultMap">
    select * from t_user_customer_mapping
    where active=1
    <if test="mappingModel!=null">
      and mapping_model = #{mappingModel}
    </if>
    <if test="cdUserId !=null">
      and cd_user_id = #{cdUserId}
    </if>
    <if test="dealerUserId !=null">
      and dealer_user_id = #{dealerUserId}
    </if>
    <if test="custId !=null">
      and cust_id like '%'+#{mappingModel}+'%'
    </if>
  </select>
</mapper>