<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.cusotmer.CustCorporateRelationshipMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.cusotmer.CustCorporateRelationship">
    <id column="ship_id" jdbcType="INTEGER" property="shipId" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="corporate_id" jdbcType="VARCHAR" property="corporateId" />
    <result column="corporate_name" jdbcType="VARCHAR" property="corporateName" />
    <result column="corporate_type" jdbcType="VARCHAR" property="corporateType" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="active" jdbcType="INTEGER" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    ship_id, cust_id, corporate_id, corporate_name, corporate_type, create_user, create_time, 
    update_user, update_time, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cust_corporate_relationship
    where ship_id = #{shipId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_cust_corporate_relationship
    where ship_id = #{shipId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.cusotmer.CustCorporateRelationship">
    insert into t_cust_corporate_relationship (ship_id, cust_id, corporate_id, 
      corporate_name, corporate_type, create_user, 
      create_time, update_user, update_time, 
      active)
    values (#{shipId,jdbcType=INTEGER}, #{custId,jdbcType=INTEGER}, #{corporateId,jdbcType=VARCHAR},
      #{corporateName,jdbcType=VARCHAR}, #{corporateType,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{active,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.cusotmer.CustCorporateRelationship">
    insert into t_cust_corporate_relationship
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shipId != null">
        ship_id,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="corporateId != null">
        corporate_id,
      </if>
      <if test="corporateName != null">
        corporate_name,
      </if>
      <if test="corporateType != null">
        corporate_type,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shipId != null">
        #{shipId,jdbcType=INTEGER},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="corporateId != null">
        #{corporateId,jdbcType=VARCHAR},
      </if>
      <if test="corporateName != null">
        #{corporateName,jdbcType=VARCHAR},
      </if>
      <if test="corporateType != null">
        #{corporateType,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.cusotmer.CustCorporateRelationship">
    update t_cust_corporate_relationship
    <set>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="corporateId != null">
        corporate_id = #{corporateId,jdbcType=VARCHAR},
      </if>
      <if test="corporateName != null">
        corporate_name = #{corporateName,jdbcType=VARCHAR},
      </if>
      <if test="corporateType != null">
        corporate_type = #{corporateType,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
    </set>
    where ship_id = #{shipId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.cusotmer.CustCorporateRelationship">
    update t_cust_corporate_relationship
    set cust_id = #{custId,jdbcType=INTEGER},
      corporate_id = #{corporateId,jdbcType=VARCHAR},
      corporate_name = #{corporateName,jdbcType=VARCHAR},
      corporate_type = #{corporateType,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      active = #{active,jdbcType=INTEGER}
    where ship_id = #{shipId,jdbcType=INTEGER}
  </update>

  <select id="selectDealerShip" resultMap="BaseResultMap">
    select * from t_cust_corporate_relationship
    where cust_id=#{dealerId,jdbcType=INTEGER} and active=1
  </select>

  <select id="selectDealerShipByName" resultMap="BaseResultMap">
  select * from t_cust_corporate_relationship
    where cust_id in (
	select id from t_customer_info where cust_name =#{dealerId,jdbcType=INTEGER}
  ) and active=1
  </select>
  
  <select id="selectZShip" resultMap="BaseResultMap">
    select * from t_cust_corporate_relationship where corporate_type = 'Z002' and active=1 and cust_id= #{custId,jdbcType=INTEGER}
  </select>
  
  <update id="deleteByCustId">
    update t_cust_corporate_relationship set active = 0 where active =1 and cust_id = #{custId,jdbcType=INTEGER}
  </update>
</mapper>