<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.cusotmer.CustInvoiceInfoMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.cusotmer.CustInvoiceInfo">
    <id column="invoice_id" jdbcType="INTEGER" property="invoiceId" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="purchasing_unit" jdbcType="VARCHAR" property="purchasingUnit" />
    <result column="shipping_address" jdbcType="VARCHAR" property="shippingAddress" />
    <result column="shipping_mobile" jdbcType="VARCHAR" property="shippingMobile" />
    <result column="taxpayer_registration_number" jdbcType="VARCHAR" property="taxpayerRegistrationNumber" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="active" jdbcType="INTEGER" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    invoice_id, cust_id, purchasing_unit, shipping_address, shipping_mobile, taxpayer_registration_number, 
    currency, create_user, create_time, update_user, update_time, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cust_invoice_info
    where invoice_id = #{invoiceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_cust_invoice_info
    where invoice_id = #{invoiceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.cusotmer.CustInvoiceInfo">
    insert into t_cust_invoice_info (invoice_id, cust_id, purchasing_unit, 
      shipping_address, shipping_mobile, taxpayer_registration_number, 
      currency, create_user, create_time, 
      update_user, update_time, active
      )
    values (#{invoiceId,jdbcType=INTEGER}, #{custId,jdbcType=INTEGER}, #{purchasingUnit,jdbcType=VARCHAR}, 
      #{shippingAddress,jdbcType=VARCHAR}, #{shippingMobile,jdbcType=VARCHAR}, #{taxpayerRegistrationNumber,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{active,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.cusotmer.CustInvoiceInfo">
    insert into t_cust_invoice_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="invoiceId != null">
        invoice_id,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="purchasingUnit != null">
        purchasing_unit,
      </if>
      <if test="shippingAddress != null">
        shipping_address,
      </if>
      <if test="shippingMobile != null">
        shipping_mobile,
      </if>
      <if test="taxpayerRegistrationNumber != null">
        taxpayer_registration_number,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="invoiceId != null">
        #{invoiceId,jdbcType=INTEGER},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="purchasingUnit != null">
        #{purchasingUnit,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null">
        #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="shippingMobile != null">
        #{shippingMobile,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerRegistrationNumber != null">
        #{taxpayerRegistrationNumber,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.cusotmer.CustInvoiceInfo">
    update t_cust_invoice_info
    <set>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="purchasingUnit != null">
        purchasing_unit = #{purchasingUnit,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null">
        shipping_address = #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="shippingMobile != null">
        shipping_mobile = #{shippingMobile,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerRegistrationNumber != null">
        taxpayer_registration_number = #{taxpayerRegistrationNumber,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
    </set>
    where invoice_id = #{invoiceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.cusotmer.CustInvoiceInfo">
    update t_cust_invoice_info
    set cust_id = #{custId,jdbcType=INTEGER},
      purchasing_unit = #{purchasingUnit,jdbcType=VARCHAR},
      shipping_address = #{shippingAddress,jdbcType=VARCHAR},
      shipping_mobile = #{shippingMobile,jdbcType=VARCHAR},
      taxpayer_registration_number = #{taxpayerRegistrationNumber,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      active = #{active,jdbcType=INTEGER}
    where invoice_id = #{invoiceId,jdbcType=INTEGER}
  </update>
</mapper>