<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.cusotmer.CustomerInfoMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.cusotmer.CustomerInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cust_type" jdbcType="INTEGER" property="custType" />
    <result column="in_code" jdbcType="VARCHAR" property="inCode" />
    <result column="out_code" jdbcType="VARCHAR" property="outCode" />
    <result column="cust_name" jdbcType="VARCHAR" property="custName" />
    <result column="cust_en_name" jdbcType="VARCHAR" property="custEnName" />
    <result column="cust_abbreviation" jdbcType="VARCHAR" property="custAbbreviation" />
    <result column="frozen_sales" jdbcType="INTEGER" property="frozenSales" />
    <result column="frozen_delivery" jdbcType="INTEGER" property="frozenDelivery" />
    <result column="frozen_order" jdbcType="INTEGER" property="frozenOrder" />
    <result column="frozen_Invoice" jdbcType="INTEGER" property="frozenInvoice" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="is_license" jdbcType="INTEGER" property="isLicense" />
    <result column="cust_role" jdbcType="VARCHAR" property="custRole" />
    <result column="cust_mobile" jdbcType="VARCHAR" property="custMobile" />
    <result column="cust_email" jdbcType="VARCHAR" property="custEmail" />
    <result column="cust_web" jdbcType="VARCHAR" property="custWeb" />
    <result column="is_white" jdbcType="INTEGER" property="isWhite" />
    <result column="regist_time" jdbcType="VARCHAR" property="registTime" />
    <result column="corportae_assets" jdbcType="DECIMAL" property="corportaeAssets" />
    <result column="staff_number" jdbcType="INTEGER" property="staffNumber" />
    <result column="developers_number" jdbcType="INTEGER" property="developersNumber" />
    <result column="business_introduction" jdbcType="VARCHAR" property="businessIntroduction" />
    <result column="advantages_introduction" jdbcType="VARCHAR" property="advantagesIntroduction" />
    <result column="approve_user" jdbcType="INTEGER" property="approveUser" />
    <result column="approve_status" jdbcType="INTEGER" property="approveStatus" />
    <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
    <result column="approve_remark" jdbcType="VARCHAR" property="approveRemark" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="report_dealer_name" jdbcType="VARCHAR" property="reportDealerName" />
    <result column="report_sales_name" jdbcType="VARCHAR" property="reportSalesName" />
  </resultMap>

  <!--代理商result-->
  <resultMap id="DealerResultMap" type="com.crazy.portal.entity.cusotmer.CustomerInfo" extends="BaseResultMap">
    <association property="custBankInfo" resultMap="com.crazy.portal.dao.cusotmer.CustBankInfoMapper.BaseResultMap" />
    <collection property="assetsInformations" resultMap="com.crazy.portal.dao.cusotmer.CustAssetsInformationMapper.BaseResultMap" />
    <collection property="businessInformations" resultMap="com.crazy.portal.dao.cusotmer.CustBusinessInformationMapper.BaseResultMap" />
    <collection property="customerAgents" resultMap="com.crazy.portal.dao.cusotmer.CustomerAgentMapper.BaseResultMap" />
    <collection property="customerContacts" resultMap="com.crazy.portal.dao.cusotmer.CustomerContactMapper.BaseResultMap" />
    <collection property="files" resultMap="com.crazy.portal.dao.cusotmer.CustomerFileMapper.BaseResultMap" />
    <collection property="relationships" resultMap="com.crazy.portal.dao.cusotmer.CustCorporateRelationshipMapper.BaseResultMap" />
    <collection property="invoiceInfos" resultMap="com.crazy.portal.dao.cusotmer.CustInvoiceInfoMapper.BaseResultMap" />
    <collection property="sales" resultMap="com.crazy.portal.dao.cusotmer.CustSalesMapper.BaseResultMap" />
    <collection property="addresses" resultMap="com.crazy.portal.dao.cusotmer.CustomerAddressMapper.BaseResultMap" />
  </resultMap>

  <!--客户 result-->
  <resultMap id="CustomerResultMap" type="com.crazy.portal.entity.cusotmer.CustomerInfo" extends="BaseResultMap">
    <association property="custBankInfo" resultMap="com.crazy.portal.dao.cusotmer.CustBankInfoMapper.BaseResultMap" />
    <collection property="customerContacts" resultMap="com.crazy.portal.dao.cusotmer.CustomerContactMapper.BaseResultMap" />
    <collection property="files" resultMap="com.crazy.portal.dao.cusotmer.CustomerFileMapper.BaseResultMap" />
    <collection property="relationships" resultMap="com.crazy.portal.dao.cusotmer.CustCorporateRelationshipMapper.BaseResultMap" />
    <collection property="invoiceInfos" resultMap="com.crazy.portal.dao.cusotmer.CustInvoiceInfoMapper.BaseResultMap" />
    <collection property="sales" resultMap="com.crazy.portal.dao.cusotmer.CustSalesMapper.BaseResultMap" />
    <collection property="addresses" resultMap="com.crazy.portal.dao.cusotmer.CustomerAddressMapper.BaseResultMap" />

    <collection property="accountTeams" resultMap="com.crazy.portal.dao.cusotmer.CustomerAccountTeamMapper.BaseResultMap" />
    <collection property="customerProducts" resultMap="com.crazy.portal.dao.cusotmer.CustomerProductMapper.BaseResultMap" />
  </resultMap>

  <sql id="Base_Column_List">
    id, cust_type, in_code, out_code, cust_name, cust_en_name, cust_abbreviation, frozen_sales, 
    frozen_delivery, frozen_order, frozen_Invoice, business_type, is_license, cust_role, 
    cust_mobile, cust_email, cust_web, is_white, regist_time, corportae_assets, staff_number, 
    developers_number, business_introduction, advantages_introduction, approve_user, 
    approve_status, approve_time, approve_remark, active, create_user, create_time, update_user, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_customer_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_customer_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.cusotmer.CustomerInfo">
    insert into t_customer_info (id, cust_type, in_code, 
      out_code, cust_name, cust_en_name, 
      cust_abbreviation, frozen_sales, frozen_delivery, 
      frozen_order, frozen_Invoice, business_type, 
      is_license, cust_role, cust_mobile, 
      cust_email, cust_web, is_white, 
      regist_time, corportae_assets, staff_number, 
      developers_number, business_introduction, 
      advantages_introduction, approve_user, approve_status, 
      approve_time, approve_remark, active, 
      create_user, create_time, update_user, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{custType,jdbcType=INTEGER}, #{inCode,jdbcType=VARCHAR}, 
      #{outCode,jdbcType=VARCHAR}, #{custName,jdbcType=VARCHAR}, #{custEnName,jdbcType=VARCHAR}, 
      #{custAbbreviation,jdbcType=VARCHAR}, #{frozenSales,jdbcType=INTEGER}, #{frozenDelivery,jdbcType=INTEGER}, 
      #{frozenOrder,jdbcType=INTEGER}, #{frozenInvoice,jdbcType=INTEGER}, #{businessType,jdbcType=VARCHAR}, 
      #{isLicense,jdbcType=INTEGER}, #{custRole,jdbcType=VARCHAR}, #{custMobile,jdbcType=VARCHAR}, 
      #{custEmail,jdbcType=VARCHAR}, #{custWeb,jdbcType=VARCHAR}, #{isWhite,jdbcType=INTEGER}, 
      #{registTime,jdbcType=TIMESTAMP}, #{corportaeAssets,jdbcType=DECIMAL}, #{staffNumber,jdbcType=INTEGER}, 
      #{developersNumber,jdbcType=INTEGER}, #{businessIntroduction,jdbcType=VARCHAR}, 
      #{advantagesIntroduction,jdbcType=VARCHAR}, #{approveUser,jdbcType=INTEGER}, #{approveStatus,jdbcType=INTEGER}, 
      #{approveTime,jdbcType=TIMESTAMP}, #{approveRemark,jdbcType=VARCHAR}, #{active,jdbcType=INTEGER}, 
      #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.cusotmer.CustomerInfo" useGeneratedKeys="true" keyProperty="id">
    insert into t_customer_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="custType != null">
        cust_type,
      </if>
      <if test="inCode != null">
        in_code,
      </if>
      <if test="outCode != null">
        out_code,
      </if>
      <if test="custName != null">
        cust_name,
      </if>
      <if test="custEnName != null">
        cust_en_name,
      </if>
      <if test="custAbbreviation != null">
        cust_abbreviation,
      </if>
      <if test="frozenSales != null">
        frozen_sales,
      </if>
      <if test="frozenDelivery != null">
        frozen_delivery,
      </if>
      <if test="frozenOrder != null">
        frozen_order,
      </if>
      <if test="frozenInvoice != null">
        frozen_Invoice,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="isLicense != null">
        is_license,
      </if>
      <if test="custRole != null">
        cust_role,
      </if>
      <if test="custMobile != null">
        cust_mobile,
      </if>
      <if test="custEmail != null">
        cust_email,
      </if>
      <if test="custWeb != null">
        cust_web,
      </if>
      <if test="isWhite != null">
        is_white,
      </if>
      <if test="registTime != null">
        regist_time,
      </if>
      <if test="corportaeAssets != null">
        corportae_assets,
      </if>
      <if test="staffNumber != null">
        staff_number,
      </if>
      <if test="developersNumber != null">
        developers_number,
      </if>
      <if test="businessIntroduction != null">
        business_introduction,
      </if>
      <if test="advantagesIntroduction != null">
        advantages_introduction,
      </if>
      <if test="approveUser != null">
        approve_user,
      </if>
      <if test="approveStatus != null">
        approve_status,
      </if>
      <if test="approveTime != null">
        approve_time,
      </if>
      <if test="approveRemark != null">
        approve_remark,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="custType != null">
        #{custType,jdbcType=INTEGER},
      </if>
      <if test="inCode != null">
        #{inCode,jdbcType=VARCHAR},
      </if>
      <if test="outCode != null">
        #{outCode,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custEnName != null">
        #{custEnName,jdbcType=VARCHAR},
      </if>
      <if test="custAbbreviation != null">
        #{custAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="frozenSales != null">
        #{frozenSales,jdbcType=INTEGER},
      </if>
      <if test="frozenDelivery != null">
        #{frozenDelivery,jdbcType=INTEGER},
      </if>
      <if test="frozenOrder != null">
        #{frozenOrder,jdbcType=INTEGER},
      </if>
      <if test="frozenInvoice != null">
        #{frozenInvoice,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="isLicense != null">
        #{isLicense,jdbcType=INTEGER},
      </if>
      <if test="custRole != null">
        #{custRole,jdbcType=VARCHAR},
      </if>
      <if test="custMobile != null">
        #{custMobile,jdbcType=VARCHAR},
      </if>
      <if test="custEmail != null">
        #{custEmail,jdbcType=VARCHAR},
      </if>
      <if test="custWeb != null">
        #{custWeb,jdbcType=VARCHAR},
      </if>
      <if test="isWhite != null">
        #{isWhite,jdbcType=INTEGER},
      </if>
      <if test="registTime != null">
        #{registTime,jdbcType=VARCHAR},
      </if>
      <if test="corportaeAssets != null">
        #{corportaeAssets,jdbcType=DECIMAL},
      </if>
      <if test="staffNumber != null">
        #{staffNumber,jdbcType=INTEGER},
      </if>
      <if test="developersNumber != null">
        #{developersNumber,jdbcType=INTEGER},
      </if>
      <if test="businessIntroduction != null">
        #{businessIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="advantagesIntroduction != null">
        #{advantagesIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="approveUser != null">
        #{approveUser,jdbcType=INTEGER},
      </if>
      <if test="approveStatus != null">
        #{approveStatus,jdbcType=INTEGER},
      </if>
      <if test="approveTime != null">
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveRemark != null">
        #{approveRemark,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert >
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.cusotmer.CustomerInfo">
    update t_customer_info
    <set>
      <if test="custType != null">
        cust_type = #{custType,jdbcType=INTEGER},
      </if>
      <if test="inCode != null">
        in_code = #{inCode,jdbcType=VARCHAR},
      </if>
      <if test="outCode != null">
        out_code = #{outCode,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        cust_name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custEnName != null">
        cust_en_name = #{custEnName,jdbcType=VARCHAR},
      </if>
      <if test="custAbbreviation != null">
        cust_abbreviation = #{custAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="frozenSales != null">
        frozen_sales = #{frozenSales,jdbcType=INTEGER},
      </if>
      <if test="frozenDelivery != null">
        frozen_delivery = #{frozenDelivery,jdbcType=INTEGER},
      </if>
      <if test="frozenOrder != null">
        frozen_order = #{frozenOrder,jdbcType=INTEGER},
      </if>
      <if test="frozenInvoice != null">
        frozen_Invoice = #{frozenInvoice,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="isLicense != null">
        is_license = #{isLicense,jdbcType=INTEGER},
      </if>
      <if test="custRole != null">
        cust_role = #{custRole,jdbcType=VARCHAR},
      </if>
      <if test="custMobile != null">
        cust_mobile = #{custMobile,jdbcType=VARCHAR},
      </if>
      <if test="custEmail != null">
        cust_email = #{custEmail,jdbcType=VARCHAR},
      </if>
      <if test="custWeb != null">
        cust_web = #{custWeb,jdbcType=VARCHAR},
      </if>
      <if test="isWhite != null">
        is_white = #{isWhite,jdbcType=INTEGER},
      </if>
      <if test="registTime != null">
        regist_time = #{registTime,jdbcType=VARCHAR},
      </if>
      <if test="corportaeAssets != null">
        corportae_assets = #{corportaeAssets,jdbcType=DECIMAL},
      </if>
      <if test="staffNumber != null">
        staff_number = #{staffNumber,jdbcType=INTEGER},
      </if>
      <if test="developersNumber != null">
        developers_number = #{developersNumber,jdbcType=INTEGER},
      </if>
      <if test="businessIntroduction != null">
        business_introduction = #{businessIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="advantagesIntroduction != null">
        advantages_introduction = #{advantagesIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="approveUser != null">
        approve_user = #{approveUser,jdbcType=INTEGER},
      </if>
      <if test="approveStatus != null">
        approve_status = #{approveStatus,jdbcType=INTEGER},
      </if>
      <if test="approveTime != null">
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveRemark != null">
        approve_remark = #{approveRemark,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.cusotmer.CustomerInfo">
    update t_customer_info
    set cust_type = #{custType,jdbcType=INTEGER},
      in_code = #{inCode,jdbcType=VARCHAR},
      out_code = #{outCode,jdbcType=VARCHAR},
      cust_name = #{custName,jdbcType=VARCHAR},
      cust_en_name = #{custEnName,jdbcType=VARCHAR},
      cust_abbreviation = #{custAbbreviation,jdbcType=VARCHAR},
      frozen_sales = #{frozenSales,jdbcType=INTEGER},
      frozen_delivery = #{frozenDelivery,jdbcType=INTEGER},
      frozen_order = #{frozenOrder,jdbcType=INTEGER},
      frozen_Invoice = #{frozenInvoice,jdbcType=INTEGER},
      business_type = #{businessType,jdbcType=VARCHAR},
      is_license = #{isLicense,jdbcType=INTEGER},
      cust_role = #{custRole,jdbcType=VARCHAR},
      cust_mobile = #{custMobile,jdbcType=VARCHAR},
      cust_email = #{custEmail,jdbcType=VARCHAR},
      cust_web = #{custWeb,jdbcType=VARCHAR},
      is_white = #{isWhite,jdbcType=INTEGER},
      regist_time = #{registTime,jdbcType=TIMESTAMP},
      corportae_assets = #{corportaeAssets,jdbcType=DECIMAL},
      staff_number = #{staffNumber,jdbcType=INTEGER},
      developers_number = #{developersNumber,jdbcType=INTEGER},
      business_introduction = #{businessIntroduction,jdbcType=VARCHAR},
      advantages_introduction = #{advantagesIntroduction,jdbcType=VARCHAR},
      approve_user = #{approveUser,jdbcType=INTEGER},
      approve_status = #{approveStatus,jdbcType=INTEGER},
      approve_time = #{approveTime,jdbcType=TIMESTAMP},
      approve_remark = #{approveRemark,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectDealerInfo" resultMap="DealerResultMap">
    select
    cust.id,
    cust.in_code,
    cust.out_code,
    cust.cust_name,
    cust.cust_en_name,
    cust.cust_abbreviation,
    cust.cust_mobile,
    cust.cust_email,
    cust.cust_web,
    cust.corportae_assets,
    cust.staff_number,
    cust.regist_time,
    cust.advantages_introduction,
    bank.bank_id,
    bank.cust_id,
    bank.bank_name,
    bank.bank_country,
    bank.bank_province,
    bank.bank_detail_info,
    bank.bank_account,
    bank.bank_bic,
    assets.assete_info_id,
    assets.cust_id,
    assets.assets_year,
    assets.assets_season,
    assets.assets_total,
    assets.assets_net,
    assets.revenue,
    assets.total_staff,
    business.bus_info_id,
    business.cust_id,
    business.business_year,
    business.product_line,
    business.revenue_pl_one,
    business.revenue_pl_two,
    business.revenue_pl_three,
    agent.agent_id,
    agent.cust_id,
    agent.bu,
    agent.pdt,
    agent.territory,
    agent.sales_model,
    agent.grade,
    agent.start_date,
    agent.end_date,
    file.file_id,
    file.cust_id,
    file.type,
    file.title,
    file.file_name,
    file.file_path,
    contact.contact_id,
    contact.cust_id,
    contact.contact_name,
    contact.mobile,
    contact.email,
    contact.department,
    contact.sub_department,
    contact.position,
    contact.equity_ratio,
    ship.ship_id,
    ship.cust_id,
    ship.corporate_type,
    ship.corporate_name,
    invoice.invoice_id,
    invoice.cust_id,
    invoice.purchasing_unit,
    invoice.shipping_address,
    invoice.shipping_mobile,
    invoice.taxpayer_registration_number,
    invoice.currency,
    sales.sales_id,
    sales.cust_id,
    sales.sales_organize,
    sales.distribution_channel,
    sales.delivery_plant,
    address.address_id,
    address.cust_id,
    address.address_type,
    address.country,
    address.province,
    address.city,
    address.district,
    address.address_detail,
    account.team_id,
    account.cust_id,
    account.account_mobile,
    account.role_type,
    account.account_name

 from t_customer_info cust
 left join t_cust_bank_info bank on bank.cust_id = cust.id and bank.active=1
 left join t_cust_assets_information assets on assets.cust_id = cust.id and assets.active=1
 left join t_cust_business_information business on business.cust_id = cust.id and business.active =1
 left join t_customer_agent agent on agent.cust_id = cust.id and agent.active=1
 left join t_customer_file file on file.cust_id = cust.id and file.active=1
 left join t_customer_contact contact on contact.cust_id = cust.id and contact.active=1
 left join t_cust_corporate_relationship ship on ship.cust_id = cust.id and ship.active=1
 left join t_cust_invoice_info invoice on invoice.cust_id = cust.id and invoice.active=1
 left join t_cust_sales sales on sales.cust_id = cust.id and sales.active=1
 left join t_customer_address address on address.cust_id = cust.id and address.active=1
 left join t_customer_account_team account on account.cust_id = cust.id and account.active=1
  where cust.business_type = 'A04' and cust.active =1 and cust.id=#{id,jdbcType=INTEGER}
  </select>
  
  <select id="queryCustomerInfo" resultMap="CustomerResultMap">
    select
    cust.id,
    cust.in_code,
    cust.out_code,
    cust.cust_role,
    cust.business_type,
    cust.is_license,
    cust.cust_name,
    cust.cust_en_name,
    cust.cust_abbreviation,
    cust.cust_mobile,
    cust.cust_email,
    cust.cust_web,
    cust.corportae_assets,
    cust.staff_number,
    cust.developers_number,
    cust.regist_time,
    cust.advantages_introduction,
    cust.business_introduction,
    bank.bank_id,
    bank.cust_id,
    bank.bank_name,
    bank.bank_country,
    bank.bank_province,
    bank.bank_detail_info,
    bank.bank_account,
    bank.bank_bic,
    file.file_id,
    file.cust_id,
    file.type,
    file.title,
    file.file_name,
    file.file_path,
    contact.contact_id,
    contact.cust_id,
    contact.contact_name,
    contact.mobile,
    contact.email,
    contact.department,
    contact.sub_department,
    contact.position,
    contact.equity_ratio,
    ship.ship_id,
    ship.cust_id,
    ship.corporate_type,
    ship.corporate_name,
    invoice.invoice_id,
    invoice.cust_id,
    invoice.purchasing_unit,
    invoice.shipping_address,
    invoice.shipping_mobile,
    invoice.taxpayer_registration_number,
    invoice.currency,
    sales.sales_id,
    sales.cust_id,
    sales.sales_organize,
    sales.distribution_channel,
    sales.delivery_plant,
    address.address_id,
    address.cust_id,
    address.address_type,
    address.country,
    address.province,
    address.city,
    address.district,
    address.address_detail,
    account.team_id,
    account.cust_id,
    account.account_mobile,
    account.role_type,
    account.account_name,
    product.pro_id,
    product.cust_id,
    product.product,
    product.p_number_one,
    product.p_number_two,
    product.p_number_three,
    product.p_number_four,
    product.p_number_five,
    product.p_number_six

    from t_customer_info cust
    left join t_cust_bank_info bank on bank.cust_id = cust.id and bank.active=1
    left join t_customer_file file on file.cust_id = cust.id and file.active=1
    left join t_customer_contact contact on contact.cust_id = cust.id and contact.active=1
    left join t_cust_corporate_relationship ship on ship.cust_id = cust.id and ship.active=1
    left join t_cust_invoice_info invoice on invoice.cust_id = cust.id and invoice.active=1
    left join t_cust_sales sales on sales.cust_id = cust.id and sales.active=1
    left join t_customer_address address on address.cust_id = cust.id and address.active=1
    left join t_customer_account_team account on account.cust_id = cust.id and account.active=1
    left join t_customer_product product on product.cust_id = cust.id and product.active =1
    where cust.active =1 and cust.id=#{custId,jdbcType=INTEGER}
  </select>

  <select id="selectCustomer" resultMap="BaseResultMap">
    select
    cust.id,
    cust_type,
    case cust.business_type when 'A01' then 'Account Market（直供）'
    when 'A02' then 'Account Market（非直供）'
    when 'A03' then 'Mass Market'
    when 'A04' then '代理商'
    else '未知' end business_type,
    cust.approve_status,
    out_code,
    cust.is_license,
    cust_name,
    cust_en_name,
    cust_abbreviation,
    case cust_role when 'Z001' then '中国客户(Chinese Account)'
    when 'Z002' then '亚太客户(Asia-Pacific Account)'
    when 'Z003' then '北美客户(North American Account)'
    when 'Z010' then '内部客户(Customer)'
    else '未知' end cust_role,
    cust.approve_user,
    cust.approve_remark,
    cust.approve_time,
    cust.create_time
    from t_customer_info cust
    where cust.business_type!='A04'
    and cust.active = 1
    <if test="customerName != null and customerName != ''">
      and cust.cust_name like concat('%',#{customerName,jdbcType=VARCHAR},'%')
    </if>
    <if test="custAbbreviation != null and custAbbreviation != ''">
      and cust_abbreviation like concat('%',#{custAbbreviation,jdbcType=VARCHAR},'%')
    </if>
    <if test="customerOutCode != null and customerOutCode!=''">
      and cust.out_code = #{customerOutCode,jdbcType=VARCHAR}
    </if>
    <if test="isLicense != null">
      and cust.is_license = #{isLicense,jdbcType=INTEGER}
    </if>
    <if test="businessType != null and businessType != ''">
      and cust.business_type = #{businessType,jdbcType=VARCHAR}
    </if>
    <if test=" custRole != null and custRole !=''">
      and cust_role = #{custRole,jdbcType=VARCHAR}
    </if>
    <if test="reportStartDate != null and reportStartDate != '' and reportEndDate != null and reportEndDate != ''">
      and date_format( cust.approve_time, '%Y-%m-%d' ) BETWEEN  #{reportStartDate,jdbcType=VARCHAR} and #{reportEndDate,jdbcType=VARCHAR}
    </if>
    <if test="reportStartDate != null and reportStartDate != '' and (reportEndDate == null or reportEndDate == '')">
      and date_format( cust.approve_time, '%Y-%m-%d' ) >=  #{reportStartDate,jdbcType=VARCHAR}
    </if>
    <if test="(reportStartDate == null or reportStartDate == '') and reportEndDate != null and reportEndDate != ''">
      and date_format( cust.approve_time, '%Y-%m-%d' ) &lt;= #{reportEndDate,jdbcType=VARCHAR}
    </if>
    <if test="createStartDate != null and createStartDate != '' and createEndDate != null and createEndDate != ''">
      and date_format( cust.create_time, '%Y-%m-%d' ) BETWEEN #{createStartDate,jdbcType=VARCHAR} and #{createEndDate,jdbcType=VARCHAR}
    </if>
    <if test="createStartDate != null and createStartDate != '' and (createEndDate == null or createEndDate == '')">
      and date_format( cust.create_time, '%Y-%m-%d' )>= #{createStartDate,jdbcType=VARCHAR}
    </if>
    <if test="(createStartDate == null or createStartDate == '') and createEndDate != null and createEndDate != ''">
      and date_format( cust.create_time, '%Y-%m-%d' ) &lt;= #{createEndDate,jdbcType=VARCHAR}
    </if>
    <if test="queryType == 3 ">
      <if test="reportDealer!=null">
        and cust.id in (
          select cust_id from t_cust_corporate_relationship where corporate_type = 'Z004' and active=1 and corporate_id = #{reportDealer,jdbcType=INTEGER}
        )
      </if>
      <if test="reportSales != null">
        and cust.id in (
          select cust_id from cust_zr_account_team team where active=1 and role_type = '142' and employee_id = #{reportSales,jdbcType=INTEGER}
        )
      </if>
      <if test="customerStatus != '' and customerStatus != null">
        and cust.approve_status = #{customerStatus,jdbcType=INTEGER}
      </if>
    </if>
    <if test="queryType == 2 ">
      <if test="customerStatus != '' and customerStatus != null">
        and cust.approve_status = #{customerStatus,jdbcType=INTEGER}
      </if>
    </if>
    <if test="queryType == 1 ">
      and cust.approve_status != 4
      <if test="custType != '' and custType != null">
        and cust.cust_type = #{custType,jdbcType=INTEGER}
      </if>
      <if test="salesTeam != null">
        and cust.id in (
          select cust_id from cust_zr_account_team team where active=1 and role_type = '142'
        <foreach collection="salesTeam" item="item" index="index" open="and employee_id in (" separator="," close=")" >
          #{item}
        </foreach>
        )
      </if>
      <if test="reportDealer!=null">
        and cust.id in (
        select cust_id from t_cust_corporate_relationship where active=1 and corporate_id = #{reportDealer,jdbcType=INTEGER}
        )
      </if>
    </if>
    order by cust.id
  </select>

  <select id="selectByCustName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from t_customer_info cust
    where cust.active=1 and cust.business_type in ('A02','A03')
    and cust.cust_name = #{custName,jdbcType=VARCHAR}
  </select>

  <select id="getDealerByUser" resultMap="BaseResultMap">
    select * from t_customer_info cust
    inner join t_user u on cust.id = u.dealer_id
    where u.id=#{userId,jdbcType=INTEGER}
  </select>

  <select id="selectAllCustomer" resultMap="BaseResultMap">
      select * from t_customer_info where active = 1
      order by business_type desc
  </select>

  <update id="updateCustomerInfo">
      update t_customer_info set active =0 where id = #{custId,jdbcType=INTEGER}
  </update>

  <select id="selectNameAndCodeByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select cust_name, in_code, out_code from t_customer_info
    where active = 1 and create_user = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectEmailByCustName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select a.business_type,b.email cust_email from t_customer_info a
    inner join t_customer_contact b on b.cust_id = a.id and b.type = 'C01'
    where a.cust_name = #{custName,jdbcType=VARCHAR} and a.active = 1 and b.email is not null
  </select>


  <select id="selectByOutCode" resultMap="BaseResultMap">
    select * from t_customer_info where active =1 and out_code = #{outCode,jdbcType=VARCHAR} and out_code != '' and out_code is not null
  </select>

  <select id="selectByInCode" resultMap="BaseResultMap">
      select * from t_customer_info where active =1 and in_code = #{inCode,jdbcType=VARCHAR}
  </select>

  <select id="selectDealerList" resultMap="BaseResultMap">
    select * from t_customer_info where active =1 and business_type = 'A04'
  </select>

  <select id="selectByCustAbbreviation" resultMap="BaseResultMap">
      select * from t_customer_info where active =1 and business_type != 'A04' and cust_abbreviation =#{custAbbreviation,jdbcType=VARCHAR}
  </select>

  <update id="updateC4CId">
    update t_customer_info set in_code = #{inCode,jdbcType=VARCHAR} where active =1 and id = #{custId,jdbcType=INTEGER}
  </update>

  <select id="selectDealerShip" resultMap="BaseResultMap">
   select * from t_customer_info cust
    where id in (
    select corporate_id from t_cust_corporate_relationship where corporate_type = 'Z003' and cust_id=#{custId,jdbcType=INTEGER}
    )
  </select>
  
  <select id="selectCustAbbreviationByCustName" resultType="java.lang.String">
  select * from t_customer_info
  where in_code  = (select corporate_name from t_cust_corporate_relationship where corporate_type='Z002')
  and cust_name = #{custName,jdbcType=VARCHAR} and active = 1
  limit 1
  </select>
</mapper>