<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.cusotmer.CustomerAccountTeamMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.cusotmer.CustomerAccountTeam">
    <id column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="account_mobile" jdbcType="VARCHAR" property="accountMobile" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="active" jdbcType="INTEGER" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    team_id, cust_id, role_type, account_name, account_mobile, create_time, create_user, 
    update_time, update_user, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_customer_account_team
    where team_id = #{teamId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_customer_account_team
    where team_id = #{teamId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.cusotmer.CustomerAccountTeam">
    insert into t_customer_account_team (team_id, cust_id, role_type, 
      account_name, account_mobile, create_time, 
      create_user, update_time, update_user, 
      active)
    values (#{teamId,jdbcType=INTEGER}, #{custId,jdbcType=INTEGER}, #{roleType,jdbcType=VARCHAR}, 
      #{accountName,jdbcType=VARCHAR}, #{accountMobile,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{active,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.cusotmer.CustomerAccountTeam">
    insert into t_customer_account_team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        team_id,
      </if>
      <if test="custId != null">
        cust_id,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
      <if test="accountName != null">
        account_name,
      </if>
      <if test="accountMobile != null">
        account_mobile,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountMobile != null">
        #{accountMobile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.cusotmer.CustomerAccountTeam">
    update t_customer_account_team
    <set>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="roleType != null">
        role_type = #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountMobile != null">
        account_mobile = #{accountMobile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
    </set>
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.cusotmer.CustomerAccountTeam">
    update t_customer_account_team
    set cust_id = #{custId,jdbcType=INTEGER},
      role_type = #{roleType,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      account_mobile = #{accountMobile,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      active = #{active,jdbcType=INTEGER}
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByCustId" resultMap="BaseResultMap">
    select * from t_customer_account_team where active =1 and cust_id = #{custId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByCustId">
    delete t_customer_account_team where cust_id = #{custId,jdbcType=INTEGER}
  </delete>
</mapper>