<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.group.SalesGroupMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.group.SalesGroup">
    <id column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="group_code" jdbcType="INTEGER" property="groupCode" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="channel_code" jdbcType="INTEGER" property="channelCode" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="product_group_code" jdbcType="VARCHAR" property="productGroupCode" />
    <result column="product_group_name" jdbcType="VARCHAR" property="productGroupName" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="active" jdbcType="INTEGER" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    group_id, group_code, group_name, channel_code, channel_name, product_group_code, 
    product_group_name, insert_time, update_time, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sales_group
    where group_id = #{groupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sales_group
    where group_id = #{groupId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.group.SalesGroup">
    insert into t_sales_group (group_id, group_code, group_name, 
      channel_code, channel_name, product_group_code, 
      product_group_name, insert_time, update_time, 
      active)
    values (#{groupId,jdbcType=INTEGER}, #{groupCode,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, 
      #{channelCode,jdbcType=INTEGER}, #{channelName,jdbcType=VARCHAR}, #{productGroupCode,jdbcType=VARCHAR}, 
      #{productGroupName,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{active,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.group.SalesGroup">
    insert into t_sales_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        group_id,
      </if>
      <if test="groupCode != null">
        group_code,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="channelCode != null">
        channel_code,
      </if>
      <if test="channelName != null">
        channel_name,
      </if>
      <if test="productGroupCode != null">
        product_group_code,
      </if>
      <if test="productGroupName != null">
        product_group_name,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="groupCode != null">
        #{groupCode,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null">
        #{channelCode,jdbcType=INTEGER},
      </if>
      <if test="channelName != null">
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="productGroupCode != null">
        #{productGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="productGroupName != null">
        #{productGroupName,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.group.SalesGroup">
    update t_sales_group
    <set>
      <if test="groupCode != null">
        group_code = #{groupCode,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null">
        channel_code = #{channelCode,jdbcType=INTEGER},
      </if>
      <if test="channelName != null">
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="productGroupCode != null">
        product_group_code = #{productGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="productGroupName != null">
        product_group_name = #{productGroupName,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
    </set>
    where group_id = #{groupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.group.SalesGroup">
    update t_sales_group
    set group_code = #{groupCode,jdbcType=INTEGER},
      group_name = #{groupName,jdbcType=VARCHAR},
      channel_code = #{channelCode,jdbcType=INTEGER},
      channel_name = #{channelName,jdbcType=VARCHAR},
      product_group_code = #{productGroupCode,jdbcType=VARCHAR},
      product_group_name = #{productGroupName,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      active = #{active,jdbcType=INTEGER}
    where group_id = #{groupId,jdbcType=INTEGER}
  </update>

  <select id="selectSalesGroup" resultMap="BaseResultMap">
    select group_code,group_name from t_sales_group
    where active =1
    group by group_code,group_name
  </select>
</mapper>