<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.company.TCompanyInfoVOMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.company.TCompanyInfoVO">
    <id column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="parent_company_name" jdbcType="VARCHAR" property="parentCompanyName" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="business_license_address" jdbcType="VARCHAR" property="businessLicenseAddress" />
    <result column="business_email_address" jdbcType="VARCHAR" property="businessEmailAddress" />
    <result column="fixed_line_telephone" jdbcType="VARCHAR" property="fixedLineTelephone" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="state_number" jdbcType="VARCHAR" property="stateNumber" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="extension" jdbcType="VARCHAR" property="extension" />
    <result column="corporate_legal_person" jdbcType="VARCHAR" property="corporateLegalPerson" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="company_established_time" jdbcType="VARCHAR" property="companyEstablishedTime" />
    <result column="business_term" jdbcType="VARCHAR" property="businessTerm" />
    <result column="registered_funds" jdbcType="DECIMAL" property="registeredFunds" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="company_website" jdbcType="VARCHAR" property="companyWebsite" />
    <result column="business_registration_number" jdbcType="VARCHAR" property="businessRegistrationNumber" />
    <result column="tax_code" jdbcType="VARCHAR" property="taxCode" />
    <result column="company_introduction" jdbcType="VARCHAR" property="companyIntroduction" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="active" jdbcType="SMALLINT" property="active" />
  </resultMap>

  <resultMap id="companyInfo" type="com.crazy.portal.entity.company.TCompanyInfoVO" extends="BaseResultMap" >
    <association property="information" resultMap="com.crazy.portal.dao.company.TContactInformationVOMapper.BaseResultMap" />
    <association property="solution" resultMap="com.crazy.portal.dao.company.TSolutionInfoVOMapper.BaseResultMap" />
  </resultMap>

  <sql id="Base_Column_List">
    company_id, user_id, company_name, parent_company_name, region, city, province, district, 
    business_license_address, business_email_address, fixed_line_telephone, country_code, 
    state_number, phone_number, extension, corporate_legal_person, postal_code, company_established_time, 
    business_term, registered_funds, currency, company_website, business_registration_number, 
    tax_code, company_introduction, create_time, create_user_id, update_time, update_user_id, 
    active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_company_info
    where company_id = #{companyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_company_info
    where company_id = #{companyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.company.TCompanyInfoVO">
    insert into t_company_info (company_id, user_id, company_name, 
      parent_company_name, region, city, 
      province, district, business_license_address, 
      business_email_address, fixed_line_telephone, 
      country_code, state_number, phone_number, 
      extension, corporate_legal_person, postal_code, 
      company_established_time, business_term, registered_funds, 
      currency, company_website, business_registration_number, 
      tax_code, company_introduction, create_time, 
      create_user_id, update_time, update_user_id, 
      active)
    values (#{companyId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, 
      #{parentCompanyName,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{businessLicenseAddress,jdbcType=VARCHAR}, 
      #{businessEmailAddress,jdbcType=VARCHAR}, #{fixedLineTelephone,jdbcType=VARCHAR}, 
      #{countryCode,jdbcType=VARCHAR}, #{stateNumber,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{extension,jdbcType=VARCHAR}, #{corporateLegalPerson,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR}, 
      #{companyEstablishedTime,jdbcType=VARCHAR}, #{businessTerm,jdbcType=VARCHAR}, #{registeredFunds,jdbcType=DECIMAL}, 
      #{currency,jdbcType=VARCHAR}, #{companyWebsite,jdbcType=VARCHAR}, #{businessRegistrationNumber,jdbcType=VARCHAR}, 
      #{taxCode,jdbcType=VARCHAR}, #{companyIntroduction,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, 
      #{active,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.company.TCompanyInfoVO"  keyProperty="companyId" useGeneratedKeys="true">
    insert into t_company_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="parentCompanyName != null">
        parent_company_name,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="businessLicenseAddress != null">
        business_license_address,
      </if>
      <if test="businessEmailAddress != null">
        business_email_address,
      </if>
      <if test="fixedLineTelephone != null">
        fixed_line_telephone,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="stateNumber != null">
        state_number,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="extension != null">
        extension,
      </if>
      <if test="corporateLegalPerson != null">
        corporate_legal_person,
      </if>
      <if test="postalCode != null">
        postal_code,
      </if>
      <if test="companyEstablishedTime != null">
        company_established_time,
      </if>
      <if test="businessTerm != null">
        business_term,
      </if>
      <if test="registeredFunds != null">
        registered_funds,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="companyWebsite != null">
        company_website,
      </if>
      <if test="businessRegistrationNumber != null">
        business_registration_number,
      </if>
      <if test="taxCode != null">
        tax_code,
      </if>
      <if test="companyIntroduction != null">
        company_introduction,
      </if>
        create_time,
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="parentCompanyName != null">
        #{parentCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseAddress != null">
        #{businessLicenseAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessEmailAddress != null">
        #{businessEmailAddress,jdbcType=VARCHAR},
      </if>
      <if test="fixedLineTelephone != null">
        #{fixedLineTelephone,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="stateNumber != null">
        #{stateNumber,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="extension != null">
        #{extension,jdbcType=VARCHAR},
      </if>
      <if test="corporateLegalPerson != null">
        #{corporateLegalPerson,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="companyEstablishedTime != null">
        #{companyEstablishedTime,jdbcType=VARCHAR},
      </if>
      <if test="businessTerm != null">
        #{businessTerm,jdbcType=VARCHAR},
      </if>
      <if test="registeredFunds != null">
        #{registeredFunds,jdbcType=DECIMAL},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="companyWebsite != null">
        #{companyWebsite,jdbcType=VARCHAR},
      </if>
      <if test="businessRegistrationNumber != null">
        #{businessRegistrationNumber,jdbcType=VARCHAR},
      </if>
      <if test="taxCode != null">
        #{taxCode,jdbcType=VARCHAR},
      </if>
      <if test="companyIntroduction != null">
        #{companyIntroduction,jdbcType=VARCHAR},
      </if>
        now(),
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        #{active,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.company.TCompanyInfoVO">
    update t_company_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="parentCompanyName != null">
        parent_company_name = #{parentCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseAddress != null">
        business_license_address = #{businessLicenseAddress,jdbcType=VARCHAR},
      </if>
      <if test="businessEmailAddress != null">
        business_email_address = #{businessEmailAddress,jdbcType=VARCHAR},
      </if>
      <if test="fixedLineTelephone != null">
        fixed_line_telephone = #{fixedLineTelephone,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="stateNumber != null">
        state_number = #{stateNumber,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="extension != null">
        extension = #{extension,jdbcType=VARCHAR},
      </if>
      <if test="corporateLegalPerson != null">
        corporate_legal_person = #{corporateLegalPerson,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        postal_code = #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="companyEstablishedTime != null">
        company_established_time = #{companyEstablishedTime,jdbcType=VARCHAR},
      </if>
      <if test="businessTerm != null">
        business_term = #{businessTerm,jdbcType=VARCHAR},
      </if>
      <if test="registeredFunds != null">
        registered_funds = #{registeredFunds,jdbcType=DECIMAL},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="companyWebsite != null">
        company_website = #{companyWebsite,jdbcType=VARCHAR},
      </if>
      <if test="businessRegistrationNumber != null">
        business_registration_number = #{businessRegistrationNumber,jdbcType=VARCHAR},
      </if>
      <if test="taxCode != null">
        tax_code = #{taxCode,jdbcType=VARCHAR},
      </if>
      <if test="companyIntroduction != null">
        company_introduction = #{companyIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=SMALLINT},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.company.TCompanyInfoVO">
    update t_company_info
    set user_id = #{userId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      parent_company_name = #{parentCompanyName,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      business_license_address = #{businessLicenseAddress,jdbcType=VARCHAR},
      business_email_address = #{businessEmailAddress,jdbcType=VARCHAR},
      fixed_line_telephone = #{fixedLineTelephone,jdbcType=VARCHAR},
      country_code = #{countryCode,jdbcType=VARCHAR},
      state_number = #{stateNumber,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      extension = #{extension,jdbcType=VARCHAR},
      corporate_legal_person = #{corporateLegalPerson,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR},
      company_established_time = #{companyEstablishedTime,jdbcType=VARCHAR},
      business_term = #{businessTerm,jdbcType=VARCHAR},
      registered_funds = #{registeredFunds,jdbcType=DECIMAL},
      currency = #{currency,jdbcType=VARCHAR},
      company_website = #{companyWebsite,jdbcType=VARCHAR},
      business_registration_number = #{businessRegistrationNumber,jdbcType=VARCHAR},
      tax_code = #{taxCode,jdbcType=VARCHAR},
      company_introduction = #{companyIntroduction,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      active = #{active,jdbcType=SMALLINT}
    where company_id = #{companyId,jdbcType=INTEGER}
  </update>

  <select id="selectByName" resultMap="BaseResultMap">
     select * from t_company_info where company_name = #{name}
      <if test=" region != null ">
        and region = #{region}
      </if>
      and active=1
  </select>
  
  <select id="selectByUserIdAndCompanyName" resultMap="companyInfo">
    select * from `t_user_company` a
    inner join `t_company_info` b on a.company_id = b.company_id
    inner join `t_contact_information` d on d.company_id = b.company_id
    inner join `t_solution_info` e on e.company_id =  b.company_id
    where a.user_id=#{userId} and b.company_name = #{companyName}
  </select>

  <select id="getUserCompany" resultMap="companyInfo">
    select * from `t_user_company` a
    inner join `t_company_info` b on a.company_id = b.company_id
    inner join `t_contact_information` d on d.company_id = b.company_id
    inner join `t_solution_info` e on e.company_id =  b.company_id
    where a.user_id=#{userId} and d.last_name is not null and d.last_name!=''
  </select>
</mapper>