<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.company.TCompanyFileMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.company.TCompanyFile">
    <id column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="sub_type" jdbcType="VARCHAR" property="subType" />
    <result column="oss_name" jdbcType="VARCHAR" property="ossName" />
    <result column="oss_path" jdbcType="VARCHAR" property="ossPath" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="active" jdbcType="SMALLINT" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    file_id, file_name, file_type, sub_type, oss_name, oss_path, upload_time, create_user_id, 
    active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_company_file
    where file_id = #{fileId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_company_file
    where file_id = #{fileId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.company.TCompanyFile">
    insert into t_company_file (file_id, file_name, file_type, 
      sub_type, oss_name, oss_path, 
      upload_time, create_user_id, active
      )
    values (#{fileId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, 
      #{subType,jdbcType=VARCHAR}, #{ossName,jdbcType=VARCHAR}, #{ossPath,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, #{active,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.company.TCompanyFile" keyProperty="fileId" useGeneratedKeys="true">
    insert into t_company_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        file_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="subType != null">
        sub_type,
      </if>
      <if test="ossName != null">
        oss_name,
      </if>
      <if test="ossPath != null">
        oss_path,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="subType != null">
        #{subType,jdbcType=VARCHAR},
      </if>
      <if test="ossName != null">
        #{ossName,jdbcType=VARCHAR},
      </if>
      <if test="ossPath != null">
        #{ossPath,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        #{active,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.company.TCompanyFile">
    update t_company_file
    <set>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="subType != null">
        sub_type = #{subType,jdbcType=VARCHAR},
      </if>
      <if test="ossName != null">
        oss_name = #{ossName,jdbcType=VARCHAR},
      </if>
      <if test="ossPath != null">
        oss_path = #{ossPath,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=SMALLINT},
      </if>
    </set>
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.company.TCompanyFile">
    update t_company_file
    set file_name = #{fileName,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      sub_type = #{subType,jdbcType=VARCHAR},
      oss_name = #{ossName,jdbcType=VARCHAR},
      oss_path = #{ossPath,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      active = #{active,jdbcType=SMALLINT}
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>
</mapper>