<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.rate.DealerRateDOMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.rate.DealerRateDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
    <result column="cust_type" jdbcType="VARCHAR" property="custType" />
    <result column="cust_in_code" jdbcType="VARCHAR" property="custInCode" />
    <result column="product_type_one" jdbcType="VARCHAR" property="productTypeOne" />
    <result column="product_type_two" jdbcType="VARCHAR" property="productTypeTwo" />
    <result column="product_type_three" jdbcType="VARCHAR" property="productTypeThree" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="basic_rate" jdbcType="DECIMAL" property="basicRate" />
    <result column="float_rate" jdbcType="DECIMAL" property="floatRate" />
    <result column="valid_start" jdbcType="VARCHAR" property="validStart" />
    <result column="valid_end" jdbcType="VARCHAR" property="validEnd" />
    <result column="acitve" jdbcType="INTEGER" property="acitve" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, batch_id, cust_type, cust_in_code, product_type_one, product_type_two, product_type_three,
    product_type, basic_rate, float_rate, valid_start, valid_end, acitve, create_time, 
    create_user, update_time, update_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_dealer_rate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_dealer_rate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.rate.DealerRateDO">
    insert into t_dealer_rate (id, cust_type, cust_in_code, 
      product_type_one, product_type_two, product_type_three, 
      product_type, basic_rate, float_rate, 
      valid_start, valid_end, acitve, 
      create_time, create_user, update_time, 
      update_user)
    values (#{id,jdbcType=INTEGER}, #{custType,jdbcType=VARCHAR}, #{custInCode,jdbcType=VARCHAR}, 
      #{productTypeOne,jdbcType=VARCHAR}, #{productTypeTwo,jdbcType=VARCHAR}, #{productTypeThree,jdbcType=VARCHAR}, 
      #{productType,jdbcType=VARCHAR}, #{basicRate,jdbcType=DECIMAL}, #{floatRate,jdbcType=DECIMAL}, 
      #{validStart,jdbcType=VARCHAR}, #{validEnd,jdbcType=VARCHAR}, #{acitve,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.rate.DealerRateDO">
    insert into t_dealer_rate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="custType != null">
        cust_type,
      </if>
      <if test="custInCode != null">
        cust_in_code,
      </if>
      <if test="productTypeOne != null">
        product_type_one,
      </if>
      <if test="productTypeTwo != null">
        product_type_two,
      </if>
      <if test="productTypeThree != null">
        product_type_three,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="basicRate != null">
        basic_rate,
      </if>
      <if test="floatRate != null">
        float_rate,
      </if>
      <if test="validStart != null">
        valid_start,
      </if>
      <if test="validEnd != null">
        valid_end,
      </if>
      <if test="acitve != null">
        acitve,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="custType != null">
        #{custType,jdbcType=VARCHAR},
      </if>
      <if test="custInCode != null">
        #{custInCode,jdbcType=VARCHAR},
      </if>
      <if test="productTypeOne != null">
        #{productTypeOne,jdbcType=VARCHAR},
      </if>
      <if test="productTypeTwo != null">
        #{productTypeTwo,jdbcType=VARCHAR},
      </if>
      <if test="productTypeThree != null">
        #{productTypeThree,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="basicRate != null">
        #{basicRate,jdbcType=DECIMAL},
      </if>
      <if test="floatRate != null">
        #{floatRate,jdbcType=DECIMAL},
      </if>
      <if test="validStart != null">
        #{validStart,jdbcType=VARCHAR},
      </if>
      <if test="validEnd != null">
        #{validEnd,jdbcType=VARCHAR},
      </if>
      <if test="acitve != null">
        #{acitve,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.rate.DealerRateDO">
    update t_dealer_rate
    <set>
      <if test="custType != null">
        cust_type = #{custType,jdbcType=VARCHAR},
      </if>
      <if test="custInCode != null">
        cust_in_code = #{custInCode,jdbcType=VARCHAR},
      </if>
      <if test="productTypeOne != null">
        product_type_one = #{productTypeOne,jdbcType=VARCHAR},
      </if>
      <if test="productTypeTwo != null">
        product_type_two = #{productTypeTwo,jdbcType=VARCHAR},
      </if>
      <if test="productTypeThree != null">
        product_type_three = #{productTypeThree,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="basicRate != null">
        basic_rate = #{basicRate,jdbcType=DECIMAL},
      </if>
      <if test="floatRate != null">
        float_rate = #{floatRate,jdbcType=DECIMAL},
      </if>
      <if test="validStart != null">
        valid_start = #{validStart,jdbcType=VARCHAR},
      </if>
      <if test="validEnd != null">
        valid_end = #{validEnd,jdbcType=VARCHAR},
      </if>
      <if test="acitve != null">
        acitve = #{acitve,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.rate.DealerRateDO">
    update t_dealer_rate
    set cust_type = #{custType,jdbcType=VARCHAR},
      cust_in_code = #{custInCode,jdbcType=VARCHAR},
      product_type_one = #{productTypeOne,jdbcType=VARCHAR},
      product_type_two = #{productTypeTwo,jdbcType=VARCHAR},
      product_type_three = #{productTypeThree,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=VARCHAR},
      basic_rate = #{basicRate,jdbcType=DECIMAL},
      float_rate = #{floatRate,jdbcType=DECIMAL},
      valid_start = #{validStart,jdbcType=VARCHAR},
      valid_end = #{validEnd,jdbcType=VARCHAR},
      acitve = #{acitve,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectDealerRate" parameterType="com.crazy.portal.entity.rate.DealerRateDO" resultMap="BaseResultMap">
    select * from t_dealer_rate rate
    inner join t_dealer_rate_batch batch on rate.batch_id = batch.id
    where 1=1
    <if test="batchId != null and batchId != ''">
      and rate.batch_id = #{batchId}
    </if>
    <if test="batchStatus != null and batchStatus != ''">
      and batch.batch_status = #{batchStatus}
    </if>
    <if test="custType != null and custType != ''">
      and cust_type = #{custType}
    </if>
    <if test="productTypeOne != null and productTypeOne != '' ">
      and product_type_one = #{productTypeOne}
    </if>
    <if test="productTypeTwo != null and productTypeTwo != '' ">
      and product_type_two=#{productTypeTwo}
    </if>
    <if test="productTypeThree != null and productTypeThree != ''">
      and product_type_three = #{productTypeThree}
    </if>
    <if test="productType != null and productType != ''">
      and product_type = #{productType}
    </if>
    <if test="startTime != null and startTime != ''">
      and valid_start >= #{startTime}
    </if>
      <if test="endTime != null and endTime != ''">
      <![CDATA[ and valid_start < #{endTime} ]]>
    </if>
    <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
      and valid_start between #{startTime} and #{endTime}
    </if>
  </select>
</mapper>