<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/main/assets/css/view.css"/>
    <title>Portal</title>
    <style>
        .right{
            text-align: right;
        }
        td{
            padding:5px;
        }
    </style>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <table style="width:100%;">
                            <tr>
                                <td class="right">客户名称:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" autocomplete="off" class="layui-input" id="title">
                                    </div>
                                </td>
                                <td class="right">客户Code:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" >
                                    </div>
                                </td>
                                <td class="right">订单号:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" autocomplete="off" class="layui-input" >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="right">代理商:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" autocomplete="off" class="layui-input" >
                                    </div>
                                </td>
                                <td class="right">销售:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input">
                                    </div>
                                </td>
                                <td class="right">订单月份:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="right">上传日期:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" class="layui-input" id="time1" placeholder="Start Time">
                                    </div>
                                    <div class="layui-form-mid">-</div>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" class="layui-input" id="time2" placeholder="End Time">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="layui-btn layui-btn-blue" onclick="loadTable()">查询</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table id="table" lay-filter="table-filter"></table>
                    <script type="text/html" id="toolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="detail" onclick="showDetail()">明细</button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>

<!--销售预测明细-->
    <div id="addRoleDiv" style="width:600px;height:330px;display: none;">
        <ul class="layui-tab-title">
            <li class="layui-this">月份一</li>
            <li>月份二</li>
            <li>月份三</li>
            <li>月份四</li>
            <li>月份五</li>
            <li>月份六</li>
        </ul>
        <div class="layui-tab-content" style="">
            <div class="layui-tab-item layui-show">
                <table class="layui-table" style="padding-top: 20px;width: 100%;">
                    <colgroup>
                        <col width="60">
                        <col width="20">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th width="50px;">上次</th>
                        <th width="50px;">本次</th>
                        <th width="50px;">备注</th>
                        <th width="80px;">队长调整</th>
                        <th width="80px;">队长备注</th>
                        <th width="80px;">首代调整</th>
                        <th width="80px;">首代备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            12
                        </td>
                        <td>
                           22
                        </td>
                        <td>
                            12
                        </td>
                        <td>
                            12
                        </td>
                        <td>
                            12
                        </td>
                        <td>
                            12
                        </td>
                        <td>
                            12
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
<script src='../../static/jquery/jquery-2.1.4.min.js'></script>
<script type="text/javascript"  src="../../static/util/util.js"></script>
<script src="../../static/layui/layui.all.js"></script>
<script type="text/javascript"  src="../../static/main/assets/js/su.js"></script>
<script>
    var element = layui.element;
    var table = layui.table;
    var form = layui.form;
    var laydate = layui.laydate;
    var upload = layui.upload;
    $(function() {
        loadTable();
        laydate.render({
            elem: '#time1'
        });
    });
    function loadTable() {
        //展示已知数据
        table.render({
            elem: '#table'
//            , url: '/announcement/list'
//            , method: 'get'
//            , request: {pageName: 'pageNum', limitName: 'pageSize'}
//            , where: {title: $('#title').val(), releaseStartTime: $('#releaseStartTime').val()}
//            , parseData: function(res){
//                console.log(res.data.total);
//                return {
//                    "code": res.code == 1 ? 0 : res.code,
//                    "msg": res.msg,
//                    "count": res.data.total,
//                    "data": res.data.list
//                };
//            }
            , data:[{id:1
            }]
            , skin: 'line' //表格风格
            , even: true
            , page: true
            , limits: [10, 20, 30]
            , limit: 10
            , toolbar: '#toolbar'
            , text: {
                none: '无数据'
            }
            , cols: [[
                {field: 'id', title: 'ID',  hide:true}
                 ,{field: 'name', title: '代理商', toolbar: '#tableOprate',minWidth: 90, unresize:true}
                , {field: 'content', title: '上传日期', toolbar: '#tableOprate',minWidth: 90, unresize:true}
                , {field: 'oprate', title: '月份', minWidth: 90, toolbar: '#tableOprate',unresize:true}
                , {field: 'createTimeStr', title: '客户全称',  toolbar: '#tableOprate',minWidth: 90, unresize:true}
                , {field: 'releaseTimeStr', title: '客户Code',  toolbar: '#tableOprate',minWidth: 100, unresize:true}
                , {field: 'releaseTimeStr', title: '客户类别',  toolbar: '#tableOprate',minWidth: 90, unresize:true}
                , {field: 'releaseTimeStr', title: '阿米巴队长',  toolbar: '#tableOprate',minWidth: 110, unresize:true}
                , {field: 'createUserName', title: "销售", toolbar: '#tableOprate',minWidth: 90, unresize:true}
                , {field: 'status', title: '产品型号', toolbar: '#tableOprate',minWidth: 90, unresize:true}
                , {field: 'oprate', title: '产品类型', toolbar: '#tableOprate',minWidth: 90, unresize:true}
                , {field: 'createUserName', title: "Platform", toolbar: '#tableOprate',minWidth: 90, unresize:true}
                , {field: 'status', title: 'Product Type', toolbar: '#tableOprate',minWidth: 110, unresize:true}
                , {field: 'oprate', title: '截止日期', toolbar: '#tableOprate',minWidth: 90, unresize:true}
                , {field: 'oprate', title: '未完成专货库存',toolbar: '#tableOprate', minWidth: 120, unresize:true}
            ]]
            ,done: function () {
//                $("[data-field='id']").css('display','none');
            }
        });
        //头工具栏事件
        table.on('toolbar(table-filter)', function(obj){
            if(obj.event === 'detail'){
                showDetail();
            }
        });
        //监听行工具事件
        table.on('tool(table-filter)', function(obj){
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'preview'){
                showPreviewDialog();
                toPreview(data.id);
            } else if(layEvent === 'edit'){
                showEditDialog();
                toEdit(data.id);
            } else if(layEvent === 'cancel'){
                sureCancel(data.id);
            }
        });

        function showDetail(){
            layer.open({
                title: '销售预测明细',
                type: 1,
                area: ['600px', '440px'], //宽高
                content: $("#addRoleDiv"),
                btn : [ '保存', '取消' ],
                btnAlign: 'c',
                btn2 : function(index, layero) {
                    layer.close(index);
                    $("#addRoleDiv").hide();
                },
                cancel: function(index, layero){
                    $("#addRoleDiv").hide();
                }
            });
        }
    }
</script>
</body>

</html>