<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/main/assets/css/view.css"/>
    <title>Portal</title>
    <style>
        .right{
            text-align: right;
        }
        td{
            padding:5px;
        }
    </style>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <table style="width:100%;">
                            <tr>
                                <td class="right">客户名称:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" autocomplete="off" class="layui-input" id="title">
                                    </div>
                                </td>
                                <td class="right">客户Code:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" >
                                    </div>
                                </td>
                                <td class="right">订单号:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" autocomplete="off" class="layui-input" >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="right">销售:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input">
                                    </div>
                                </td>
                                <td class="right">订单月份:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input">
                                    </div>
                                </td>
                                <td class="right">上传日期:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" class="layui-input" id="time1" placeholder="Start Time">
                                    </div>
                                    <div class="layui-form-mid">-</div>
                                    <div class="layui-input-inline" style="width: 100px;">
                                        <input type="text" class="layui-input" id="time2" placeholder="End Time">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="layui-btn layui-btn-blue" onclick="loadTable()">查询</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table id="table" lay-filter="table-filter"></table>
                    <script type="text/html" id="toolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="create">下载模版</button>
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="create">上传数据</button>
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="create">校验</button>
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="create">保存</button>
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="create">提交</button>
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="create">新增</button>
                            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="create">删除</button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../../static/jquery/jquery-2.1.4.min.js'></script>
<script type="text/javascript"  src="../../static/util/util.js"></script>
<script src="../../static/layui/layui.all.js"></script>
<script type="text/javascript"  src="../../static/main/assets/js/su.js"></script>
<script>
    var element = layui.element;
    var table = layui.table;
    var form = layui.form;
    var laydate = layui.laydate;
    var upload = layui.upload;
    $(function() {
        loadTable();
        laydate.render({
            elem: '#time1',
            elem: '#time2'
        });
    });
    function loadTable() {
        //展示已知数据
        table.render({
            elem: '#table'
//            , url: '/announcement/list'
//            , method: 'get'
//            , request: {pageName: 'pageNum', limitName: 'pageSize'}
//            , where: {title: $('#title').val(), releaseStartTime: $('#releaseStartTime').val()}
//            , parseData: function(res){
//                console.log(res.data.total);
//                return {
//                    "code": res.code == 1 ? 0 : res.code,
//                    "msg": res.msg,
//                    "count": res.data.total,
//                    "data": res.data.list
//                };
//            }
            ,data:[{id:1}]
            , skin: 'line' //表格风格
            , even: true
            , page: true
            , limits: [10, 20, 30]
            , limit: 10
            , toolbar: '#toolbar'
            , text: {
                none: '无数据'
            }
            , cols: [[
                {field: 'id', title: 'ID', minWidth: 30, hide:true}
                , {field: 'title', title: '状态', toolbar: '#tableOprate', minWidth: 80, unresize:true}
                , {field: 'title', title: '错误信息', toolbar: '#tableOprate', minWidth: 100, unresize:true}
                , {field: 'content', title: '客户全称', toolbar: '#tableOprate', minWidth: 100, unresize:true}
                , {field: 'createTimeStr', title: '客户简称', toolbar: '#tableOprate', minWidth: 100, unresize:true}
                , {field: 'releaseTimeStr', title: '年月', toolbar: '#tableOprate', minWidth: 80, unresize:true}
                , {field: 'releaseTimeStr', title: '阿米巴队长', toolbar: '#tableOprate', minWidth: 100, unresize:true}
                , {field: 'createUserName', title: "销售", minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'releaseTimeStr', title: '产品型号',  minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'status', title: '产品类型', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: 'Porduct Type', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'createUserName', title: "Platform", minWidth: 100, toolbar: '#tableOprate',unresize:true}
                , {field: 'status', title: '产品型号', minWidth: 100, toolbar: '#tableOprate',unresize:true}
                , {field: 'oprate', title: '截止日期', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '未完成专货库存', minWidth: 140, toolbar: '#tableOprate', unresize:true}

                , {field: 'oprate', title: '月份一', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '上次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '本次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '备注', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}

                , {field: 'oprate', title: '月份二', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '上次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '本次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '备注', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}

                , {field: 'oprate', title: '月份三', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '上次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '本次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '备注', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}

                , {field: 'oprate', title: '月份四', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '上次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '本次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '备注', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}

                , {field: 'oprate', title: '月份五', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '上次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '本次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '备注', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}

                , {field: 'oprate', title: '月份六', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '上次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '本次填写', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '备注', minWidth: 80, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '队长备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代调整', minWidth: 100, toolbar: '#tableOprate', unresize:true}
                , {field: 'oprate', title: '首代备注', minWidth: 100, toolbar: '#tableOprate', unresize:true}
            ]]
            ,done: function () {
//                $("[data-field='id']").css('display','none');
            }
        });
        //头工具栏事件
        table.on('toolbar(table-filter)', function(obj){
            if(obj.event === 'create'){
                showEditDialog();
            }
        });
        //监听行工具事件
        table.on('tool(table-filter)', function(obj){
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'preview'){
                showPreviewDialog();
                toPreview(data.id);
            } else if(layEvent === 'edit'){
                showEditDialog();
                toEdit(data.id);
            } else if(layEvent === 'cancel'){
                sureCancel(data.id);
            }
        });
    }
</script>
</body>

</html>