<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crazy.portal.dao.inventory.InventoryTransferDOMapper">
  <resultMap id="BaseResultMap" type="com.crazy.portal.entity.inventory.InventoryTransferDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="year_month" jdbcType="VARCHAR" property="yearMonth" />
    <result column="agency_short_name" jdbcType="VARCHAR" property="agencyShortName" />
    <result column="product_line" jdbcType="VARCHAR" property="productLine" />
    <result column="sub_product_line" jdbcType="VARCHAR" property="subProductLine" />
    <result column="class2" jdbcType="VARCHAR" property="class2" />
    <result column="class3" jdbcType="VARCHAR" property="class3" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="inventory_type" jdbcType="VARCHAR" property="inventoryType" />
    <result column="inventory_price" jdbcType="DECIMAL" property="inventoryPrice" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="sales_org" jdbcType="VARCHAR" property="salesOrg" />
    <result column="monthly_init_qty" jdbcType="INTEGER" property="monthlyInitQty" />
    <result column="agency_pick_up_date" jdbcType="VARCHAR" property="agencyPickUpDate" />
    <result column="agency_pick_up_qty" jdbcType="INTEGER" property="agencyPickUpQty" />
    <result column="sales_qty" jdbcType="INTEGER" property="salesQty" />
    <result column="monthly_end_qty" jdbcType="INTEGER" property="monthlyEndQty" />
    <result column="monthly_end_inventory_period" jdbcType="VARCHAR" property="monthlyEndInventoryPeriod" />
    <result column="inventory_total_amount" jdbcType="DECIMAL" property="inventoryTotalAmount" />
    <result column="transfer_out_customer" jdbcType="VARCHAR" property="transferOutCustomer" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="transfer_into_customer" jdbcType="VARCHAR" property="transferIntoCustomer" />
    <result column="transfer_year_month" jdbcType="VARCHAR" property="transferYearMonth" />
  </resultMap>
  <sql id="Base_Column_List">
    id, year_month, agency_short_name, product_line, sub_product_line, class2, class3, 
    product, customer_type, inventory_type, inventory_price, company, sales_org, monthly_init_qty, 
    agency_pick_up_date, agency_pick_up_qty, sales_qty, monthly_end_qty, monthly_end_inventory_period, 
    inventory_total_amount, transfer_out_customer, create_time, create_id, update_time, 
    update_id, transfer_into_customer, transfer_year_month
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_inventory_transfer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_inventory_transfer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crazy.portal.entity.inventory.InventoryTransferDO">
    insert into t_inventory_transfer (id, year_month, agency_short_name,
      product_line, sub_product_line, class2, 
      class3, product, customer_type, 
      inventory_type, inventory_price, company, 
      sales_org, monthly_init_qty, agency_pick_up_date, 
      agency_pick_up_qty, sales_qty, monthly_end_qty, 
      monthly_end_inventory_period, inventory_total_amount, 
      transfer_out_customer, create_time, create_id, 
      update_time, update_id, transfer_into_customer, 
      transfer_year_month)
    values (#{id,jdbcType=INTEGER}, #{yearMonth,jdbcType=VARCHAR}, #{agencyShortName,jdbcType=VARCHAR}, 
      #{productLine,jdbcType=VARCHAR}, #{subProductLine,jdbcType=VARCHAR}, #{class2,jdbcType=VARCHAR}, 
      #{class3,jdbcType=VARCHAR}, #{product,jdbcType=VARCHAR}, #{customerType,jdbcType=VARCHAR}, 
      #{inventoryType,jdbcType=VARCHAR}, #{inventoryPrice,jdbcType=DECIMAL}, #{company,jdbcType=VARCHAR}, 
      #{salesOrg,jdbcType=VARCHAR}, #{monthlyInitQty,jdbcType=INTEGER}, #{agencyPickUpDate,jdbcType=VARCHAR}, 
      #{agencyPickUpQty,jdbcType=INTEGER}, #{salesQty,jdbcType=INTEGER}, #{monthlyEndQty,jdbcType=INTEGER}, 
      #{monthlyEndInventoryPeriod,jdbcType=VARCHAR}, #{inventoryTotalAmount,jdbcType=DECIMAL}, 
      #{transferOutCustomer,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=INTEGER}, #{transferIntoCustomer,jdbcType=VARCHAR}, 
      #{transferYearMonth,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crazy.portal.entity.inventory.InventoryTransferDO">
    insert into t_inventory_transfer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="yearMonth != null">
        year_month,
      </if>
      <if test="agencyShortName != null">
        agency_short_name,
      </if>
      <if test="productLine != null">
        product_line,
      </if>
      <if test="subProductLine != null">
        sub_product_line,
      </if>
      <if test="class2 != null">
        class2,
      </if>
      <if test="class3 != null">
        class3,
      </if>
      <if test="product != null">
        product,
      </if>
      <if test="customerType != null">
        customer_type,
      </if>
      <if test="inventoryType != null">
        inventory_type,
      </if>
      <if test="inventoryPrice != null">
        inventory_price,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="salesOrg != null">
        sales_org,
      </if>
      <if test="monthlyInitQty != null">
        monthly_init_qty,
      </if>
      <if test="agencyPickUpDate != null">
        agency_pick_up_date,
      </if>
      <if test="agencyPickUpQty != null">
        agency_pick_up_qty,
      </if>
      <if test="salesQty != null">
        sales_qty,
      </if>
      <if test="monthlyEndQty != null">
        monthly_end_qty,
      </if>
      <if test="monthlyEndInventoryPeriod != null">
        monthly_end_inventory_period,
      </if>
      <if test="inventoryTotalAmount != null">
        inventory_total_amount,
      </if>
      <if test="transferOutCustomer != null">
        transfer_out_customer,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="transferIntoCustomer != null">
        transfer_into_customer,
      </if>
      <if test="transferYearMonth != null">
        transfer_year_month,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yearMonth != null">
        #{yearMonth,jdbcType=VARCHAR},
      </if>
      <if test="agencyShortName != null">
        #{agencyShortName,jdbcType=VARCHAR},
      </if>
      <if test="productLine != null">
        #{productLine,jdbcType=VARCHAR},
      </if>
      <if test="subProductLine != null">
        #{subProductLine,jdbcType=VARCHAR},
      </if>
      <if test="class2 != null">
        #{class2,jdbcType=VARCHAR},
      </if>
      <if test="class3 != null">
        #{class3,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="inventoryType != null">
        #{inventoryType,jdbcType=VARCHAR},
      </if>
      <if test="inventoryPrice != null">
        #{inventoryPrice,jdbcType=DECIMAL},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="salesOrg != null">
        #{salesOrg,jdbcType=VARCHAR},
      </if>
      <if test="monthlyInitQty != null">
        #{monthlyInitQty,jdbcType=INTEGER},
      </if>
      <if test="agencyPickUpDate != null">
        #{agencyPickUpDate,jdbcType=VARCHAR},
      </if>
      <if test="agencyPickUpQty != null">
        #{agencyPickUpQty,jdbcType=INTEGER},
      </if>
      <if test="salesQty != null">
        #{salesQty,jdbcType=INTEGER},
      </if>
      <if test="monthlyEndQty != null">
        #{monthlyEndQty,jdbcType=INTEGER},
      </if>
      <if test="monthlyEndInventoryPeriod != null">
        #{monthlyEndInventoryPeriod,jdbcType=VARCHAR},
      </if>
      <if test="inventoryTotalAmount != null">
        #{inventoryTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="transferOutCustomer != null">
        #{transferOutCustomer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="transferIntoCustomer != null">
        #{transferIntoCustomer,jdbcType=VARCHAR},
      </if>
      <if test="transferYearMonth != null">
        #{transferYearMonth,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crazy.portal.entity.inventory.InventoryTransferDO">
    update t_inventory_transfer
    <set>
      <if test="yearMonth != null">
        year_month = #{yearMonth,jdbcType=VARCHAR},
      </if>
      <if test="agencyShortName != null">
        agency_short_name = #{agencyShortName,jdbcType=VARCHAR},
      </if>
      <if test="productLine != null">
        product_line = #{productLine,jdbcType=VARCHAR},
      </if>
      <if test="subProductLine != null">
        sub_product_line = #{subProductLine,jdbcType=VARCHAR},
      </if>
      <if test="class2 != null">
        class2 = #{class2,jdbcType=VARCHAR},
      </if>
      <if test="class3 != null">
        class3 = #{class3,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="inventoryType != null">
        inventory_type = #{inventoryType,jdbcType=VARCHAR},
      </if>
      <if test="inventoryPrice != null">
        inventory_price = #{inventoryPrice,jdbcType=DECIMAL},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="salesOrg != null">
        sales_org = #{salesOrg,jdbcType=VARCHAR},
      </if>
      <if test="monthlyInitQty != null">
        monthly_init_qty = #{monthlyInitQty,jdbcType=INTEGER},
      </if>
      <if test="agencyPickUpDate != null">
        agency_pick_up_date = #{agencyPickUpDate,jdbcType=VARCHAR},
      </if>
      <if test="agencyPickUpQty != null">
        agency_pick_up_qty = #{agencyPickUpQty,jdbcType=INTEGER},
      </if>
      <if test="salesQty != null">
        sales_qty = #{salesQty,jdbcType=INTEGER},
      </if>
      <if test="monthlyEndQty != null">
        monthly_end_qty = #{monthlyEndQty,jdbcType=INTEGER},
      </if>
      <if test="monthlyEndInventoryPeriod != null">
        monthly_end_inventory_period = #{monthlyEndInventoryPeriod,jdbcType=VARCHAR},
      </if>
      <if test="inventoryTotalAmount != null">
        inventory_total_amount = #{inventoryTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="transferOutCustomer != null">
        transfer_out_customer = #{transferOutCustomer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="transferIntoCustomer != null">
        transfer_into_customer = #{transferIntoCustomer,jdbcType=VARCHAR},
      </if>
      <if test="transferYearMonth != null">
        transfer_year_month = #{transferYearMonth,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crazy.portal.entity.inventory.InventoryTransferDO">
    update t_inventory_transfer
    set year_month = #{yearMonth,jdbcType=VARCHAR},
      agency_short_name = #{agencyShortName,jdbcType=VARCHAR},
      product_line = #{productLine,jdbcType=VARCHAR},
      sub_product_line = #{subProductLine,jdbcType=VARCHAR},
      class2 = #{class2,jdbcType=VARCHAR},
      class3 = #{class3,jdbcType=VARCHAR},
      product = #{product,jdbcType=VARCHAR},
      customer_type = #{customerType,jdbcType=VARCHAR},
      inventory_type = #{inventoryType,jdbcType=VARCHAR},
      inventory_price = #{inventoryPrice,jdbcType=DECIMAL},
      company = #{company,jdbcType=VARCHAR},
      sales_org = #{salesOrg,jdbcType=VARCHAR},
      monthly_init_qty = #{monthlyInitQty,jdbcType=INTEGER},
      agency_pick_up_date = #{agencyPickUpDate,jdbcType=VARCHAR},
      agency_pick_up_qty = #{agencyPickUpQty,jdbcType=INTEGER},
      sales_qty = #{salesQty,jdbcType=INTEGER},
      monthly_end_qty = #{monthlyEndQty,jdbcType=INTEGER},
      monthly_end_inventory_period = #{monthlyEndInventoryPeriod,jdbcType=VARCHAR},
      inventory_total_amount = #{inventoryTotalAmount,jdbcType=DECIMAL},
      transfer_out_customer = #{transferOutCustomer,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=INTEGER},
      transfer_into_customer = #{transferIntoCustomer,jdbcType=VARCHAR},
      transfer_year_month = #{transferYearMonth,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>