<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../static/layui/css/layui.css">
	<link rel="stylesheet" href="../static/main/assets/css/admin.css">
	<title>紫光展锐</title>

</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header custom-header">

		<ul class="layui-nav layui-layout-left">
			<li class="layui-nav-item slide-sidebar" lay-unselect>
				<a href="javascript:;" class="icon-font"><i class="ai ai-menufold"></i></a>
			</li>
		</ul>

		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item" lay-unselect="">
				<a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
					<i class="layui-icon layui-icon-notice"></i>
				</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;"><span id="currentUser">admin</span></a>
				<dl class="layui-nav-child">
					<dd><a href="#">帮助台</a></dd>
					<dd><a href="javascript:logout()">退出</a></dd>
				</dl>
			</li>
		</ul>
	</div>

	<div class="layui-side custom-admin">
		<div class="layui-side-scroll">

			<div class="custom-logo">
				<h1>&nbsp;&nbsp;</h1>
				<img src="../static/main/assets/images/logo.png" alt=""/>
			</div>
			<ul id="Nav" class="layui-nav layui-nav-tree" >

			</ul>
		</div>
	</div>


	<div class="layui-body">
		<div class="layui-tab app-container" lay-allowClose="true" lay-filter="tabs">
			<ul id="appTabs" class="layui-tab-title custom-tab"></ul>
			<div id="appTabPage" class="layui-tab-content"></div>
		</div>
	</div>

	<div class="layui-footer">
		<p>© 2019</p>
	</div>

	<div class="mobile-mask"></div>
</div>
<script src='../static/jquery/jquery-2.1.4.min.js'></script>
<script src="../static/util/util.js" type="text/javascript"  ></script>
<script src="../static/layui/layui.all.js"></script>
<script src="../static/main/assets/js/index.js" data-main="home"></script>
<script src="../static/main/assets/js/su.js" type="text/javascript"  ></script>
<script type="text/javascript">
    $(function() {
        $("#currentUser").html(localStorage.getItem("userName"));

        var menu = JSON.parse(localStorage.getItem("menu"));
        if(!menu){
			window.location.href = "/";
		}
        $.each(menu, function(i, oneMenu){
            if(oneMenu.parentId === 0){
				var twoMenus = oneMenu.children;
                var html = '<li id="system" class="layui-nav-item" >'+
								'<a href="javascript:;">'+
								'<i class="layui-icon">&#xe609;</i>'+
							'<em>'+oneMenu.resourceName+'</em>'+
							'</a>';
				$.each(twoMenus, function(i, twoMenu){
                    html += '<dl class="layui-nav-child">'+
								'<dd><a href="'+twoMenu.resourceUrl+'">'+twoMenu.resourceName+'</a></dd>'+
							'</dl>';
                });
				html += '</li>';
                $("#Nav").append(html);
			}
        });

    });
    function logout(){
        $.getJson("/logout", function () {
            localStorage.removeItem("authorization");
            window.location.href = "/view/login.html";
        });
	}
</script>

</body>

</html>