<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/main/assets/css/view.css"/>
    <title>Portal</title>
    <style>
        .right{
            text-align: right;
        }
        td{
            padding:5px;
        }
    </style>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <table style="width:100%;">
                            <tr>
                                <td class="right">代理商名称:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" autocomplete="off" class="layui-input">
                                    </div>
                                </td>
                                <td class="right">英文名:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" >
                                    </div>
                                </td>
                                <td class="right">简称:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="right">注册日期:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" autocomplete="off" class="layui-input" >
                                    </div>
                                </td>
                                <td class="right">公司资产:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" placeholder="yyyy-mm-dd">
                                    </div>
                                </td>
                                <td class="right">公司人数:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="right">委托代表人:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" autocomplete="off" class="layui-input" >
                                    </div>
                                </td>
                                <td class="right">公司总机:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" placeholder="yyyy-mm-dd">
                                    </div>
                                </td>
                                <td class="right">传真:</td>
                                <td>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" class="layui-input" >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="right">注册地址:</td>
                                <td colspan="7">
                                    <div class="layui-input-inline" style="width: 900px;">
                                        <table>
                                            <tr>
                                                <td style="width: 100px;">
                                                    <select >
                                                        <option>省</option>
                                                    </select>
                                                </td>
                                                <td style="width: 100px;">
                                                    <select>
                                                        <option>市</option>
                                                    </select>
                                                </td >
                                                <td style="width: 100px;">
                                                    <select>
                                                        <option>区</option>
                                                    </select>
                                                </td>
                                                <td style="width:525px;">
                                                    <input type="text" class="layui-input" placeholder="详细地址"  >
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="right">办公地址:</td>
                                <td colspan="7">
                                    <div class="layui-input-inline" style="width: 900px;">
                                        <table>
                                            <tr>
                                                <td style="width: 100px;">
                                                    <select >
                                                        <option>省</option>
                                                    </select>
                                                </td>
                                                <td style="width: 100px;">
                                                    <select>
                                                        <option>市</option>
                                                    </select>
                                                </td >
                                                <td style="width: 100px;">
                                                    <select>
                                                        <option>区</option>
                                                    </select>
                                                </td>
                                                <td style="width:525px;">
                                                    <input type="text" class="layui-input" placeholder="详细地址"  >
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="right">业务介绍:</td>
                                <td colspan="7">
                                    <div class="layui-input-inline" style="width: 90%;">
                                        <textarea placeholder="" class="layui-textarea"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <li class="layui-this">主要开户行信息</li>
                            <li>股权结构</li>
                            <li>管理层及主要联系人</li>
                            <!--<li>主要优势</li>-->
                            <li>附件</li>
                        </ul>
                        <div class="layui-tab-content" style="">
                            <div class="layui-tab-item layui-show">
                                <table id="table" lay-filter="table-filter"></table>
                            </div>
                            <div class="layui-tab-item">
                                <table id="table2" lay-filter="table-filter"></table>
                            </div>
                            <div class="layui-tab-item">
                                <table id="table3" lay-filter="table-filter"></table>
                            </div>
                          <!--  <div class="layui-tab-item">
                                <input type="checkbox" name="" title="写作" checked>
                                <input type="checkbox" name="" title="发呆">
                                <input type="checkbox" name="" title="禁用" disabled>
                            </div>-->
                            <div class="layui-tab-item">
                                <table class="layui-table" style="padding-top: 20px;">
                                    <colgroup>
                                        <col width="150">
                                        <col width="200">
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>文件类型</th>
                                        <th>文件名</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <select name="city" lay-verify="required">
                                                <option value="-1">请选择附件类型</option>
                                                <option value="0">注册证明</option>
                                                <option value="1">营业执照</option>
                                                <option value="2">税务登记照</option>
                                            </select>
                                        </td>
                                        <td><div class="layui-upload">
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="file">选择文件</button>
                                            &nbsp;&nbsp;
                                            <a id="editFormSelectFileName">

                                            </a>
                                            <input type="hidden" name="fileList[0].id"/>
                                            <input type="hidden" name="fileList[0].fileName"/>
                                            <input type="hidden" name="fileList[0].fileStoragePath"/>
                                        </div></td>
                                        <td></td>
                                        <td><button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="delete">删除</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../../static/jquery/jquery-2.1.4.min.js'></script>
<script type="text/javascript"  src="../../static/util/util.js"></script>
<script src="../../static/layui/layui.all.js"></script>
<script type="text/javascript"  src="../../static/main/assets/js/su.js"></script>
<script>
    var element = layui.element;
    var table = layui.table;
    var form = layui.form;
    var laydate = layui.laydate;
    var upload = layui.upload;
    $(function() {
        loadTable();
        loadTable2();
        loadTable3();
        loadTable4();
    });
    var uploadInst = upload.render({
        elem: '#file'
        , accept: 'file'
        ,url: '/announcement/file'
        ,field:'files'
        ,multiple:true
        ,before: function(obj){

        }
        ,done: function(res){
            if(res.code === 1) {
                $('#editFormSelectFileName').html(res.data[0].fileName);
                $('input[name="fileList[0].id"]').val(res.data[0].id);
                $('input[name="fileList[0].fileName"]').val(res.data[0].fileName);
                $('input[name="fileList[0].fileStoragePath"]').val(res.data[0].fileStoragePath);
            }else{
                alert(res.msg);
            }
        }
        ,error: function(){

        }
    });
    function loadTable() {
        //展示已知数据
        table.render({
            elem: '#table'
//            , url: '/announcement/list'
//            , method: 'get'
//            , request: {pageName: 'pageNum', limitName: 'pageSize'}
//            , where: {title: $('#title').val(), releaseStartTime: $('#releaseStartTime').val()}
//            , parseData: function(res){
//                console.log(res.data.total);
//                return {
//                    "code": res.code == 1 ? 0 : res.code,
//                    "msg": res.msg,
//                    "count": res.data.total,
//                    "data": res.data.list
//                };
//            }
            , data:[]
            , skin: 'line' //表格风格
            , even: true
            , page: true
            , limits: [10, 20, 30]
            , limit: 10
            , text: {
                none: '无数据'
            }
            , cols: [[
                {field: 'id', title: 'ID', minWidth: 30, hide:true}
                , {field: 'title', title: '银行名称', minWidth: 30, unresize:true}
                , {field: 'content', title: '银行地址', minWidth: 80, unresize:true}
                , {field: 'createTimeStr', title: '账号', minWidth: 80, unresize:true}
                , {field: 'releaseTimeStr', title: '银行识别码', minWidth: 80, unresize:true}
            ]]
            ,done: function () {
//                $("[data-field='id']").css('display','none');
            }
        });
    }
    function loadTable2() {
        //展示已知数据
        table.render({
            elem: '#table2'
//            , url: '/announcement/list'
//            , method: 'get'
//            , request: {pageName: 'pageNum', limitName: 'pageSize'}
//            , where: {title: $('#title').val(), releaseStartTime: $('#releaseStartTime').val()}
//            , parseData: function(res){
//                console.log(res.data.total);
//                return {
//                    "code": res.code == 1 ? 0 : res.code,
//                    "msg": res.msg,
//                    "count": res.data.total,
//                    "data": res.data.list
//                };
//            }
            , data:[]
            , skin: 'line' //表格风格
            , even: true
            , page: true
            , limits: [10, 20, 30]
            , limit: 10
            , text: {
                none: '无数据'
            }
            , cols: [[
                {field: 'id', title: 'ID', minWidth: 30, hide:true}
                , {field: 'title', title: '股东', minWidth: 30, unresize:true}
                , {field: 'content', title: '占比', minWidth: 80, unresize:true}
            ]]
            ,done: function () {
//                $("[data-field='id']").css('display','none');
            }
        });
    }
    function loadTable3() {
        //展示已知数据
        table.render({
            elem: '#table3'
//            , url: '/announcement/list'
//            , method: 'get'
//            , request: {pageName: 'pageNum', limitName: 'pageSize'}
//            , where: {title: $('#title').val(), releaseStartTime: $('#releaseStartTime').val()}
//            , parseData: function(res){
//                console.log(res.data.total);
//                return {
//                    "code": res.code == 1 ? 0 : res.code,
//                    "msg": res.msg,
//                    "count": res.data.total,
//                    "data": res.data.list
//                };
//            }
            , data:[]
            , skin: 'line' //表格风格
            , even: true
            , page: true
            , limits: [10, 20, 30]
            , limit: 10
            , text: {
                none: '无数据'
            }
            , cols: [[
                {field: 'id', title: 'ID', minWidth: 30, hide:true}
                , {field: 'title', title: '部门', minWidth: 30, unresize:true}
                , {field: 'content', title: '姓名', minWidth: 80, unresize:true}
                , {field: 'content', title: '职位', minWidth: 80, unresize:true}
                , {field: 'content', title: '电话号码', minWidth: 80, unresize:true}
                , {field: 'content', title: '电子邮件', minWidth: 80, unresize:true}
                , {field: 'content', title: '备注', minWidth: 80, unresize:true}
            ]]
            ,done: function () {
//                $("[data-field='id']").css('display','none');
            }
        });
    }
</script>
</body>

</html>